.about-us{
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%;
    height: 100vh;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1921px;
    height: 1272.2px;
}
.canadas-fast-growing {
    position: absolute;
    top: 85.19%;
    left: 34.75%;
    line-height: 170%;
}
.group-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50px;
    background-color: #24bbe3;
    border: 1px solid #bfbdc1;
    box-sizing: border-box;
}
.get-protected-now {
    position: absolute;
    top: -62%;
    left: 0%;
}
.quick-links-parent{
    cursor: pointer;
}
.get-protected-now-wrapper {
    position: absolute;
    height: 18.33%;
    width: 46.47%;
    top: 41.67%;
    right: 26.76%;
    bottom: 40%;
    left: 26.76%;
}
.rectangle-group {
    position: absolute;
    height: 7.39%;
    width: 25.53%;
    top: 92.61%;
    right: 37.31%;
    bottom: 0%;
    left: 37.16%;
}
.we-put-our {
    position: absolute;
    top: 0px;
    left: 18.45px;
    display: inline-block;
    width: 838.7px;
}
.whether-handling-policy {
    position: absolute;
    top: 154px;
    left: 0px;
    font-size: 18.5px;
    line-height: 170%;
    display: inline-block;
    width: 875.6px;
}
.group-frame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 875.6px;
    height: 247px;
}
.group-wrapper {
    position: absolute;
    top: 0px;
    left: 228.21px;
    width: 875.6px;
    height: 247px;
}
.b {
    position: absolute;
    top: 0px;
    left: 0.5px;
}
.customer-relationships {
    position: absolute;
    top: 69px;
    left: 0px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
}
.parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 197px;
    height: 94px;
}
.policies-in-force {
    position: absolute;
    top: 69px;
    left: 0.66px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
    display: inline-block;
    width: 295px;
}
.nearly-30000-parent {
    position: absolute;
    top: 0px;
    left: 489.25px;
    width: 300px;
    height: 94px;
}
.reduction {
    position: absolute;
    top: 0px;
    left: 0px;
}
.in-insurance-provider {
    position: absolute;
    top: 69px;
    left: 0.83px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
    display: inline-block;
    width: 290px;
}
.reduction-parent {
    position: absolute;
    top: 0px;
    left: 989px;
    width: 343px;
    height: 119px;
}
.group-parent1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1332px;
    height: 119px;
}
.group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 102px;
    height: 94px;
}
.container {
    position: absolute;
    top: 0px;
    left: 489.25px;
    width: 295.7px;
    height: 119px;
}
.over-100000-parent {
    position: absolute;
    top: 0px;
    left: 989px;
    width: 290.8px;
    height: 119px;
}
.group-parent2 {
    position: absolute;
    top: 180.35px;
    left: 0px;
    width: 1279.8px;
    height: 119px;
}
.group-div {
    position: absolute;
    top: 367px;
    left: 0px;
    width: 1332px;
    height: 299.4px;
    text-align: left;
}
.group-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1332px;
    height: 666.4px;
    font-size: 42px;
    color: #073141;
    font-family: 'Plus Jakarta Sans';
}
.group-parent {
    position: absolute;
    height: 63.82%;
    width: 69.34%;
    top: 18.72%;
    right: 15.28%;
    bottom: 17.46%;
    left: 15.38%;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1921px;
    height: 1272.2px;
}
.b-insure-insurance-broker-home-inner {
    position: absolute;
    top: 920px;
    left: -1.07px;
    width: 1921px;
    height: 1272.2px;
    font-size: 32px;
    color: #7f7f7f;
    font-family: Caveat;
}
.close-line-icon {
    position: absolute;
    top: 8px;
    left: 1655px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.image-1-icon {
    position: absolute;
    top: 271px;
    left: 0px;
    width: 537px;
    height: 658px;
    object-fit: cover;
    opacity: 0.05;
}
.image-2-icon {
    position: absolute;
    top: 271px;
    left: 1433px;
    width: 487px;
    height: 649px;
    object-fit: cover;
    opacity: 0.05;
}
.infobar-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #353535;
}
.close-line-icon1 {
    position: absolute;
    height: 60%;
    width: 1.25%;
    top: 20%;
    right: 12.55%;
    bottom: 20%;
    left: 86.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.dropdown {
    margin-top: 10px;
    padding: 5px;
    display: none;
    position: fixed;
    width: 253px;
    height: fit-content;
    background-color: #fff;
    border-radius: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #f4e8e8;
    box-shadow: 0px 12px 16px -4px #10182814, -1px 3px 6px 4px #10182808;
    overflow: inherit;
    z-index: 1;
    top: 102px;
}

.dropdown-option{
    position: relative;
    width: 100%;
    height: 72px;
    /* background-color: #f8f8f8; */
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    /* align-items: center; */
}

.dropdown-option:hover {
    background-color: #e8e8e8;
}

.dropdown-option .line1 {
    width: 125px;
    position: fixed;
    font-size: 16px;
    line-height: 170%;
    display: inline-block;
    font-family: 'Plus Jakarta Sans';
    color: #373737;
    text-align: left;
}

.dropdown-option .line2 {
    width: auto;
    position: relative;
    font-size: 13px;
    letter-spacing: 0.01em;
    line-height: 300%;
    font-family: 'Plus Jakarta Sans';
    color: #7f7c7c;
    text-align: left;
    display: inline-block;
    top: 29%;
}
.heads-up-our {
    position: absolute;
    top: 26%;
    left: 12.76%;
    font-weight: 600;
}
.infobar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 40px;
    text-align: left;
}
.about-hero-background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e5f9ff;
    width: 1921px;
    height: 800px;
}
.about-hero-button-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50px;
    background-color: #24bbe3;
    border: 1px solid #24bbe3;
    box-sizing: border-box;
}
.how-we-work-wrapper {
    position: absolute;
    height: 18.33%;
    width: 31.76%;
    top: 41.67%;
    right: 34.26%;
    bottom: 40%;
    left: 33.97%;
}
.about-hero-button {
    position: absolute;
    height: 18.87%;
    width: 45.57%;
    top: 81.13%;
    right: 27.21%;
    bottom: 0%;
    left: 27.22%;
}
.were-an {
    position: absolute;
    top: 44.66px;
    left: calc(50% - 351.49px);
    white-space: pre-wrap;
}
.who-we-are {
    position: absolute;
    top: 0px;
    left: 321.06px;
    font-size: 16px;
}
.as-canadas-own {
    position: absolute;
    top: 129.66px;
    left: calc(50% - 373.05px);
    font-size: 18.5px;
    letter-spacing: 0.01em;
    line-height: 170%;
    text-align: center;
    display: inline-block;
    width: 746.1px;
}
.about-hero-heading {
    position: absolute;
    top: 0px;
    left: calc(50% - 373.05px);
    width: 746.1px;
    height: 222.7px;
    text-align: left;
    font-size: 42px;
    color: #073141;
    font-family: 'Plus Jakarta Sans';
}
.about-hero-text {
    position: absolute;
    height: 42.26%;
    width: 66.99%;
    top: 0%;
    right: 17.09%;
    bottom: 57.74%;
    left: 15.91%;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d1f5ff;
    box-sizing: border-box;
    width: 526.3px;
    height: 351.4px;
}
.icon-100-1 {
    position: absolute;
    top: 233.84px;
    left: 380.3px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.our-purpose {
    position: absolute;
    top: 58.77px;
    left: 58.68px;
}
.for-our-clients {
    position: absolute;
    top: 113.84px;
    left: 58.68px;
    font-size: 21.5px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 334px;
}
.rectangle-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 526.3px;
    height: 351.4px;
}
.icon-100-11 {
    position: absolute;
    top: 233.84px;
    left: 379.82px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.our-ambition {
    position: absolute;
    top: 58.77px;
    left: 56.54px;
}
.to-be-the {
    position: absolute;
    top: 113.84px;
    left: 56.54px;
    font-size: 21.5px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 419.3px;
}
.rectangle-parent1 {
    position: absolute;
    top: 0px;
    left: 587.47px;
    width: 526.3px;
    height: 351.4px;
}
.group-parent3 {
    position: absolute;
    top: 401.06px;
    left: 0px;
    filter: drop-shadow(0px 2px 4px rgba(16, 24, 40, 0.06)) drop-shadow(0px 4px 8px rgba(16, 24, 40, 0.1));
    width: 1113.7px;
    height: 351.4px;
    text-align: left;
    font-size: 27px;
    color: #000;
    font-family: 'Plus Jakarta Sans';
}
.about-hero-text-parent {
    position: absolute;
    height: 85.8%;
    width: 57.98%;
    top: 14.2%;
    right: 20.67%;
    bottom: 0%;
    left: 21.35%;
}
.about-hero-background-parent {
    position: absolute;
    top: 120px;
    left: -0.07px;
    width: 1921px;
    height: 876.9px;
    font-family: Poppins;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: -8px;
    border-radius: 8px;
    background-color: #2079ff;
    width: 1920px;
    height: 166.9px;
}
.add-listing-wrapper {
    align-self: stretch;
    flex: 1;
    position: relative;
}
.button-with-icon {
    position: absolute;
    height: 70.33%;
    width: 17.22%;
    top: 14.84%;
    right: 0%;
    bottom: 14.84%;
    left: 82.78%;
    border-radius: 8px;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
}
.button-with-icon1 {
    position: absolute;
    height: 70.33%;
    width: 17.22%;
    top: 14.84%;
    right: 18.36%;
    bottom: 14.84%;
    left: 64.41%;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    color: #046eb6;
}
.join-us-as {
    position: absolute;
    top: 54px;
    left: 0px;
    line-height: 170%;
}
.changing-way-of {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 32px;
    line-height: 170%;
}
.join-us-as-we-aim-to-make-heal-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 750px;
    height: 91px;
}
.group-wrapper1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 750px;
    height: 91px;
    text-align: left;
}
.button-with-icon-parent {
    position: absolute;
    height: 54.52%;
    width: 74.96%;
    top: 22.59%;
    right: 12.52%;
    bottom: 22.89%;
    left: 12.52%;
}
.rectangle-parent2 {
    position: absolute;
    top: 4376.84px;
    left: -0.07px;
    width: 1921px;
    height: 166.9px;
    font-size: 21.5px;
}
.b-insure-variants-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    border-bottom: 1px solid #f4e9e9;
    box-sizing: border-box;
}
.b-insure-variants-item {
    position: absolute;
    height: 5%;
    width: 4.58%;
    top: 95%;
    right: 51.3%;
    bottom: 0%;
    left: 44.11%;
    border-radius: 8px;
    background-color: #24bbe3;
}
.image-35-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
}
.group-child2 {
    position: absolute;
    height: 71.02%;
    width: 70.3%;
    top: 14.14%;
    right: 15.53%;
    bottom: 14.84%;
    left: 14.17%;
    background-color: #fff;
}
.image-35-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.bi-icon {
    position: absolute;
    height: 40.68%;
    width: 40.27%;
    top: 28.81%;
    right: 31.21%;
    bottom: 30.51%;
    left: 28.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: luminosity;
}
.group-parent4 {
    position: absolute;
    height: 73.75%;
    width: 3.1%;
    top: 13.75%;
    right: 84.4%;
    bottom: 12.5%;
    left: 12.5%;
}
.home {
    position: relative;
}
.home-wrapper {
    position: absolute;
    height: 79.17%;
    width: 9.54%;
    top: 10.42%;
    right: 90.46%;
    bottom: 10.42%;
    left: 0%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.individual-wrapper {
    position: absolute;
    height: 79.17%;
    width: 12.67%;
    top: 10.42%;
    right: 74.89%;
    bottom: 10.42%;
    left: 12.43%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.commercial-wrapper {
    position: absolute;
    height: 79.17%;
    width: 15.21%;
    top: 10.42%;
    right: 56.79%;
    bottom: 10.42%;
    left: 28%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.travel-wrapper {
    position: absolute;
    height: 79.17%;
    width: 9.17%;
    top: 10.42%;
    right: 44.72%;
    bottom: 10.42%;
    left: 46.11%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.support-wrapper {
    position: absolute;
    height: 79.17%;
    width: 11.47%;
    top: 10.42%;
    right: 30.36%;
    bottom: 10.42%;
    left: 58.18%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.button-with-icon2 {
    position: absolute;
    height: 100%;
    width: 17.74%;
    top: 0%;
    right: 9.72%;
    bottom: 0%;
    left: 72.54%;
    border-radius: 8px;
    background-color: rgba(0, 199, 219, 0.94);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.line-div {
    position: absolute;
    height: 60.42%;
    width: 0.24%;
    top: 20.83%;
    right: 6.52%;
    bottom: 18.75%;
    left: 93.24%;
    border-right: 2px solid #e2e2e2;
    box-sizing: border-box;
}
.search-line-icon {
    position: absolute;
    height: 66.67%;
    width: 3.86%;
    top: 16.67%;
    right: 0%;
    bottom: 16.67%;
    left: 96.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.frame-parent {
    position: absolute;
    height: 60%;
    width: 43.15%;
    top: 17.5%;
    right: 12.5%;
    bottom: 22.5%;
    left: 44.35%;
}
.binsure {
    position: absolute;
    top: 41.25%;
    left: 16.09%;
    font-size: 20px;
    font-family: Cunia;
    color: #1e1e1e;
}
.b-insure-variants {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 1920px;
    height: 80px;
    text-align: left;
    color: #2b2b2b;
}
.about-hero-background1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1921px;
    height: 1061.5px;
}
.join-our-team {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 140%;
}
.arrow-left-s-line-icon {
    position: absolute;
    top: 0px;
    left: 149.87px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: contain;
}
.join-our-team-parent {
    position: absolute;
    top: 954.1px;
    left: 870.57px;
    width: 179.9px;
    height: 30px;
}
.our-leadership {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 838.7px;
}
.our-forward-looking-company {
    margin: 0;
}
.our-forward-looking-company-container {
    position: absolute;
    top: 76.8px;
    left: 107px;
    font-size: 18px;
    line-height: 170%;
}
.our-leadership-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 838.7px;
    height: 138.8px;
}
.group-wrapper3 {
    position: absolute;
    top: 0px;
    left: 282.64px;
    width: 838.7px;
    height: 138.8px;
}
.group-child3 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    box-sizing: border-box;
    width: 457.8px;
    height: 445.8px;
}
.ceo {
    margin: 0;
    font-size: 21.5px;
}
.johan-karlsson-ceo-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 170%;
    display: inline-block;
    width: 176px;
}
.johan-karlsson-is {
    position: absolute;
    top: 104.48px;
    left: calc(50% - 195.65px);
    font-size: 18px;
    line-height: 170%;
    display: inline-block;
    width: 391.3px;
}
.johan-karlsson-ceo-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 391.3px;
    height: 228.5px;
}
.group-wrapper7 {
    position: absolute;
    top: 52.66px;
    left: 33.24px;
    width: 391.3px;
    height: 228.5px;
}
.group-wrapper6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 457.8px;
    height: 445.8px;
}
.anna-rask-is {
    position: absolute;
    top: 104.48px;
    left: calc(50% - 192.05px);
    font-size: 18px;
    line-height: 170%;
    display: inline-block;
    width: 384.1px;
}
.anna-rask-cfo-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 384.1px;
    height: 228.5px;
}
.group-wrapper9 {
    position: absolute;
    top: 52.66px;
    left: 36.82px;
    width: 384.1px;
    height: 228.5px;
}
.group-wrapper8 {
    position: absolute;
    top: 0px;
    left: 491.11px;
    width: 457.8px;
    height: 445.8px;
}
.jenny-magnusson-cmo-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 170%;
}
.jenny-magnusson-is {
    position: absolute;
    top: 104.48px;
    left: calc(50% - 189.55px);
    font-size: 18px;
    line-height: 170%;
    display: inline-block;
    width: 379.1px;
}
.jenny-magnusson-cmo-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 379.1px;
    height: 228.5px;
}
.group-wrapper11 {
    position: absolute;
    top: 52.66px;
    left: 39.35px;
    width: 379.1px;
    height: 228.5px;
}
.group-wrapper10 {
    position: absolute;
    top: 0px;
    left: 982.21px;
    width: 457.8px;
    height: 445.8px;
}
.group-parent7 {
    position: absolute;
    top: 258.8px;
    left: 0px;
    width: 1440px;
    height: 445.8px;
    text-align: left;
    font-size: 24px;
}
.group-parent6 {
    position: absolute;
    top: 150.05px;
    left: 240.5px;
    width: 1440px;
    height: 704.6px;
    font-size: 42px;
}
.about-hero-background-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1921px;
    height: 1061.5px;
}
.section-4-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f8f8f8;
    width: 1920px;
    height: 216.3px;
}
.our-latest-partners-wrapper {
    position: absolute;
    top: 39.5px;
    left: 0px;
    width: 294px;
    height: 54px;
}
.image-11-icon {
    position: absolute;
    top: 16.4px;
    left: 0px;
    width: 120px;
    height: 100.8px;
    object-fit: cover;
}
.image-11-wrapper {
    position: absolute;
    top: 0.5px;
    left: 0px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.image-8-icon {
    position: absolute;
    top: 17.6px;
    left: 14.8px;
    width: 95.6px;
    height: 84px;
    object-fit: cover;
}
.image-8-wrapper {
    position: absolute;
    top: 0.5px;
    left: 144px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.image-12-icon {
    position: absolute;
    top: 16.8px;
    left: 0px;
    width: 113.6px;
    height: 103.2px;
    object-fit: cover;
}
.image-12-wrapper {
    position: absolute;
    top: 0.5px;
    left: 288px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.image-9-icon {
    position: absolute;
    top: 0px;
    left: 14.8px;
    width: 105.2px;
    height: 120px;
    object-fit: cover;
}
.image-9-wrapper {
    position: absolute;
    top: 0.5px;
    left: 432px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.frame-child {
    position: absolute;
    top: 0.5px;
    left: 576px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
}
.frame-item {
    position: absolute;
    top: 0.5px;
    left: 720px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
}
.frame-inner {
    position: absolute;
    top: 0.5px;
    left: 864px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
}
.image-16-icon {
    position: absolute;
    top: 15.6px;
    left: 0px;
    width: 120px;
    height: 104.4px;
    object-fit: cover;
}
.image-16-wrapper {
    position: absolute;
    top: 0.5px;
    left: 1008px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.image-13-wrapper {
    position: absolute;
    top: 0.5px;
    left: 1152px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move left by 50% of the container's width */
    }
}
.frame-group {
    position: absolute;
    top: 0px;
    left: 654px;
    width: 786px;
    height: 122px;
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    display: flex;
    align-items: center; /* Vertically center the images */
}
.frame-parent-inner {
    display: flex;
	width: 200%; /* Double the width to accommodate the duplicated images */
    animation: moveRight 10s linear infinite;
	height: 122px;
}

.frame-parent-inner img {
    flex-shrink: 0; /* Prevent images from shrinking */
    margin-right: 10px; /* Adjust the gap between images as needed */
}
.group-parent8 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 120px;
}
.section-4-inner {
    position: absolute;
    top: 48.67px;
    left: 240px;
    width: 1440px;
    height: 120px;
}
.section-4 {
    position: absolute;
    top: 1061.51px;
    left: 0.07px;
    width: 1920px;
    height: 216.3px;
    text-align: left;
    font-size: 32px;
    font-family: Manrope;
}
.group-parent5 {
    position: absolute;
    top: 3099.05px;
    left: -0.07px;
    width: 1921px;
    height: 1277.8px;
    font-size: 21.5px;
    color: #073141;
}
.group-child6 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fcfcfc;
    width: 1921px;
    height: 869.5px;
}
.community-and-culture-container {
    position: absolute;
    top: 68.69px;
    left: 0.16px;
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 170%;
    text-align: left;
}
.our-values-parent {
    position: absolute;
    top: 0px;
    left: 0.34px;
    width: 470.2px;
    height: 136.7px;
}
.were-solving-problems-container {
    position: absolute;
    top: 55.28px;
    left: 0px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
}
.solving-problems-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 312px;
    height: 105.3px;
}
.but-never-assume-container {
    position: absolute;
    top: 57.64px;
    left: 0px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
}
.seek-the-truth-parent {
    position: absolute;
    top: 210.28px;
    left: 0px;
    width: 306px;
    height: 107.6px;
}
.group-parent12 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 312px;
    height: 317.9px;
}
.members-above-all {
    position: absolute;
    top: 55.28px;
    left: 0.66px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
    display: inline-block;
    width: 295px;
}
.powered-by-people-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 295.7px;
    height: 130.3px;
}
.develop-and-display {
    position: absolute;
    top: 57.64px;
    left: 0.66px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
    display: inline-block;
    width: 295px;
}
.inspire-provoke-parent {
    position: absolute;
    top: 210.28px;
    left: 0px;
    width: 295.7px;
    height: 107.6px;
}
.group-parent13 {
    position: absolute;
    top: 0px;
    left: 535.07px;
    width: 295.7px;
    height: 317.9px;
}
.admit-your-mistakes {
    position: absolute;
    top: 55.28px;
    left: 0.83px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
    display: inline-block;
    width: 290px;
}
.make-it-right-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 290.8px;
    height: 105.3px;
}
.give-and-ask {
    position: absolute;
    top: 57.64px;
    left: 0.83px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    color: #4d4c4c;
    display: inline-block;
    width: 335.8px;
}
.be-transparent-parent {
    position: absolute;
    top: 210.28px;
    left: 0px;
    width: 336.6px;
    height: 107.6px;
}
.group-parent14 {
    position: absolute;
    top: 0px;
    left: 1053.8px;
    width: 336.6px;
    height: 317.9px;
}
.group-parent11 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1390.4px;
    height: 317.9px;
}
.group-wrapper12 {
    position: absolute;
    top: 240.31px;
    left: 0px;
    width: 1390.4px;
    height: 317.9px;
    text-align: left;
    font-size: 28.5px;
}
.group-parent10 {
    position: absolute;
    top: 104.19px;
    left: 269.79px;
    width: 1390.4px;
    height: 558.2px;
}
.rectangle-parent6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1921px;
    height: 869.5px;
}
.plant-pot-1-icon {
    position: absolute;
    top: 80.03px;
    left: 1504.58px;
    width: 143px;
    height: 143px;
    overflow: hidden;
}
.group-parent9 {
    position: absolute;
    top: 2229.59px;
    left: -1.07px;
    width: 1921px;
    height: 869.5px;
    font-size: 42px;
    color: #073141;
}
.b-insure-variantsfooter-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    right: 0%;
    bottom: -100%;
    left: 0%;
    background-color: #353535;
}
.group-child7 {
    position: absolute;
    height: 71.05%;
    width: 70.35%;
    top: 14.14%;
    right: 15.49%;
    bottom: 14.81%;
    left: 14.16%;
    background-color: #fff;
}
.bi-icon1 {
    position: absolute;
    height: 40.68%;
    width: 40.28%;
    top: 28.81%;
    right: 31.2%;
    bottom: 30.51%;
    left: 28.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: luminosity;
}
.group-wrapper14 {
    position: absolute;
    height: 50.21%;
    width: 59.92%;
    top: 0%;
    right: 40.08%;
    bottom: 49.79%;
    left: 0%;
}
.po-box-9999-container {
    position: absolute;
    top: 57.14%;
    left: 0%;
}
.group-parent15 {
    position: absolute;
    height: 46.74%;
    width: 12.34%;
    top: 13.52%;
    right: 74.64%;
    bottom: 39.73%;
    left: 13.02%;
    font-size: 21px;
}
.b-insure-variantsfooter-item {
    position: absolute;
    height: 0.33%;
    width: 75.1%;
    top: 80.8%;
    right: 12.45%;
    bottom: 18.86%;
    left: 12.45%;
    border-top: 2px solid #4d4d4d;
    box-sizing: border-box;
}
.quick-links {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 21px;
}
.sitemap {
    position: absolute;
    top: 21.05%;
    left: 0%;
    cursor: pointer;
}
.careers {
    position: absolute;
    top: 35.79%;
    left: 0%;
    cursor: pointer;
}
.contact-us {
    position: absolute;
    top: 50.53%;
    left: 0%;
    cursor: pointer;
}
.blog {
    position: absolute;
    top: 65.26%;
    left: 0%;
}
.faqs {
    position: absolute;
    top: 80%;
    left: 0%;
}
.about {
    position: absolute;
    top: 94.74%;
    left: 0%;
}
.quick-links-parent {
    position: absolute;
    height: 47.58%;
    width: 5.78%;
    top: 13.52%;
    right: 27.45%;
    bottom: 38.9%;
    left: 66.77%;
}
.terms-of-use {
    position: absolute;
    top: 36.94%;
    left: 0%;
    cursor: pointer;
}
.privacy-policy {
    position: absolute;
    top: 63.69%;
    left: 0%;
    cursor: pointer;
}
.cookie-policy {
    position: absolute;
    top: 90.45%;
    left: 0%;
    cursor: pointer;
}
.terms-of-use-parent {
    position: absolute;
    height: 26.21%;
    width: 6.88%;
    top: 13.52%;
    right: 13.85%;
    bottom: 60.27%;
    left: 79.27%;
}
.copyright-2024 {
    position: absolute;
    top: 87.15%;
    left: 13.02%;
    white-space: pre-wrap;
}
.b-insure-variantsfooter-inner {
    position: absolute;
    height: 13.02%;
    width: 4.06%;
    top: 74.46%;
    right: 4.43%;
    bottom: 12.52%;
    left: 91.51%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.b-insure-variantsfooter {
    position: absolute;
    top: 4543.77px;
    left: 0px;
    width: 1920px;
    height: 599px;
    text-align: left;
    font-size: 20px;
    background-color: #353535;
}
.b-insure-insurance-broker-home {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 5138px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'Plus Jakarta Sans';
}
@media(max-width :1285px){
    .frame-parent,.b-insure-variants-item{
        margin-left: -400px;
    }
    .about-hero-text{
        margin-left: -200px;
    }
    .group-parent3{
        margin-left: -180px;
    }
    .group-parent1{
        margin-left: -50px;
    }
    .group-parent11{
        margin-left: -190px;
    }
    .binsure{
        margin-left: -170px;
    }
    .group-parent31{
        margin-left: -190px;
    }
    .group-parent12{
        margin-left: -190px;
    }
    .group-parent8{
        margin-left: -180px;
    }
    .group-parent20{
        margin-left: -190px;
    }
    .group-parent14{
        margin-left: -190px;
    }
    .group-parent10{
        margin-left: -190px;

    }
    .the-raw-materials-finished-pr-parent{
        margin-left: -100px;
    }
    .button-with-icon5{
        margin-left: -210px;
    }
    .group-child27,.group-child26{
        margin-left: -190px;
    }
    .container{
        margin-left: -190px;
    }
    .group-parent1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .frequently-asked-questions-parent,.i-have-a,.arrow-left-s-line-icon{
        margin-left: -190px;

    }
    
    .group-parent23,.group-parent25,.group-parent27,.group-parent29{
        margin-left: -190px;
    }
    .join-the-team-that-is-making-h-parent{
        margin-left: -190px;

    }
    .quick-links-parent,.terms-of-use-parent{
        margin-left: -390px;
        
    }
    .group-parent{
        margin-left: -190px;
    }
    .button-with-icon1{
        margin-left: -250px;
    }
    .button-with-icon{
        margin-left: -250px;
    }
    .close-line-icon1{
        margin-left: -400px;

    }
    .group-div{
        margin-left: -30px;
    }
    .canadas-fast-growing{
        margin-left: -190px;
    }
    .group-parent11{
        margin-left: 150px;
    }
    .our-values-parent{
        margin-left: -50px;
    }
    .group-parent6{
        margin-left: -200px;
    }
    .join-our-team{
        margin-left: -200px;
    }
    .changing-way-of,.join-us-as{
        margin-left: -150px;
    }
}
@media(max-width: 1185px){
   .group-parent{
    transform: scale(0.9);
    margin-left: -190px;
   }
   .about-hero-text-parent{
    margin-left: -70px;
   }
   .group-parent6{
    transform: scale(0.9);
    margin-left: -250px;
   }
   .group-div{
    margin-left: -100px;
   }
   .group-parent13,.group-parent14{
    margin-left: -300px;
   }
   .group-parent7{
    margin-left: -60px;
   }
   .frame-parent-inner{
    margin-left: -650px;
   }
   .join-us-as-we-aim-to-make-heal-parent{
    transform: scale(0.9);
    margin-left: -100px;
   }
   .button-with-icon-parent{
    margin-left: -100px;
    transform: scale(0.9);
   }
   .group-parent15{
    margin-left: -200px;
   }
   .quick-links-parent,.terms-of-use-parent{
    margin-left: -500px;
   }
}
@media(max-width: 1027px){
    .about-us{
        transform: scale(0.72);
        width: 145%;
    }
}
@media(max-width: 940px){
    .about-us{
        transform: scale(0.65);
        width: 155%;
    }
}
@media(max-width: 863px){
    .about-us{
        transform: scale(0.6);
        width: 168%;
    }
}
@media(max-width: 800px){
    .about-us{
        transform: scale(0.55);
        width: 185%;
    }
}
.quick-links-parent{
    cursor: pointer;
}



