body{
    height: 100vh;
}
.liable{
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%;
    height: 125%;
}
.image-1-icon {
    position: absolute;
    top: 366px;
    left: -0.5px;
    width: 537px;
    height: 658px;
    object-fit: cover;
    opacity: 0.5;
}
.image-2-icon {
    position: absolute;
    top: 366px;
    left: 1432.5px;
    width: 487px;
    height: 649px;
    object-fit: cover;
    opacity: 0.5;
}
.dropdown {
    margin-top: 10px;
    padding: 5px;
    display: none;
    position: fixed;
    width: 253px;
    height: fit-content;
    background-color: #fff;
    border-radius: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #f4e8e8;
    box-shadow: 0px 12px 16px -4px #10182814, -1px 3px 6px 4px #10182808;
    overflow: inherit;
    z-index: 1;
    top: 102px;
}
.dropdown-option{
    position: relative;
    width: 100%;
    height: 72px;
    /* background-color: #f8f8f8; */
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    /* align-items: center; */
}

.dropdown-option:hover {
    background-color: #e8e8e8;
}

.dropdown-option .line1 {
    width: 125px;
    position: fixed;
    font-size: 16px;
    line-height: 170%;
    display: inline-block;
    font-family: 'Plus Jakarta Sans';
    color: #373737;
    text-align: left;
}

.dropdown-option .line2 {
    width: auto;
    position: relative;
    font-size: 13px;
    letter-spacing: 0.01em;
    line-height: 300%;
    font-family: 'Plus Jakarta Sans';
    color: #7f7c7c;
    text-align: left;
    display: inline-block;
    top: 29%;
}

.close-line-icon {
    position: absolute;
    top: 8px;
    left: 1654.51px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.image-1-icon1 {
    position: absolute;
    top: 271px;
    left: -0.49px;
    width: 537px;
    height: 658px;
    object-fit: cover;
    opacity: 0.05;
}
.image-2-icon1 {
    position: absolute;
    top: 271px;
    left: 1432.51px;
    width: 487px;
    height: 649px;
    object-fit: cover;
    opacity: 0.05;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #353535;
    width: 1920px;
    height: 599px;
}
.image-35-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
}
.group-item {
    position: absolute;
    height: 71.05%;
    width: 70.35%;
    top: 14.14%;
    right: 15.49%;
    bottom: 14.81%;
    left: 14.16%;
    background-color: #fff;
}
.bi-icon {
    position: absolute;
    height: 40.68%;
    width: 40.28%;
    top: 28.81%;
    right: 31.2%;
    bottom: 30.51%;
    left: 28.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: luminosity;
}
.group-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-wrapper {
    position: absolute;
    height: 50.21%;
    width: 59.92%;
    top: 0%;
    right: 40.08%;
    bottom: 49.79%;
    left: 0%;
}
.blank-line {
    margin: 0;
}
.po-box-9999-container {
    position: absolute;
    top: 160px;
    left: 0px;
}
.group-container {
    position: absolute;
    height: 46.74%;
    width: 12.34%;
    top: 13.52%;
    right: 74.64%;
    bottom: 39.73%;
    left: 13.02%;
    font-size: 21px;
}
.group-inner {
    position: absolute;
    top: 485px;
    left: 240px;
    border-top: 2px solid #4d4d4d;
    box-sizing: border-box;
    width: 1442px;
    height: 2px;
}
.quick-links {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 21px;
}
.sitemap {
    position: absolute;
    top: 60px;
    left: 0px;
}
.careers {
    position: absolute;
    top: 102px;
    left: 0px;
}
.contact-us {
    position: absolute;
    top: 144px;
    left: 0px;
}
.insurance {
    position: absolute;
    top: 186px;
    left: 0px;
}
.blog {
    position: absolute;
    top: 228px;
    left: 0px;
}
.faqs {
    position: absolute;
    top: 270px;
    left: 0px;
}
.about {
    position: absolute;
    top: 312px;
    left: 0px;
}
.quick-links-parent {
    position: absolute;
    top: 81px;
    left: 1282px;
    width: 111px;
    height: 327px;
}
.terms-of-use {
    position: absolute;
    top: 58px;
    left: 0px;
}
.privacy-policy {
    position: absolute;
    top: 100px;
    left: 0px;
}
.cookie-policy {
    position: absolute;
    top: 142px;
    left: 0px;
}
.terms-of-use-parent {
    position: absolute;
    top: 81px;
    left: 1522px;
    width: 132px;
    height: 157px;
}
.copyright-2024 {
    position: absolute;
    top: 522px;
    left: 250px;
    white-space: pre-wrap;
}
.group-icon {
    position: absolute;
    top: 446px;
    left: 1757px;
    width: 78px;
    height: 78px;
    cursor: pointer;
}
.rectangle-parent {
    position: absolute;
    top: 166.93px;
    left: 0.07px;
    width: 1920px;
    height: 599px;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2079ff;
    width: 1921px;
    height: 166.9px;
}
.add-listing {
    position: absolute;
    top: -3px;
    left: 0px;
}
.add-listing-wrapper {
    align-self: stretch;
    flex: 1;
    position: relative;
}
.add-listing1 {
    position: absolute;
    top: 0px;
    left: 30px;
}
.add-listing2 {
    position: absolute;
    top: 0px;
    left: 2px;
}
.button-with-icon {
    position: absolute;
    height: 70.33%;
    width: 17.22%;
    top: 14.84%;
    right: 0%;
    bottom: 14.84%;
    left: 82.78%;
    border-radius: 8px;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
}
.button-with-icon1 {
    position: absolute;
    height: 70.33%;
    width: 17.22%;
    top: 14.84%;
    right: 18.36%;
    bottom: 14.84%;
    left: 64.41%;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    color: #046eb6;
}
.join-the-team {
    position: absolute;
    top: 54px;
    left: 0px;
    line-height: 170%;
}
.change-insurance-for {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 32px;
    line-height: 170%;
}
.join-the-team-that-is-making-h-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 773px;
    height: 91px;
}
.group-wrapper1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 773px;
    height: 91px;
    text-align: left;
}
.button-with-icon-parent {
    position: absolute;
    height: 54.52%;
    width: 74.96%;
    top: 22.59%;
    right: 12.52%;
    bottom: 22.89%;
    left: 12.52%;
}
.rectangle-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1921px;
    height: 166.9px;
    text-align: center;
    font-size: 21.5px;
}
.group-parent {
    position: absolute;
    top: 10115.91px;
    left: -0.56px;
    width: 1921px;
    height: 765.9px;
    font-size: 20px;
    color: #fff;
}
.about-hero-background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f9f9f9;
    width: 1921px;
    height: 904px;
}
.trusted-by-over-container {
    position: absolute;
    top: 0px;
    left: 59.97px;
    line-height: 153%;
    display: inline-block;
    width: 232.1px;
}
.vector-icon {
    position: absolute;
    height: 73.21%;
    width: 13.01%;
    top: 14.32%;
    right: 86.99%;
    bottom: 12.47%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.trusted-by-over-10000-canadia-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 292.1px;
    height: 56px;
}
.save-up-to {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 153%;
    display: inline-block;
    width: 193.9px;
}
.save-up-to-35-on-your-insuran-wrapper {
    position: absolute;
    top: 0px;
    left: 62.97px;
    width: 193.9px;
    height: 56px;
}
.flying-money-1-icon {
    position: absolute;
    top: 8px;
    left: 0px;
    width: 41px;
    height: 40px;
    overflow: hidden;
    object-fit: contain;
}
.group-parent2 {
    position: absolute;
    top: 0px;
    left: 334.68px;
    width: 256.9px;
    height: 56px;
}
.group-parent1 {
    position: absolute;
    top: 522.5px;
    left: 293.05px;
    width: 591.6px;
    height: 56px;
}
.commercial {
    font-family: Manrope;
}
.commercial-general-liability-container {
    position: absolute;
    top: 216.5px;
    left: 288.05px;
    font-size: 48px;
    font-family: Manrope;
}
.buttons-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #0086aa;
    box-sizing: border-box;
}
.how-it-works {
    position: absolute;
    top: 32.03%;
    left: 24.34%;
    letter-spacing: 0.01em;
}
.buttons {
    position: absolute;
    top: 624.5px;
    left: 288.05px;
    border-radius: 4px;
    background-color: #fff;
    width: 226px;
    height: 64px;
    text-align: center;
    color: #0086aa;
}
.protect-your-small {
    position: absolute;
    top: 394.5px;
    left: 293.06px;
    font-size: 24px;
    letter-spacing: 0.01em;
    line-height: 170%;
    display: inline-block;
    width: 737px;
}
.group-child1 {
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: 0px -4px 6px 6px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    border-radius: 30px;
    background-color: #fff;
    width: 481.5px;
    height: 626px;
}
.terms-of-use1 {
    text-decoration: underline;
}
.i-agree-to-container {
    position: absolute;
    top: 542.02px;
    left: 43.45px;
    line-height: 170%;
}
.group-child2 {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50px;
    background-color: #24bbe3;
    border: 1px solid #bfbdc1;
    box-sizing: border-box;
    width: 379.6px;
    height: 60px;
}
.get-a-free {
    position: absolute;
    top: 0px;
    left: calc(50% - 189.5px);
    width: 100%;
    height: 99%;
    background-color: transparent;
    border-color: transparent;
    font-family: jakarata-sans;
    color: white;
    cursor: pointer;
    font-size: large;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
}
.group-wrapper4 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 379.6px;
    height: 60px;
}
.group-wrapper3 {
    position: absolute;
    top: 423.12px;
    right: 0.1px;
    width: 379.6px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.your-name {
    position: absolute;
    top: 0%;
    left: 0%;
    line-height: 26px;
}
.group-child3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50px;
    background-color: rgba(212, 212, 212, 0.2);
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Plus Jakarta Sans';
    padding: 10px;
    position: relative;
}

.input-wrapper .group-child3{
    border-radius: 0 50px 50px 0;
    width: 76%;
    height: 47px;
}
 /* Hide the spinner for number input */
 input[type=number]::-webkit-outer-spin-button,
 input[type=number]::-webkit-inner-spin-button,
 input[type=number] {
     -webkit-appearance: none;
     margin: 0;
 }
.country-code-select {
    padding: 10px;
    background-color: rgba(212, 212, 212, 0.2);
    border: 1px solid #c0c0c0;
    border-radius: 50px 0 0 50px; /* Rounded corners for the left side */
    font-family: 'Plus Jakarta Sans';
    font-size: large;
    height: calc(100% - 22px); /* Adjust height to match the input field */
    box-sizing: border-box;
}
.your-name1 {
    position: absolute;
    top: 24.89%;
    left: 5.45%;
}
.rectangle-parent2 {
    position: absolute;
    height: 66.67%;
    width: 100%;
    top: 33.33%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    font-family: Poppins;
}
.your-name-parent {
    position: absolute;
    height: 16.77%;
    width: 99.97%;
    top: 0%;
    right: 0.03%;
    bottom: 83.23%;
    left: 0%;
}
.span1 {
    color: #8c1823;
}
.contact-number {
    position: absolute;
    top: 24.89%;
    left: 21.87%;
}
.div {
    position: absolute;
    top: 0.17%;
    left: 0%;
}
.arrow-up-s-line-icon {
    position: absolute;
    height: 100%;
    width: 40.68%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 59.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.parent {
    position: absolute;
    height: 44.44%;
    width: 15.54%;
    top: 27.78%;
    right: 80.5%;
    bottom: 27.78%;
    left: 3.96%;
}
.group-parent4 {
    position: absolute;
    height: 65.85%;
    width: 100%;
    top: 34.15%;
    right: -0.01%;
    bottom: 0%;
    left: 0.01%;
    font-family: Poppins;
}
.contact-number-parent {
    position: absolute;
    height: 16.97%;
    width: 99.97%;
    top: 65.95%;
    right: 0.03%;
    bottom: 17.08%;
    left: 0%;
}
.arrow-up-s-line-icon1 {
    position: absolute;
    height: 44.44%;
    width: 6.32%;
    top: 27.78%;
    right: 5.11%;
    bottom: 27.78%;
    left: 88.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.weeks {
    position: absolute;
    top: 24.89%;
    left: 5.27%;
    line-height: 26px;
}
.rectangle-parent4 {
    position: absolute;
    height: 63.53%;
    width: 100%;
    top: 36.47%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.planning-to-buy {
    position: absolute;
    top: 0%;
    left: 0%;
    line-height: 26px;
    font-family: 'Plus Jakarta Sans';
}
.group-parent5 {
    position: absolute;
    height: 17.59%;
    width: 99.95%;
    top: 21.43%;
    right: 0.05%;
    bottom: 60.98%;
    left: 0%;
    font-family: Poppins;
}
.email-address {
    position: absolute;
    top: 24.89%;
    left: 5.44%;
}
.rectangle-parent5 {
    position: absolute;
    height: 63.53%;
    width: 99.97%;
    top: 36.47%;
    right: 0%;
    bottom: 0%;
    left: 0.02%;
}
.group-parent6 {
    position: absolute;
    height: 17.59%;
    width: 100%;
    top: 43.69%;
    right: 0%;
    bottom: 38.72%;
    left: 0%;
    font-family: Poppins;
}
.group-parent3 {
    position: absolute;
    top: 36.37px;
    right: 58.35px;
    width: 379.7px;
    height: 483.1px;
    color: #5a5555;
    font-family: 'Plus Jakarta Sans';
}
.rectangle-container {
    position: absolute;
    top: 138.98px;
    right: 260.29px;
    width: 481.5px;
    height: 626px;
    font-size: 16px;
    color: #5c6163;
    font-family: Lora;
}
.about-hero-background-parent {
    position: absolute;
    top: 120px;
    left: -0.56px;
    width: 1921px;
    height: 904px;
    font-size: 18px;
}
.about-hero-background-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1921px;
    height: 936.9px;
}
.why-choose {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 838.7px;
}
.we-help-canadian-container {
    position: absolute;
    top: 76.8px;
    left: 57px;
    font-size: 21.5px;
    line-height: 170%;
}
.why-choose-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 838.7px;
    height: 150.8px;
}
.group-wrapper5 {
    position: absolute;
    top: 0px;
    left: 282.38px;
    width: 838.7px;
    height: 150.8px;
}
.group-child7 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    box-sizing: border-box;
    width: 454.3px;
    height: 384.2px;
}
.icon-100-1 {
    position: absolute;
    top: 256.25px;
    left: 326px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.convenience {
    position: absolute;
    top: 40.55px;
    left: 33.55px;
}
.purchase-your-insurance {
    position: absolute;
    top: 95.62px;
    left: 33.55px;
    font-size: 21.5px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 402.9px;
}
.rectangle-parent6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 454.3px;
    height: 384.2px;
}
.icon-100-11 {
    position: absolute;
    top: 256.25px;
    left: 330.41px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.cost {
    position: absolute;
    top: 40.55px;
    left: 40.2px;
}
.compare-rates-across {
    position: absolute;
    top: 95.62px;
    left: 40.2px;
    font-size: 21.5px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 373.9px;
}
.rectangle-parent7 {
    position: absolute;
    top: 0px;
    left: 489.28px;
    width: 454.3px;
    height: 384.2px;
}
.rectangle-parent8 {
    position: absolute;
    top: 0px;
    left: 978.56px;
    width: 454.3px;
    height: 384.2px;
}
.group-parent8 {
    position: absolute;
    top: 218.8px;
    left: 0px;
    width: 1432.8px;
    height: 384.2px;
    text-align: left;
    font-size: 27px;
    color: #000;
}
.group-parent7 {
    position: absolute;
    top: 214.08px;
    left: 240.77px;
    width: 1432.8px;
    height: 603px;
}
.about-hero-background-group {
    position: absolute;
    top: 1165.19px;
    left: -1.27px;
    width: 1921px;
    height: 936.9px;
    text-align: center;
    font-size: 42px;
}
.group-child10 {
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #f9f9f9;
    width: 1920px;
    height: 803px;
}
.feature-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f9f9f9;
    width: 1920px;
    height: 1024px;
    overflow: hidden;
}
.group-child11 {
    position: absolute;
    height: 56.83%;
    width: 27.04%;
    top: 21.59%;
    right: 53.82%;
    bottom: 21.58%;
    left: 19.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.commercial-general-liability1 {
    width: 649px;
    position: relative;
    line-height: 48px;
    display: inline-block;
}
.commercial-general-liability-i-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.over-15-of-container {
    position: absolute;
    top: 126px;
    left: 0px;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    width: 608.6px;
}
.button-with-icon2 {
    position: absolute;
    height: 9.88%;
    width: 22.65%;
    top: 90.12%;
    right: 77.35%;
    bottom: 0%;
    left: 0%;
    border-radius: 8px;
    background-color: #24bbe3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.frame-paren {
    position: absolute;
    top: 269.1px;
    left: 1031.6px;
    width: 649px;
    height: 485.8px;
}
.group-wrapper8 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1024px;
}
.general-liability-inner {
    position: absolute;
    top: 2102.09px;
    left: -0.56px;
    width: 1920px;
    height: 1024px;
    font-size: 40px;
    color: #121d2f;
}
.group-child12 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1920px;
    height: 895px;
}
.other-business-insurance-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 150%;
}
.errors-and-omissions {
    margin-bottom: 0px;
}
.errors-and-omissions-insurance {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 24px;
}
.errors-and-omissions-container {
    position: absolute;
    top: 131.31px;
    left: 0px;
    font-size: 18px;
    line-height: 254%;
    font-weight: 500;
}
.other-business-insurance-cover-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 620px;
    height: 637.3px;
}
.ways-to-avoid {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 150%;
    display: inline-block;
    width: 620px;
}
.preventative-measures-in {
    position: absolute;
    top: 137.51px;
    left: 0px;
    font-size: 21.5px;
    line-height: 170%;
    font-weight: 500;
    display: inline-block;
    width: 697.9px;
}
.maintain-safety-standards {
    font-family: 'Plus Jakarta Sans';
}
.maintain-safety-standards-whi {
    margin: 0;
    font-size: inherit;
    padding-left: 21px;
}
.maintain-safety-standards-container {
    position: absolute;
    top: 277.31px;
    left: 0px;
    font-size: 16px;
    line-height: 250%;
    display: inline-block;
    width: 703.8px;
}
.ways-to-avoid-a-commercial-gen-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 703.8px;
    height: 677.3px;
}
.group-wrapper13 {
    position: absolute;
    top: 0px;
    left: 723px;
    width: 703.8px;
    height: 677.3px;
}
.group-parent10 {
    position: absolute;
    top: 108.82px;
    left: 254.14px;
    width: 1426.8px;
    height: 677.3px;
}
.rectangle-parent10 {
    position: absolute;
    top: 8175.94px;
    left: -0.92px;
    width: 1920px;
    height: 895px;
    font-size: 36px;
}
.infobar-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #353535;
}
.close-line-icon1 {
    position: absolute;
    height: 60%;
    width: 1.25%;
    top: 20%;
    right: 12.55%;
    bottom: 20%;
    left: 86.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.heads-up-our {
    position: absolute;
    top: 19%;
    left: 12.76%;
    font-weight: 600;
}
.infobar {
    position: absolute;
    top: 0px;
    left: -0.5px;
    width: 1920px;
    height: 40px;
    color: #fff;
}
.b-insure-variants-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    border-bottom: 1px solid #f4e9e9;
    box-sizing: border-box;
}
.b-insure-variants-item {
    position: absolute;
    height: 5%;
    width: 4.58%;
    top: 95%;
    right: 51.3%;
    bottom: 0%;
    left: 44.11%;
    border-radius: 8px;
    background-color: #24bbe3;
}
.group-child13 {
    position: absolute;
    height: 71.02%;
    width: 70.3%;
    top: 14.14%;
    right: 15.53%;
    bottom: 14.84%;
    left: 14.17%;
    background-color: #fff;
}
.bi-icon1 {
    position: absolute;
    height: 40.68%;
    width: 40.27%;
    top: 28.81%;
    right: 31.21%;
    bottom: 30.51%;
    left: 28.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: luminosity;
}
.group-parent11 {
    position: absolute;
    height: 73.75%;
    width: 3.1%;
    top: 13.75%;
    right: 84.4%;
    bottom: 12.5%;
    left: 12.5%;
}
.home {
    position: relative;
}
.home-wrapper {
    position: absolute;
    height: 79.17%;
    width: 9.54%;
    top: 10.42%;
    right: 90.46%;
    bottom: 10.42%;
    left: 0%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.individual-wrapper {
    position: absolute;
    height: 79.17%;
    width: 12.67%;
    top: 10.42%;
    right: 74.89%;
    bottom: 10.42%;
    left: 12.43%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.commercial-wrapper {
    position: absolute;
    height: 79.17%;
    width: 15.21%;
    top: 10.42%;
    right: 56.79%;
    bottom: 10.42%;
    left: 28%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.travel-wrapper {
    position: absolute;
    height: 79.17%;
    width: 9.17%;
    top: 10.42%;
    right: 44.72%;
    bottom: 10.42%;
    left: 46.11%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.support-wrapper {
    position: absolute;
    height: 79.17%;
    width: 11.47%;
    top: 10.42%;
    right: 30.36%;
    bottom: 10.42%;
    left: 58.18%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.frame-parent {
    position: absolute;
    top: 0px;
    left: 654px;
    width: 786px;
    height: 122px;
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    display: flex;
    align-items: center; /* Vertically center the images */
    /* animation: moveRight 10s linear infinite; */
}
.frame-parent-inner {
    display: flex;
	width: 200%; /* Double the width to accommodate the duplicated images */
    animation: moveRight 10s linear infinite;
	height: 122px;
}

.frame-parent-inner img {
    flex-shrink: 0; /* Prevent images from shrinking */
    margin-right: 10px; /* Adjust the gap between images as needed */
}
@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move left by 50% of the container's width */
    }
}
.button-with-icon3 {
    position: absolute;
    height: 100%;
    width: 17.74%;
    top: 0%;
    right: 9.72%;
    bottom: 0%;
    left: 72.54%;
    border-radius: 8px;
    background-color: rgba(0, 199, 219, 0.94);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.line-div {
    position: absolute;
    height: 60.42%;
    width: 0.24%;
    top: 20.83%;
    right: 6.52%;
    bottom: 18.75%;
    left: 93.24%;
    border-right: 2px solid #e2e2e2;
    box-sizing: border-box;
}
.search-line-icon {
    position: absolute;
    height: 66.67%;
    width: 3.86%;
    top: 16.67%;
    right: 0%;
    bottom: 16.67%;
    left: 96.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.frame-group {
    position: absolute;
    height: 60%;
    width: 43.15%;
    top: 17.5%;
    right: 12.5%;
    bottom: 22.5%;
    left: 44.35%;
}
.binsure {
    position: absolute;
    top: 41.25%;
    left: 16.09%;
    font-size: 20px;
    font-family: Cunia;
    color: #1e1e1e;
}
.b-insure-variants {
    position: absolute;
    top: 40px;
    left: -0.5px;
    width: 1920px;
    height: 80px;
    color: #2b2b2b;
}
.partnerships-with-leading-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 170%;
}
.partnerships-with-leading-cana-wrapper {
    position: absolute;
    top: 19px;
    left: 0px;
    width: 328px;
    height: 82px;
}
.image-11-icon {
    position: absolute;
    top: 16.4px;
    left: 0px;
    width: 120px;
    height: 100.8px;
    object-fit: cover;
}
.image-11-wrapper {
    position: absolute;
    top: 0.5px;
    left: 0px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.image-8-icon {
    position: absolute;
    top: 17.6px;
    left: 14.8px;
    width: 95.6px;
    height: 84px;
    object-fit: cover;
}
.image-8-wrapper {
    position: absolute;
    top: 0.5px;
    left: 144px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.image-12-icon {
    position: absolute;
    top: 16.8px;
    left: 0px;
    width: 113.6px;
    height: 103.2px;
    object-fit: cover;
}
.image-12-wrapper {
    position: absolute;
    top: 0.5px;
    left: 288px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.image-9-icon {
    position: absolute;
    top: 0px;
    left: 14.8px;
    width: 105.2px;
    height: 120px;
    object-fit: cover;
}
.image-9-wrapper {
    position: absolute;
    top: 0.5px;
    left: 432px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.frame-child {
    position: absolute;
    top: 0.5px;
    left: 576px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
}
.frame-item {
    position: absolute;
    top: 0.5px;
    left: 720px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
}
.frame-inner {
    position: absolute;
    top: 0.5px;
    left: 864px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
}
.image-16-icon {
    position: absolute;
    top: 15.6px;
    left: 0px;
    width: 120px;
    height: 104.4px;
    object-fit: cover;
}
.image-16-wrapper {
    position: absolute;
    top: 0.5px;
    left: 1008px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.image-13-wrapper {
    position: absolute;
    top: 0.5px;
    left: 1152px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.frame-container {
    position: absolute;
    top: 0px;
    left: 654px;
    width: 786px;
    height: 121px;
    overflow: hidden;
}
.group-parent12 {
    position: absolute;
    top: 1039.07px;
    left: 239.5px;
    width: 1440px;
    height: 120px;
    font-size: 24px;
    font-family: Manrope;
}
.about-hero-background-icon1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1921px;
    height: 1442.2px;
}
.liability-insurance-provides {
    position: absolute;
    top: 76.8px;
    left: calc(50% - 378.75px);
    font-size: 18px;
    line-height: 170%;
    display: inline-block;
    width: 757.8px;
}
.general-liability-insurance-co-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 758px;
    height: 138.8px;
}
.group-wrapper15 {
    position: absolute;
    top: 0px;
    left: 322.38px;
    width: 758px;
    height: 138.8px;
}
.group-child14 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    box-sizing: border-box;
    width: 454.3px;
    height: 426.4px;
}
.icon-100-13 {
    position: absolute;
    top: 303.71px;
    left: 326px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.rectangle-parent11 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 454.3px;
    height: 426.4px;
}
.icon-100-14 {
    position: absolute;
    top: 303.71px;
    left: 330.41px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.property-damage {
    position: absolute;
    top: 50.31px;
    left: 40.2px;
}
.if-your-business {
    position: absolute;
    top: 105.38px;
    left: 40.2px;
    font-size: 21.5px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 390.2px;
}
.rectangle-parent12 {
    position: absolute;
    top: 0px;
    left: 489.28px;
    width: 454.3px;
    height: 426.4px;
}
.rectangle-parent13 {
    position: absolute;
    top: 0px;
    left: 978.56px;
    width: 454.3px;
    height: 426.4px;
}
.group-parent15 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1432.8px;
    height: 426.4px;
}
.group-child17 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    box-sizing: border-box;
    width: 454.3px;
    height: 466px;
}
.icon-100-16 {
    position: absolute;
    top: 342.71px;
    left: 326px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.personal-and-advertising1 {
    position: absolute;
    top: 123.88px;
    left: 33.55px;
    font-size: 21.5px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 402.9px;
}
.rectangle-parent14 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 454.3px;
    height: 466px;
}
.icon-100-17 {
    position: absolute;
    top: 342.71px;
    left: 330.41px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.rectangle-parent15 {
    position: absolute;
    top: 0px;
    left: 489.28px;
    width: 454.3px;
    height: 466px;
}
.group-parent16 {
    position: absolute;
    top: 458.71px;
    left: 0px;
    width: 943.6px;
    height: 466px;
}
.group-parent14 {
    position: absolute;
    top: 218.8px;
    left: 0px;
    width: 1432.8px;
    height: 924.7px;
    text-align: left;
    font-size: 27px;
    color: #000;
}
.group-parent13 {
    position: absolute;
    top: 149.36px;
    left: 240.77px;
    width: 1432.8px;
    height: 1143.5px;
}
.about-hero-background-container {
    position: absolute;
    top: 3126px;
    left: -0.77px;
    width: 1921px;
    height: 1442.2px;
    text-align: center;
    font-size: 42px;
}
.about-hero-background-icon2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1921px;
    height: 1082.3px;
}
.consider-these-real-world {
    position: absolute;
    top: 69px;
    left: 17.86px;
    font-size: 21.5px;
    line-height: 170%;
    display: inline-block;
    width: 546.3px;
}
.general-liability-claims-examp-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 582px;
    height: 143px;
}
.group-wrapper19 {
    position: absolute;
    top: 0px;
    left: 419.34px;
    width: 582px;
    height: 143px;
}
.button-with-icon4 {
    position: absolute;
    height: 5.61%;
    top: 94.39%;
    bottom: 0%;
    left: calc(50% - 137.51px);
    border-radius: 8px;
    background-color: #24bbe3;
    width: 269px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
}
.icon-100-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.a-customer-suffers {
    position: absolute;
    top: 50.42px;
    left: 0px;
    line-height: 170%;
    display: inline-block;
    width: 401.3px;
}
.data-breach {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
}
.a-customer-suffers-from-severe-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 401.3px;
    height: 94.4px;
}
.what-happens-next {
    margin: 0;
    font-weight: 600;
}
.what-happens-next-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 170%;
    display: inline-block;
    width: 358.5px;
}
.what-happens-next-the-custome-wrapper {
    position: absolute;
    top: 174.99px;
    left: 0px;
    width: 358.5px;
    height: 137px;
}
.group-parent19 {
    position: absolute;
    top: 161.11px;
    left: 0px;
    width: 401.3px;
    height: 312px;
}
.icon-100-3-parent {
    position: absolute;
    top: 0px;
    left: 1019.37px;
    width: 401.3px;
    height: 473.1px;
    font-size: 18px;
}
.your-client-slips {
    position: absolute;
    top: 50.42px;
    left: 0px;
    font-size: 18px;
    line-height: 170%;
    display: inline-block;
    width: 401px;
}
.bodily-injury-parent {
    position: absolute;
    top: 161.11px;
    left: 0px;
    width: 401px;
    height: 94.4px;
}
.group-parent21 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 401px;
    height: 255.5px;
}
.what-happens-next-container1 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 170%;
    display: inline-block;
    width: 401px;
}
.what-happens-next-the-client-wrapper {
    position: absolute;
    top: 298.61px;
    left: 0px;
    width: 401px;
    height: 137px;
    font-size: 18px;
}
.group-parent20 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 401px;
    height: 435.6px;
}
.youre-a-general {
    position: absolute;
    top: 50.42px;
    left: 0px;
    font-size: 18px;
    line-height: 170%;
    display: inline-block;
    width: 406.4px;
}
.property-damage-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 406.4px;
    height: 125.4px;
}
.what-happens-next-your-cgl-c-wrapper {
    position: absolute;
    top: 174.99px;
    left: 0px;
    width: 401px;
    height: 75px;
    font-size: 18px;
}
.group-parent22 {
    position: absolute;
    top: 161.11px;
    left: 0px;
    width: 406.4px;
    height: 250px;
}
.icon-100-2-parent {
    position: absolute;
    top: 0px;
    left: 507px;
    width: 406.4px;
    height: 411.1px;
}
.group-parent18 {
    position: absolute;
    top: 223px;
    left: 0px;
    width: 1420.7px;
    height: 473.1px;
    text-align: left;
    font-size: 24px;
}
.group-parent17 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1420.7px;
    height: 855.1px;
}
.group-wrapper18 {
    position: absolute;
    top: 118.68px;
    left: 260.16px;
    width: 1420.7px;
    height: 855.1px;
}
.about-hero-background-parent1 {
    position: absolute;
    top: 4568.19px;
    left: -0.77px;
    width: 1921px;
    height: 1082.3px;
    text-align: center;
    font-size: 36px;
}
.group-child19 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1919.9px;
    height: 1094.3px;
}
.group-child20 {
    position: absolute;
    top: 0px;
    left: 716.22px;
    width: 798.3px;
    height: 748.8px;
}
.button-with-icon5 {
    position: absolute;
    height: 6.03%;
    top: 93.97%;
    bottom: 0%;
    left: calc(50% - 357px);
    border-radius: 8px;
    background-color: #24bbe3;
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.how-much-cgl-container {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 36px;
}
.the-size-of-your-company-the {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 29px;
}
.to-determine-how-container {
    position: absolute;
    top: 117.68px;
    left: 0px;
    font-size: 21.5px;
    line-height: 200%;
    font-weight: 500;
    display: inline-block;
    width: 714px;
}
.button-with-icon-group {
    position: absolute;
    height: 100%;
    top: 0%;
    bottom: 0%;
    left: calc(50% - 357px);
    width: 714px;
}
.group-wrapper20 {
    position: absolute;
    height: 92.62%;
    top: 7.38%;
    bottom: 0%;
    left: calc(50% - 757.3px);
    width: 714px;
}
.group-parent23 {
    position: absolute;
    top: 85.98px;
    left: 243.63px;
    width: 1514.6px;
    height: 859px;
}
.rectangle-parent16 {
    position: absolute;
    top: 5650.53px;
    left: 0.15px;
    width: 1919.9px;
    height: 1094.3px;
}
.group-child21 {
    position: absolute;
    top: 38.53px;
    left: 0px;
    background: linear-gradient(90deg, #14677d, #29474f);
    width: 1927.2px;
    height: 400.6px;
}
.group-child22 {
    position: absolute;
    height: 29.13%;
    width: 14.97%;
    top: 70.44%;
    right: 12.85%;
    bottom: 0.43%;
    left: 72.18%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.button-with-icon6 {
    position: absolute;
    height: 26.03%;
    width: 36.23%;
    top: 73.95%;
    right: 63.77%;
    bottom: 0.02%;
    left: 0%;
    border-radius: 8px;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
}
.getting-commercial-general-lia-container {
    position: absolute;
    top: 63.02px;
    left: 0px;
    line-height: 170%;
    display: inline-block;
    width: 684.6px;
}
.getting-commercial-general-lia-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 684.6px;
    height: 156px;
}
.group-wrapper23 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 684.6px;
    height: 156px;
    text-align: left;
    font-size: 18.5px;
}
.group-wrapper22 {
    position: absolute;
    height: 56%;
    width: 35.52%;
    top: 26.39%;
    right: 47.9%;
    bottom: 17.61%;
    left: 16.57%;
}
.group-child23 {
    position: absolute;
    height: 99.57%;
    width: 14.32%;
    top: 0%;
    right: 17.54%;
    bottom: 0.43%;
    left: 68.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.rectangle-parent17 {
    position: absolute;
    top: 6744.82px;
    left: -7.16px;
    width: 1927.2px;
    height: 439.1px;
    text-align: center;
    font-size: 21.5px;
    color: #fff;
}
.group-child24 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1919.9px;
    height: 992px;
}
.icon {
    position: absolute;
    top: 21.84px;
    left: 0px;
    width: 261.4px;
    height: 277.3px;
}
.icon1 {
    position: absolute;
    top: 325.64px;
    left: 1182.18px;
    width: 261.4px;
    height: 277.3px;
    object-fit: contain;
}
.logo-2 {
    position: absolute;
    top: 40px;
    left: 22px;
    background-color: #fff;
    width: 200px;
    height: 32px;
    display: none;
}
.best-product-ever {
    position: absolute;
    top: 49.21px;
    left: 22px;
    line-height: 170%;
    display: inline-block;
    width: 268px;
}
.frame-child1 {
    width: 17px;
    position: relative;
    border-top: 1px solid #8d96a6;
    box-sizing: border-box;
    height: 1px;
}
.line-parent {
    position: absolute;
    top: 363.34px;
    left: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
}
.testimonial-card-child {
    position: absolute;
    top: 356.37px;
    left: 21.59px;
    width: 117.7px;
    height: 24px;
}
.testimonial-card {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 6px 20px rgba(37, 98, 204, 0.18);
    border-radius: 24px;
    background-color: #fff;
    width: 312px;
    height: 408px;
}
.testimonial-card-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 312px;
    height: 408px;
}
.group-wrapper26 {
    position: absolute;
    top: 97.71px;
    left: 339.4px;
    width: 312px;
    height: 408px;
}
.line-group {
    position: absolute;
    top: 363.34px;
    left: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-align: right;
    font-size: 16px;
}
.testimonial-card-item {
    position: absolute;
    top: 356.07px;
    left: 22.19px;
    width: 117.7px;
    height: 24px;
}
.group-wrapper27 {
    position: absolute;
    top: 0px;
    left: 678.8px;
    width: 312px;
    height: 408px;
}
.line-container {
    position: absolute;
    top: 363.34px;
    left: 136.2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
}
.testimonial-card-inner {
    position: absolute;
    top: 356.37px;
    left: 18.55px;
    width: 117.7px;
    height: 24px;
}
.group-wrapper28 {
    position: absolute;
    top: 97.71px;
    left: 1018.2px;
    width: 312px;
    height: 408px;
}
.frame-div {
    position: absolute;
    top: 105.83px;
    left: 93.4px;
    width: 219px;
    height: 300px;
    overflow: hidden;
    opacity: 0.2;
}
.testimonial-card-child1 {
    position: absolute;
    top: 356.07px;
    left: 21.98px;
    width: 117.7px;
    height: 24px;
}
.group-parent25 {
    position: absolute;
    top: 183px;
    left: 0px;
    width: 1330.2px;
    height: 505.7px;
}
.what-people-say {
    position: relative;
    line-height: 48px;
}
.what-people-say-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-customer-are-container {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}
.frame-wrapper {
    position: absolute;
    top: calc(50% - 344.35px);
    left: calc(50% - 162.2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 40px;
    color: #121d2f;
}
.group-parent24 {
    position: absolute;
    top: 0px;
    left: 56.78px;
    width: 1330.2px;
    height: 688.7px;
}
.group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1443.5px;
    height: 688.7px;
}
.group-wrapper25 {
    position: absolute;
    top: 151.66px;
    left: 237.67px;
    width: 1443.5px;
    height: 688.7px;
}
.rectangle-parent18 {
    position: absolute;
    top: 7183.92px;
    left: 0.15px;
    width: 1919.9px;
    height: 992px;
    font-size: 18px;
    color: #5a5555;
}
.group-child25 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1919.9px;
    height: 1045px;
}
.i-have-a {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
}
.i-have-a-different-question-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 298px;
    height: 30px;
}
.arrow-left-s-line-icon {
    position: absolute;
    top: 2px;
    left: 301px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: contain;
}
.group-parent28 {
    position: absolute;
    top: 171.4px;
    left: 0px;
    width: 331px;
    height: 32px;
}
.when-you-need-container {
    position: absolute;
    top: 70.9px;
    left: calc(50% - 241px);
    font-size: 21.5px;
    line-height: 170%;
}
.frequently-asked-questions-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 482px;
    height: 144.9px;
    font-size: 36px;
}
.group-parent27 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 482px;
    height: 203.4px;
}
.what-is-commercial-general-lia-wrapper {
    position: absolute;
    top: 2.5px;
    left: 0px;
    width: 451px;
    height: 25px;
}
.arrow-left-s-line-icon1 {
    position: absolute;
    top: 0px;
    left: 601.7px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: contain;
    transition: transform 0.3s;
    transform: rotate(180deg);
}
.arrow-left-s-line-icon1.rotate {
    transform: rotate(0deg);
  }
  
  .content {
    overflow: hidden;
    max-height: 0; /* Collapsed by default */
    transition: max-height 0.3s ease, padding 0.3s ease; /* Smooth transition */
    padding: 0;
}
  
.content.show {
    padding: 15px 0; /* Adjust padding as needed */
}
.group-parent31 {
    position: absolute;
    top: 0px;
    left: 23px;
    width: 631.7px;
    height: 30px;
}
.group-child26 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    width: 654.7px;
    height: 310.5px;
}
.commercial-general-liability-container1 {
    position: absolute;
    top: 15px;
    left: 23px;
    line-height: 190%;
    display: inline-block;
    width: 601.7px;
}
.rectangle-parent20 {
    position: absolute;
    top: 54px;
    left: 0px;
    width: 654.7px;
    height: 310.5px;
    font-size: 18px;
}
.group-parent30 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 654.7px;
    height: 364.5px;
    font-size: 20px;
}
.what-does-general-liability-in-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 457px;
    height: 27px;
}
.group-parent33 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 631.7px;
    height: 30px;
}
.group-child27 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    width: 654.7px;
    height: 430.6px;
}
.general-liability-insurance-ty {
    margin: 0;
    font-size: inherit;
    padding-left: 24px;
}
.general-liability-insurance-container {
    position: absolute;
    top: 15px;
    left: 23px;
    line-height: 190%;
    display: inline-block;
    width: 595.8px;
}
.rectangle-parent21 {
    position: absolute;
    top: 50.59px;
    left: 0px;
    width: 654.7px;
    height: 430.6px;
    font-size: 18px;
}
.group-parent32 {
    position: absolute;
    top: 406.46px;
    left: 0px;
    width: 654.7px;
    height: 481.2px;
}
.who-needs-commercial-general-l-wrapper {
    position: absolute;
    top: 1.64px;
    left: 0px;
    width: 526px;
    height: 27px;
}
.group-child28 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    width: 654.7px;
    height: 328.2px;
}
.rectangle-parent22 {
    position: absolute;
    top: 53.14px;
    left: 0px;
    width: 654.7px;
    height: 328.2px;
    font-size: 18px;
}
.group-parent34 {
    position: absolute;
    top: 929.69px;
    left: 0px;
    width: 654.7px;
    height: 381.4px;
}
.what-is-not {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 559px;
}
.what-is-not-covered-by-commerc-wrapper {
    position: absolute;
    top: 1.64px;
    left: 0px;
    width: 559px;
    height: 54px;
}
.group-parent37 {
    position: absolute;
    top: 0px;
    left: 23px;
    width: 631.7px;
    height: 55.6px;
}
.group-child29 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    width: 654.7px;
    height: 347.6px;
}
.rectangle-parent23 {
    position: absolute;
    top: 79.64px;
    left: 0px;
    width: 654.7px;
    height: 347.6px;
    font-size: 18px;
}
.group-parent36 {
    position: absolute;
    top: 1353.06px;
    left: 0px;
    width: 654.7px;
    height: 427.2px;
}
.group-parent38 {
    position: absolute;
    top: 1822.29px;
    left: 0px;
    width: 654.7px;
    height: 427.2px;
}
.who-is-considered-third-party-wrapper {
    position: absolute;
    top: 1.64px;
    left: 0px;
    width: 559px;
    height: 27px;
}
.group-child31 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    width: 654.7px;
    height: 238px;
}
.rectangle-parent25 {
    position: absolute;
    top: 79.64px;
    left: 0px;
    width: 654.7px;
    height: 238px;
    font-size: 18px;
}
.group-parent40 {
    position: absolute;
    top: 2291.51px;
    left: 0px;
    width: 654.7px;
    height: 317.6px;
}
.group-child32 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    width: 654.7px;
    height: 277.5px;
}
.rectangle-parent26 {
    position: absolute;
    top: 79.64px;
    left: 0px;
    width: 654.7px;
    height: 277.5px;
    font-size: 18px;
}
.group-parent42 {
    position: absolute;
    top: 2651.12px;
    left: 0px;
    width: 654.7px;
    height: 357.1px;
}
.group-parent29 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 0px;
    left: 706.23px;
    width: 654.7px;
    height: 908.2px;
    font-size: 21.5px;
    overflow: hidden;
}
.group-parent26 {
    position: absolute;
    top: 118.38px;
    left: 285.63px;
    width: 1360.9px;
    height: 3008.2px;
}
.group-wrapper30 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1919.9px;
    height: 1045px;
}
.general-liability-child {
    position: absolute;
    top: 9070.9px;
    left: -0.06px;
    width: 1919.9px;
    height: 1045px;
    font-size: 24px;
}
.general-liability {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1125%;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #073141;
    font-family: 'Plus Jakarta Sans';
}
@media(max-width: 1285px){
        .frame-group,.b-insure-variants-item{
            margin-left: -420px;
        }
        .image-35-icon,.binsure{
            margin-left: -150px;
        }
        .bi-icon1{
            display: none;
        }
        .commercial-general-liability-container,.protect-your-small,.group-parent1,.buttons{
            /* background-color: red; */
            margin-left: -150px;

        }
        .group-child1,.group-parent3{
            margin-right: 250px;

        }
        .i-agree-to-container{
            margin-left: -250px;

        }
        .group-parent12{
            margin-left: -220px;

        }
        .group-parent7{
            margin-left: -220px;

        }
        .group-child11,.frame-paren{
            margin-left: -290px;

        }
        .group-parent13{
            margin-left: -220px;

        }
        .group-parent17{
            margin-left: -220px;

        }
        .button-with-icon-group,.group-child20{
            margin-left: -120px;

        }
        .group-frame{
            margin-left: -220px;
        }
        .group-child23,.group-child22{
            margin-left: -250px;

        }
        .group{
            margin-left: -250px;

        }
        .group-parent10{
            margin-left: -230px;

        }
        .group-parent26{
            margin-left: -230px;

        }
        .button-with-icon-parent{
            /* background-color: red; */
            margin-left: -240px;
        }
        .quick-links-parent,.terms-of-use-parent{
            margin-left: -400px;
        }
        .group-container,.copyright-2024{
            margin-left: -200px;
        }
        #code{
            /* background-color: green; */
            margin-left: 220px;
            margin-right: -230px;
        }
}

@media(max-width: 1145px){
        .frame-group,.b-insure-variants-item{
            margin-left: -520px;
        }
        .image-35-icon,.binsure{
            margin-left: -220px;
        }
        .bi-icon1{
            display: none;
        }
        .commercial-general-liability-container,.protect-your-small,.group-parent1,.buttons{
            /* background-color: red; */
            margin-left: -250px;

        }
        .group-child1,.group-parent3{
            margin-right: 350px;

        }
        .i-agree-to-container{
            margin-left: -350px;

        }
        .group-parent12{
            margin-left: -220px;

        }
        .group-parent7{
            transform: scale(0.9);
            margin-left: -300px;

        }
        .group-child11,.frame-paren{
            margin-left: -390px;

        }
        .group-parent13{
            transform: scale(0.9);
            margin-left: -300px;

        }
        .group-parent17{
            transform: scale(0.9);
            margin-left: -320px;

        }
        .button-with-icon-group,.group-child20{
            margin-left: -120px;

        }
        .group-frame{
            transform: scale(0.9);
            margin-left: -320px;
        }
        .group-child23,.group-child22{
            margin-left: -350px;

        }
        .group{
            margin-left: -250px;

        }
        .group-parent10{
            transform: scale(0.9);
            margin-left: -330px;

        }
        .group-parent29{
            margin-left: -180px;

        }
        .button-with-icon-parent{
            /* background-color: red; */
            transform: scale(0.9);
            margin-left: -300px;
        }
        .quick-links-parent,.terms-of-use-parent{
            margin-left: -400px;
        }
        .group-container,.copyright-2024{
            margin-left: -200px;
        }
        #code{
            /* background-color: green; */
            margin-left: 330px;
            margin-right: -400px;
        }
}
@media(max-width: 1040px){
    .liable{
        transform: scale(0.6);
        width: 170%;
    }
}
.quick-links-parent{
    cursor: pointer;
}
.new-arrow-left-s-line-icon1 {
    /*Adjust spacing as needed*/
    transition: transform 0.3s ease; /* Smooth rotation */
    flex-shrink: 0; /* Prevent arrow icon from shrinking */
    transform: rotate(180deg);
  }
  
  
  /* Initial styles */
  .new-content {
    display: none;
    overflow: hidden;
  }
  
  /* Arrow rotation */
  .new-arrow-left-s-line-icon1.collapsed {
    transform: rotate(360deg);
  }
  
  /* Section toggled open */
  .new-content.active {
    display: block;
  }
  .new-what-is-a-life-insurance-wrapper {
    flex-grow: 1; /* Allow text to take available space */
    flex-shrink: 1; /* Allow text to shrink i
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */

}



