.why-insu{
    transform: scale(0.8);
    transform-origin: top left;
    height: 100vh;
    width: 125%;
}


.close-line-icon {
    position: absolute;
    top: 8px;
    left: 1655px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.image-1-icon {
    position: absolute;
    top: 271px;
    left: 0px;
    width: 537px;
    height: 658px;
    object-fit: cover;
    opacity: 0.05;
}
.image-2-icon {
    position: absolute;
    top: 271px;
    left: 1433px;
    width: 487px;
    height: 649px;
    object-fit: cover;
    opacity: 0.05;
}
.dropdown {
    margin-top: 10px;
    padding: 5px;
    display: none;
    position: fixed;
    width: 253px;
    height: fit-content;
    background-color: #fff;
    border-radius: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #f4e8e8;
    box-shadow: 0px 12px 16px -4px #10182814, -1px 3px 6px 4px #10182808;
    overflow: inherit;
    z-index: 1;
    top: 102px;
}

.dropdown-option{
    position: relative;
    width: 100%;
    height: 72px;
    /* background-color: #f8f8f8; */
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    /* align-items: center; */
}

.dropdown-option:hover {
    background-color: #e8e8e8;
}

.dropdown-option .line1 {
    width: 125px;
    position: fixed;
    font-size: 16px;
    line-height: 170%;
    display: inline-block;
    font-family: 'Plus Jakarta Sans';
    color: #373737;
    text-align: left;
}
.quick-links-parent{
    cursor: pointer;
}

.dropdown-option .line2 {
    width: auto;
    position: relative;
    font-size: 13px;
    letter-spacing: 0.01em;
    line-height: 300%;
    font-family: 'Plus Jakarta Sans';
    color: #7f7c7c;
    text-align: left;
    display: inline-block;
    top: 29%;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move left by 50% of the container's width */
    }
}
.infobar-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #353535;
}
.close-line-icon1 {
    position: absolute;
    height: 60%;
    width: 1.25%;
    top: 20%;
    right: 12.55%;
    bottom: 20%;
    left: 86.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.heads-up-our {
    position: absolute;
    top: 22%;
    left: 12.76%;
    font-weight: 600;
}
.infobar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 40px;
    text-align: left;
}
.about-hero-background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fcfcfc;
    width: 1921px;
    height: 809px;
}
.why-you-need {
    position: absolute;
    top: 0px;
    left: 333.58px;
}
.your-time-matters {
    position: absolute;
    top: 77.37px;
    left: calc(50% - 593.1px);
    font-size: 21.5px;
    letter-spacing: 0.01em;
    line-height: 170%;
    white-space: pre-wrap;
    display: inline-block;
    width: 1186.2px;
}
.about-hero-heading {
    position: absolute;
    top: 163.13px;
    left: 367.42px;
    width: 1186.2px;
    height: 188.4px;
}
.about-hero-background-parent {
    position: absolute;
    top: 120px;
    left: -0.9px;
    width: 1921px;
    height: 809px;
    font-size: 42px;
    color: #073141;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: #2079ff;
    width: 1882px;
    height: 148.6px;
}
.add-listing {
    position: absolute;
    top: 0px;
    left: 0px;
}
.add-listing-wrapper {
    align-self: stretch;
    flex: 1;
    position: relative;
}
.button-with-icon {
    position: absolute;
    height: 75.29%;
    width: 17.22%;
    top: 12.35%;
    right: 0%;
    bottom: 12.35%;
    left: 82.78%;
    border-radius: 8px;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
}
.button-with-icon1 {
    position: absolute;
    height: 75.29%;
    width: 17.22%;
    top: 12.35%;
    right: 18.36%;
    bottom: 12.35%;
    left: 64.41%;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    color: #046eb6;
}
.join-the-team {
    position: absolute;
    top: 54px;
    left: 0px;
    line-height: 170%;
}
.change-insurance-for {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 32px;
    line-height: 170%;
}
.group-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 665px;
    height: 85px;
}
.group-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 665px;
    height: 85px;
    text-align: left;
    font-size: 18.5px;
}
.button-with-icon-parent {
    position: absolute;
    height: 57.2%;
    width: 74.96%;
    top: 23.8%;
    right: 12.52%;
    bottom: 19%;
    left: 12.52%;
}
.rectangle-parent {
    position: absolute;
    top: 4479.14px;
    left: -0.07px;
    width: 1921px;
    height: 148.6px;
    font-size: 21.5px;
}
.b-insure-variants-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    border-bottom: 1px solid #f4e9e9;
    box-sizing: border-box;
}
.b-insure-variants-item {
    position: absolute;
    height: 5%;
    width: 4.58%;
    top: 95%;
    right: 51.3%;
    bottom: 0%;
    left: 44.11%;
    border-radius: 8px;
    background-color: #24bbe3;
}
.image-35-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
}
.group-item {
    position: absolute;
    height: 71.02%;
    width: 70.3%;
    top: 14.14%;
    right: 15.53%;
    bottom: 14.84%;
    left: 14.17%;
    background-color: #fff;
}
.image-35-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.bi-icon {
    position: absolute;
    height: 40.68%;
    width: 40.27%;
    top: 28.81%;
    right: 31.21%;
    bottom: 30.51%;
    left: 28.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: luminosity;
}
.group-parent {
    position: absolute;
    height: 73.75%;
    width: 3.1%;
    top: 13.75%;
    right: 84.4%;
    bottom: 12.5%;
    left: 12.5%;
}
.home {
    position: relative;
}
.home-wrapper {
    position: absolute;
    height: 79.17%;
    width: 9.54%;
    top: 10.42%;
    right: 90.46%;
    bottom: 10.42%;
    left: 0%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.individual-wrapper {
    position: absolute;
    height: 79.17%;
    width: 12.67%;
    top: 10.42%;
    right: 74.89%;
    bottom: 10.42%;
    left: 12.43%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.commercial-wrapper {
    position: absolute;
    height: 79.17%;
    width: 15.21%;
    top: 10.42%;
    right: 56.79%;
    bottom: 10.42%;
    left: 28%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.travel-wrapper {
    position: absolute;
    height: 79.17%;
    width: 9.17%;
    top: 10.42%;
    right: 44.72%;
    bottom: 10.42%;
    left: 46.11%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.support-wrapper {
    position: absolute;
    height: 79.17%;
    width: 11.47%;
    top: 10.42%;
    right: 30.36%;
    bottom: 10.42%;
    left: 58.18%;
    border-radius: 5px;
    background-color: rgba(33, 118, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.button-with-icon2 {
    position: absolute;
    height: 100%;
    width: 17.74%;
    top: 0%;
    right: 9.72%;
    bottom: 0%;
    left: 72.54%;
    border-radius: 8px;
    background-color: rgba(0, 199, 219, 0.94);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 26px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.group-inner {
    position: absolute;
    height: 60.42%;
    width: 0.24%;
    top: 20.83%;
    right: 6.52%;
    bottom: 18.75%;
    left: 93.24%;
    border-right: 2px solid #e2e2e2;
    box-sizing: border-box;
}
.search-line-icon {
    position: absolute;
    height: 66.67%;
    width: 3.86%;
    top: 16.67%;
    right: 0%;
    bottom: 16.67%;
    left: 96.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.frame-parent {
    position: absolute;
    height: 60%;
    width: 43.15%;
    top: 17.5%;
    right: 12.5%;
    bottom: 22.5%;
    left: 44.35%;
}
.binsure {
    position: absolute;
    top: 41.25%;
    left: 16.09%;
    font-size: 20px;
    font-family: Cunia;
    color: #1e1e1e;
}
.b-insure-variants {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 1920px;
    height: 80px;
    text-align: left;
    color: #2b2b2b;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1921px;
    height: 1188.5px;
}
.but-why-should {
    position: absolute;
    top: 0px;
    left: calc(50% - 437.36px);
    line-height: 152%;
    display: inline-block;
    width: 838.7px;
}
.group-child1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50px;
    background-color: #24bbe3;
    border: 1px solid #bfbdc1;
    box-sizing: border-box;
}
.schedule-a-free {
    position: absolute;
    top: -59%;
    left: 0%;
}
.schedule-a-free-consultation-wrapper {
    position: absolute;
    height: 18.33%;
    width: 70.59%;
    top: 40.83%;
    right: 14.85%;
    bottom: 40.83%;
    left: 14.56%;
}
.rectangle-container {
    position: absolute;
    height: 13.67%;
    width: 61.98%;
    top: 86.34%;
    right: 38.02%;
    bottom: 0%;
    left: 0%;
}
.the-insurance-industry {
    margin: 0;
}
.the-insurance-industry-container {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    line-height: 170%;
    font-family: 'Plus Jakarta Sans';
    color: #073141;
    text-align: left;
    display: inline-block;
    width: 548.6px;
}
.group-parent1 {
    position: absolute;
    height: 57.47%;
    width: 38.1%;
    top: 21.26%;
    right: 61.9%;
    bottom: 21.27%;
    left: 0%;
}
.group-child2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    box-sizing: border-box;
    width: 384.7px;
    height: 320.8px;
}
.icon-100-1 {
    position: absolute;
    top: 188.69px;
    left: 250.74px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.price {
    position: absolute;
    top: 43.77px;
    left: 41.33px;
}
.pricing-depends-on {
    position: absolute;
    top: 90.84px;
    left: 41.33px;
    font-size: 18px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 306.5px;
}
.rectangle-parent1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 384.7px;
    height: 320.8px;
}
.group-child3 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    box-sizing: border-box;
    width: 384.7px;
    height: 351.4px;
}
.icon-100-11 {
    position: absolute;
    top: 223.9px;
    left: 247.8px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.deductibles {
    position: absolute;
    top: 58.77px;
    left: 41.33px;
}
.deductibles-hidden-and {
    position: absolute;
    top: 113.84px;
    left: 41.33px;
    font-size: 18px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 306.5px;
}
.rectangle-parent2 {
    position: absolute;
    top: 338.77px;
    left: 0px;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    width: 384.7px;
    height: 351.4px;
}
.coverage-depends-on {
    position: absolute;
    top: 47.07px;
    left: 0px;
    font-size: 18px;
    line-height: 170%;
    color: #312f2f;
    display: inline-block;
    width: 306.5px;
}
.coverage-parent {
    position: absolute;
    top: 43.77px;
    left: 41.33px;
    width: 306.5px;
    height: 109.1px;
}
.rectangle-parent3 {
    position: absolute;
    top: 70.46px;
    left: 403.34px;
    width: 384.7px;
    height: 320.8px;
}
.rectangle-parent4 {
    position: absolute;
    top: 412.53px;
    left: 403.34px;
    width: 384.7px;
    height: 351.4px;
}
.group-parent2 {
    position: absolute;
    top: 0px;
    left: 651.98px;
    width: 788px;
    height: 763.9px;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: 'Plus Jakarta Sans';
}
.group-div {
    position: absolute;
    height: 78.6%;
    width: 100%;
    top: 21.4%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}
.but-why-should-you-invest-in-a-parent {
    position: absolute;
    top: 84.06px;
    left: calc(50% - 720px);
    width: 1440px;
    height: 971.9px;
}
.rectangle-group {
    position: absolute;
    top: 937px;
    left: -1.07px;
    width: 1921px;
    height: 1188.5px;
    font-size: 36px;
    color: #073141;
}
.group-icon {
    position: absolute;
    height: 6.63%;
    width: 26.04%;
    top: 10.64%;
    right: 16.29%;
    bottom: 82.73%;
    left: 57.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.why-insurance-and-how-it-works-child {
    position: absolute;
    height: 6.63%;
    width: 98.52%;
    top: 10.64%;
    right: 0.76%;
    bottom: 82.73%;
    left: 0.72%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 1.5;
}
.background-simple-icon {
    position: absolute;
    height: 5.31%;
    width: 18.22%;
    top: 11.56%;
    right: 42.03%;
    bottom: 83.13%;
    left: 39.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
}
.shadow-1-icon {
    position: absolute;
    height: 0.43%;
    width: 20.2%;
    top: 17.34%;
    right: 40.87%;
    bottom: 82.23%;
    left: 38.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.trash-bin-icon {
    position: absolute;
    height: 2.17%;
    width: 2.55%;
    top: 15.4%;
    right: 20.22%;
    bottom: 82.43%;
    left: 77.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.character-icon {
    position: absolute;
    height: 5.14%;
    width: 15.11%;
    top: 13.51%;
    right: 43.85%;
    bottom: 81.35%;
    left: 41.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.thought-bubble-icon {
    position: absolute;
    height: 3.97%;
    width: 15.18%;
    top: 10.64%;
    right: 44.18%;
    bottom: 85.38%;
    left: 40.64%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.plant-icon {
    position: absolute;
    height: 2.39%;
    width: 2.61%;
    top: 15.19%;
    right: 80.92%;
    bottom: 82.43%;
    left: 16.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon1 {
    position: absolute;
    height: 1.22%;
    width: 2.75%;
    top: 11.09%;
    right: 50.21%;
    bottom: 87.69%;
    left: 47.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.b-insure-variantsfooter-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    right: 0%;
    bottom: -100%;
    left: 0%;
    background-color: #353535;
}
.group-child6 {
    position: absolute;
    height: 71.05%;
    width: 70.35%;
    top: 14.14%;
    right: 15.49%;
    bottom: 14.81%;
    left: 14.16%;
    background-color: #fff;
}
.bi-icon1 {
    position: absolute;
    height: 40.68%;
    width: 40.28%;
    top: 28.81%;
    right: 31.2%;
    bottom: 30.51%;
    left: 28.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: luminosity;
}
.group-frame {
    position: absolute;
    height: 50.21%;
    width: 59.92%;
    top: 0%;
    right: 40.08%;
    bottom: 49.79%;
    left: 0%;
}
.po-box-9999-container {
    position: absolute;
    top: 57.14%;
    left: 0%;
}
.group-parent3 {
    position: absolute;
    height: 46.74%;
    width: 12.34%;
    top: 13.52%;
    right: 74.64%;
    bottom: 39.73%;
    left: 13.02%;
    font-size: 21px;
}
.b-insure-variantsfooter-item {
    position: absolute;
    height: 0.33%;
    width: 75.1%;
    top: 80.8%;
    right: 12.45%;
    bottom: 18.86%;
    left: 12.45%;
    border-top: 2px solid #4d4d4d;
    box-sizing: border-box;
}
.quick-links {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 21px;
}
.sitemap {
    position: absolute;
    top: 21.05%;
    left: 0%;
    cursor: pointer;
}
.careers {
    position: absolute;
    top: 35.79%;
    left: 0%;
    cursor: pointer;
}
.contact-us {
    position: absolute;
    top: 50.53%;
    left: 0%;
    cursor: pointer;
}
.blog {
    position: absolute;
    top: 65.26%;
    left: 0%;
}
.faqs {
    position: absolute;
    top: 80%;
    left: 0%;
}
.about {
    position: absolute;
    top: 94.74%;
    left: 0%;
}
.quick-links-parent {
    position: absolute;
    height: 47.58%;
    width: 5.78%;
    top: 13.52%;
    right: 27.45%;
    bottom: 38.9%;
    left: 66.77%;
}
.terms-of-use {
    position: absolute;
    top: 36.94%;
    left: 0%;
    cursor: pointer;
}
.privacy-policy {
    position: absolute;
    top: 63.69%;
    left: 0%;
    cursor: pointer;
}
.cookie-policy {
    position: absolute;
    top: 90.45%;
    left: 0%;
    cursor: pointer;
}
.terms-of-use-parent {
    position: absolute;
    height: 26.21%;
    width: 6.88%;
    top: 13.52%;
    right: 13.85%;
    bottom: 60.27%;
    left: 79.27%;
}
.copyright-2024 {
    position: absolute;
    top: 87.15%;
    left: 13.02%;
    white-space: pre-wrap;
}
.b-insure-variantsfooter-inner {
    position: absolute;
    height: 13.02%;
    width: 4.06%;
    top: 74.46%;
    right: 4.43%;
    bottom: 12.52%;
    left: 91.51%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.b-insure-variantsfooter {
    position: absolute;
    top: 4627.71px;
    left: 0px;
    width: 1920px;
    height: 599px;
    text-align: left;
    font-size: 20px;
    background-color: #353535;
}
.about-hero-background1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fcfcfc;
    width: 1921px;
    height: 2353.7px;
}
.how-saves-your {
    position: absolute;
    top: 27.93px;
    left: 0px;
    white-space: pre-wrap;
}
.how-it-works {
    position: absolute;
    top: 0px;
    left: 270.5px;
    font-size: 16px;
    text-align: left;
}
.how-saves-your-time-and-money-parent {
    position: absolute;
    top: 0px;
    left: 4.29px;
    width: 660px;
    height: 80.9px;
}
.its-simple-just-container {
    position: absolute;
    top: 112.93px;
    left: 0px;
    font-size: 24px;
    line-height: 170%;
}
.group-parent6 {
    position: absolute;
    top: 0px;
    left: 342.11px;
    width: 689px;
    height: 194.9px;
}
.purchase-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 190px;
    height: 53px;
}
.group-wrapper2 {
    position: absolute;
    top: 0px;
    left: 1px;
    width: 190px;
    height: 53px;
}
.request-a-quote {
    margin-bottom: 0px;
}
.request-a-quote-online-or-by-p {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 29px;
}
.our-process-is-container {
    position: absolute;
    top: 71.15px;
    left: 0px;
    font-size: 21.5px;
    line-height: 170%;
    text-align: left;
    display: inline-block;
    width: 632.3px;
}
.group-parent8 {
    position: absolute;
    top: 99.23px;
    left: 739.01px;
    width: 632.3px;
    height: 330.2px;
}
.icon-100-14 {
    position: absolute;
    top: 130.61px;
    left: 67.14px;
    border-radius: 33px;
    background-color: #c3e4e8;
    width: 341px;
    height: 327px;
    overflow: hidden;
}
.image-41-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 475.3px;
    height: 546.4px;
    object-fit: cover;
}
.icon-100-1-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 475.3px;
    height: 546.4px;
}
.group-parent7 {
    position: absolute;
    top: 957.52px;
    left: 0.98px;
    width: 1371.3px;
    height: 546.4px;
}
.manage-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 165px;
    height: 53px;
}
.group-wrapper5 {
    position: absolute;
    top: 0px;
    left: 14px;
    width: 165px;
    height: 53px;
}
.view-update-and-change-polici {
    margin: 0;
    font-size: inherit;
    padding-left: 29px;
}
.group-parent10 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 632.3px;
    height: 404.2px;
}
.group-wrapper4 {
    position: absolute;
    top: 71.12px;
    left: 0px;
    width: 632.3px;
    height: 404.2px;
}
.group-wrapper6 {
    position: absolute;
    top: 0px;
    left: 897.88px;
    width: 475.3px;
    height: 546.4px;
}
.group-parent9 {
    position: absolute;
    top: 1536.36px;
    left: 0px;
    width: 1373.2px;
    height: 546.4px;
}
.compare-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 193px;
    height: 53px;
}
.group-wrapper7 {
    position: absolute;
    top: 63.07px;
    left: 0px;
    width: 632.3px;
    height: 404.2px;
}
.icon-100-16 {
    position: absolute;
    top: 113.76px;
    left: 48.56px;
    border-radius: 33px;
    background-color: #c3e4e8;
    width: 341px;
    height: 327px;
    overflow: hidden;
}
.image-41-icon2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 444.2px;
    height: 530.3px;
    object-fit: cover;
}
.icon-100-1-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 444.2px;
    height: 530.3px;
}
.group-wrapper9 {
    position: absolute;
    top: 0px;
    left: 875.42px;
    width: 444.2px;
    height: 530.3px;
}
.group-parent11 {
    position: absolute;
    top: 377.91px;
    left: 26.79px;
    width: 1319.6px;
    height: 530.3px;
}
.group-parent5 {
    position: absolute;
    top: 149.42px;
    left: 273.89px;
    width: 1373.2px;
    height: 2082.8px;
}
.about-hero-background-group {
    position: absolute;
    top: 2125.45px;
    left: -0.07px;
    width: 1921px;
    height: 2353.7px;
    font-size: 42px;
    color: #073141;
}
.why-insurance-and-how-it-works-item {
    position: absolute;
    height: 3.09%;
    width: 8.36%;
    top: 52.96%;
    right: 16.24%;
    bottom: 43.94%;
    left: 75.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.why-insurance-and-how-it-works-inner {
    position: absolute;
    height: 0.6%;
    width: 6.54%;
    top: 52.65%;
    right: 34.15%;
    bottom: 46.75%;
    left: 59.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.insurance-icon {
    position: absolute;
    height: 0.13%;
    width: 2.29%;
    top: 51.96%;
    right: 28.78%;
    bottom: 47.9%;
    left: 68.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.why-insurance-and-how-it-works {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 5227px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'Plus Jakarta Sans';
}
@media(max-width :1285px){
    .frame-parent,.b-insure-variants-item{
        margin-left: -400px;
    }
    .about-hero-heading{
        margin-left: -250px;
    }
    .but-why-should{
        margin-left: -250px;

    }
    #first-para{
        margin-left: 80px;
    }
    .group-child1{
        margin-left: 100px;
    }
    .schedule-a-free{
        margin-left: 100px;
        width: 250px;
    }
    .group-parent6{
        margin-left: -250px;
    }
    .group-parent2{
        margin-left: -250px;
    }
    .group-parent1{
        margin-left: -250px;
    }
    .group-parent11{
        margin-left: -190px;
    }
    .binsure{
        margin-left: -170px;
    }
    
    .group-parent31{
        margin-left: -190px;
    }
    .group-parent12{
        margin-left: -190px;
    }
    .group-parent8{
        margin-left: -180px;
    }
    .group-parent20{
        margin-left: -190px;
    }
    .group-parent14{
        margin-left: -190px;
    }
    .group-parent10{
        margin-left: -190px;

    }
    .the-raw-materials-finished-pr-parent{
        margin-left: -100px;
    }
    .button-with-icon5{
        margin-left: -210px;
    }
    .group-child27,.group-child26{
        margin-left: -190px;
    }
    .container{
        margin-left: -190px;
    }
    .group-parent1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .frequently-asked-questions-parent,.i-have-a,.arrow-left-s-line-icon{
        margin-left: -190px;

    }
    
    .group-parent23,.group-parent25,.group-parent27,.group-parent29{
        margin-left: -190px;
    }
    .join-the-team-that-is-making-h-parent{
        margin-left: -190px;

    }
    .quick-links-parent,.terms-of-use-parent{
        margin-left: -390px;
        
    }
    .group-parent{
        margin-left: -190px;
    }
    .button-with-icon1{
        margin-left: -250px;
    }
    .button-with-icon{
        margin-left: -250px;
    }
    .close-line-icon1{
        margin-left: -400px;

    }
    .group-parent10{
        margin-left: 60px;
    }
}
@media(max-width: 1137px){
    .why-insu{
        transform: scale(0.7);
        width: 145%;
    }
    .button-with-icon-parent{
        margin-left: -200px;
    }
    .group-parent2{
        transform: scale(0.8);
        margin-left: -320px;
    }
    .group-parent11{
        /* transform: scale(0.8); */
        margin-left: -320px;
    }
    .group-parent7{
        /* transform: scale(0.8); */
        margin-left: -200px;
    }
    .group-parent9{
        /* transform: scale(0.8); */
        margin-left: -300px;
    }
    .quick-links-parent,.terms-of-use-parent{
        margin-left: -500px;
    }
    .group-parent3{
        margin-left: -100px;
    }
}
@media(max-width: 934px){
    .why-insu{
        transform: scale(0.6);
        width: 170%;
    }
    .button-with-icon-parent{
        margin-left: -200px;
    }
    .group-parent2{
        transform: scale(0.8);
        margin-left: -320px;
    }
    .group-parent11{
        /* transform: scale(0.8); */
        margin-left: -320px;
    }
    .group-parent7{
        /* transform: scale(0.8); */
        margin-left: -200px;
    }
    .group-parent9{
        /* transform: scale(0.8); */
        margin-left: -300px;
    }
    .quick-links-parent,.terms-of-use-parent{
        margin-left: -500px;
    }
    .group-parent3{
        margin-left: -100px;
    }
}
@media(max-width: 800px){
    .why-insu{
        transform: scale(0.52);
        width: 190%;
    }
    .button-with-icon-parent{
        margin-left: -200px;
    }
    .group-parent2{
        transform: scale(0.8);
        margin-left: -320px;
    }
    .group-parent11{
        /* transform: scale(0.8); */
        margin-left: -320px;
    }
    .group-parent7{
        /* transform: scale(0.8); */
        margin-left: -200px;
    }
    .group-parent9{
        /* transform: scale(0.8); */
        margin-left: -300px;
    }
    .quick-links-parent,.terms-of-use-parent{
        margin-left: -500px;
    }
    .group-parent3{
        margin-left: -100px;
    }
}
.quick-links-parent{
    cursor: pointer;
}




