
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>faq</title>

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./privacy.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Expletus Sans:wght@700&display=swap"
    />
    <script src="script.js" defer></script>


  </head>
  <body>
    <div class="privacy">
    <div class="faq-template">
      <img
        class="background-simple-icon"
        alt=""
        src="./public/background-simple.svg"
      />

      <section class="frame-parent">
        <div class="frame-group">
          <header class="frame-container">
            <div class="close-line-parent">
              <img
                class="close-line-icon"
                alt=""
                src="./public/closeline.svg"
              />

              <div class="infobar">
                <div class="info-background"></div>
                <div class="heads-up-our-site-is-currentl-wrapper">
                  <div class="heads-up-our">
                    Heads Up! Our site is currently undergoing maintenance. If
                    you receive an error, please try again later. Thanks for
                    your patience."
                  </div>
                </div>
                <img
                  class="close-line-icon1"
                  alt=""
                  src="//statics/img/home/nav/close-line.svg"
                />
              </div>
            </div>
            <div class="content">
              <div class="hero-content-parent">
                <div class="hero-content">
                  <div class="group-div">
                    <div class="image-35-parent">
                      <img
                        class="image-35-icon"
                        alt=""
                        src="//statics/img/home/nav/image 35.svg"
                      />

                      <div class="logo-background"></div>
                    </div>
                    <img
                      class="bi-icon"
                      loading="lazy"
                      alt=""
                      src="//statics/img/home/nav/Bi.svg"
                    />
                  </div>
                  <div class="Navigating_Ayush">
                  <div class="hero-title">
                    <a class="binsure">BINSURE</a>
                  </div>
                </div>
                <div class="navigation">
                  <div class="navigation-list-parent">
                    <div class="navigation-list">
                      <div class="navigation-items">
                        <a class="home">Home</a>
                      </div>
                    </div>
                    <div class="navigation-list1">
                      <div class="individual-wrapper">
                        <a class="individual">Individual</a>
                      </div>
                    </div>
                    <div class="navigation-list2">
                      <div class="commercial-wrapper">
                        <a class="commercial">Commercial</a>
                      </div>
                    </div>
                    <div class="navigation-list3">
                      <div class="travel-wrapper">
                        <a class="travel">Travel</a>
                      </div>
                    </div>
                    <div class="navigation-list4">
                      <div class="support-wrapper">
                        <a class="support">Support</a>
                      </div>
                    </div>
                    <button class="button-with-icon">
                      <div class="reshot-icon-house-xj53qbrvtc-1-parent">
                        <img
                          class="reshot-icon-house-xj53qbrvtc-1"
                          alt=""
                          src="./public/reshoticonhousexj53qbrvtc-1.svg"
                        />

                        <a class="add-listing">Get a Quote</a>
                      </div>
                    </button>
                    <div class="search">
                      <div class="search-input">
                        <div class="search-input-inner">
                          <div class="frame-child"></div>
                        </div>
                        <img
                          class="search-line-icon"
                          loading="lazy"
                          alt=""
                          src="//statics/img/home/nav/search-line.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="b-insure-variants">
            <!-- <div class="hero-shape-top"></div> -->
            <div class="hero-shape-bottom"></div>
          </div>
        </div>
        <div class="image-1-parent">
          <!-- <img
            class="image-1-icon"
            loading="lazy"
            alt=""
            src="./public/image-1@2x.png"
          /> -->

          <div class="image-2-parent">
            <!-- <img class="image-2-icon" alt="" src="./public/image-2@2x.png" /> -->

            

            
          </div>
          <div class="about-hero-background-parent">
            <div class="about-hero-background"></div>
            <div class="f-a-q-question">
              <h1 class="frequently-asked-questions">
                Frequently Asked Questions
              </h1>
            </div>
            <div class="learning-about-insurance-and">
              Learning about insurance and claims doesn’t have to be
              complicated. Read on for some simple answers to the questions we
              hear most.
            </div>
          </div>
        </div>
      </section>
      <section class="f-a-q-list">
        <div class="f-a-q-items">
          <div class="f-a-q-item-list">
            <div class="f-a-q-item-content">
              <b class="what-is-whole">What is whole life insurance?</b>
              <img
              id="arrow-left-s-line-icon" class="arrow_1"
              loading="lazy"
              alt=""
              src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
            />
            </div>
            <div class="rectangle-parent">
              <div class="frame-item"></div>
              <div class="whole-life-insurance">
                Whole life insurance is a type of permanent life insurance,
                which means your coverage stays in place for your entire life
                (unlike term life insurance, which expires after a certain
                period, such as 10 or 25 years).
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list1">
            <span class="how-is-my-life-insurance-premi-wrapper">
              <b class="how-is-my"
                >How is my life insurance premium calculated?</b
              >
              <img
              id="arrow-left-s-line-icon1" class="arrow"
              alt=""
              src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
            />
            </span>
            <div class="rectangle-group">
              <div class="frame-inner"></div>
              <div class="your-monthly-north">
                Your monthly North Cover Life Insurance premium will depend on
                several factors, including your coverage amount, age and whether
                you’re a smoker. The sure-fire way to know what your premiums
                will be is to request a quote.
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list2">
            <div class="is-life-insurance-worth-it-parent">
              <b class="is-life-insurance">Is life insurance worth it?</b>
              <img
                id="arrow-left-s-line-icon2" class="arrow"
                alt=""
                src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
              />
            </div>
            <div class="rectangle-container">
              <div class="rectangle-div"></div>
              <div class="is-worth-getting">
                is worth getting if you want to help protect the financial
                future of your loved ones when you’re no longer around. It
                provides a lump sum payment that your family can use in any way
                they wish, such as mortgage costs, school fees or any other
                bills. Depending on your policy, life insurance can also provide
                a benefit for terminal illness, which can help alleviate
                financial pressure at an already difficult time.
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list3">
            <div class="how-can-i-buy-life-insurance-parent">
              <b class="how-can-i">How can I buy life insurance?</b>
              <img
                id="arrow-left-s-line-icon3" class="arrow"
                alt=""
                src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
              />
            </div>
            <div class="rectangle-parent1">
              <div class="frame-child1"></div>
              <div class="we-love-that">
                We love that you’re asking! Start by requesting a quote (or have
                us give you a call back). We can talk you through the rest.
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list4">
            <div class="is-life-insurance-expensive-parent">
              <b class="is-life-insurance1">Is life insurance expensive?</b>
              <img
                id="arrow-left-s-line-icon4" class="arrow"
                alt=""
                src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
              />
            </div>
            <div class="rectangle-parent2">
              <div class="frame-child2"></div>
              <div class="life-insurance-doesnt">
                Life Insurance doesn’t have to be expensive. The amount you pay
                each month will depend on factors such as your age, smoking
                status, and coverage amount. For many Canadians, life insurance
                is a cost-effective way to gain some peace of mind that your
                favourite people will have financial assistance after you go.
                The best way to know what your payments will be is to request a
                quote from one of our licensed advisors.
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list5">
            <div class="can-i-transfer-my-life-insuran-parent">
              <b class="can-i-transfer"
                >Can I transfer my life insurance policy to another person?</b
              >
              <img
                id="arrow-left-s-line-icon5" class="arrow"
                alt=""
                src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
              />
            </div>
            <div class="rectangle-parent3">
              <div class="frame-child3"></div>
              <div class="life-insurance-offers">
                Life Insurance offers single-life policies that cover you. The
                policy is non-transferrable. If there’s someone else in your
                life you cherish and you think they should have life insurance
                coverage, we’re all for that – and ready to help.
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list6">
            <div class="at-what-age-should-you-get-lif-parent">
              <b class="at-what-age"
                >At what age should you get life insurance?</b
              >
              <img
                id="arrow-left-s-line-icon6" class="arrow"
                alt=""
                src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
              />
            </div>
            <div class="rectangle-parent4">
              <div class="frame-child4"></div>
              <div class="life-insurance-is">
                Life insurance is helpful at many ages and stages of life.
                Canadian residents (excluding residents of Quebec) between 18
                and 70 can apply for insurance . Depending on your age, you may
                be eligible for up to $1.5 million in life insurance coverage.
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list7">
            <div class="what-is-a-life-insurance-premi-parent">
              <b class="what-is-a">What is a life insurance premium?</b>
              <img
                id="arrow-left-s-line-icon7" class="arrow"
                alt=""
                src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
              />
            </div>
            <div class="rectangle-parent5">
              <div class="frame-child5"></div>
              <div class="a-life-insurance">
                A life insurance premium is the amount you’ll pay in exchange
                for the benefit (payout) you or your loved ones will receive
                after you pass away or are diagnosed with a terminal illness.
                Life insurance premiums are usually a monthly payment. North
                Cover Life Insurance premiums will depend on factors such as
                your age, smoking status, and coverage amount. Our licensed
                advisors can give you a sense of what your monthly life
                insurance premiums may be by requesting a quick quote.
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list8">
            <div class="what-is-a-life-insurance-premi-group">
              <b class="what-is-a1">What is a life insurance premium?</b>
              <img
                id="arrow-left-s-line-icon8" class="arrow"
                alt=""
                src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
              />
            </div>
            <div class="rectangle-parent6">
              <div class="frame-child6"></div>
              <div class="a-life-insurance1">
                A life insurance premium is the amount you’ll pay in exchange
                for the benefit (payout) you or your loved ones will receive
                after you pass away or are diagnosed with a terminal illness.
                Life insurance premiums are usually a monthly payment. North
                Cover Life Insurance premiums will depend on factors such as
                your age, smoking status, and coverage amount. Our licensed
                advisors can give you a sense of what your monthly life
                insurance premiums may be by requesting a quick quote.
              </div>
            </div>
          </div>
          <div class="f-a-q-item-list9">
            <div class="is-it-a-good-idea-to-get-life-parent">
              <b class="is-it-a">Is it a good idea to get life insurance?</b>
              <img
                id="arrow-left-s-line-icon9" class="arrow"
                alt=""
                src="/statics/img/Life_Insurance/arrow-left-s-line.svg"
              />
            </div>
            <div class="rectangle-parent7">
              <div class="frame-child7"></div>
              <div class="life-insurance-is1">
                Life insurance is a good idea for people of all ages (even if
                you’re young, single and healthy) because it can help protect
                you or the people you care about most financially if the worst
                happens. Life Insurance provides coverage between $100,000 and
                $1.5 million depending on your age at the time you apply, which
                can go towards immediate expenses like your funeral costs, but
                also help your loved ones out with their housing expenses,
                tuition, paying off personal debts, and more. North Cover Life
                Insurance can also provide financial assistance if you’re
                diagnosed with a terminal illness (with a life expectancy of 12
                months or less)1.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="c-t-a">
        <div class="c-t-a-button">
          <div class="c-t-a-button-child"></div>
          <div class="c-t-a-button-wrapper">
            <div class="c-t-a-button-content">
              <div class="ready-to-start-lets-get-a-qu-parent">
                <h2 class="ready-to-start">
                  Ready to Start? Let’s Get a Quote!
                </h2>
                <div class="getting-business-insurance-sho">
                  <p class="getting-business-insurance-sho1">
                    Getting business insurance shouldn’t be complicated!
                  </p>
                  <p class="at-we">
                    At , we simplify the process of getting insurance
                  </p>
                  <p class="so-that-you">
                    so that you get the coverage you need, quick and easy!
                  </p>
                </div>
              </div>
              <button class="button-with-icon1">
                <div class="reshot-icon-house-xj53qbrvtc-1-group">
                  <img
                    class="reshot-icon-house-xj53qbrvtc-11"
                    alt=""
                    src="./public/reshoticonhousexj53qbrvtc-1.svg"
                  />

                  <b class="add-listing1">Get a free quote</b>
                </div>
              </button>
            </div>
          </div>
          <div class="wrapper-group-755">
            <img
              class="wrapper-group-755-child"
              loading="lazy"
              alt=""
              src="/contact us/img/footer 3.png"
            />
          </div>
          <img class="c-t-a-button-item" alt="" src="/contact us/img/footer 1.png" />
        </div>
        <footer class="b-insure-variantsfooter">
          <div class="footer-background"></div>
          <div class="footer-content">
            <div class="footer-top">
              <div class="footer-logo">
                <div class="frame-parent1">
                  <div class="frame-wrapper">
                    <div class="frame-wrapper1">
                      <div class="frame-parent2">
                        <div class="image-35-group">
                          <img
                            class="image-35-icon1"
                            alt=""
                            src="//statics/img/home/nav/Rectangle 298.svg"
                          />

                          <div class="footer-logo-icon-background"></div>
                        </div>
                        <img class="bi-icon1" alt="" src="//statics/img/home/nav/Bi.svg" />
                      </div>
                    </div>
                  </div>
                  <div class="po-box-9999-container">
                    <p class="po-box-9999">
                      P.O. Box 9999, Station BMontreal, OM M5M 3R4
                    </p>
                    <p class="blank-line">&nbsp;</p>
                    <p class="p">999-888-0000 .</p>
                    <p class="carebinsureca">care@binsure.ca</p>
                  </div>
                </div>
                <div class="footer-links">
                  <div class="quick-links-parent">
                    <b class="quick-links">Quick links</b>
                    <div class="footer-links-list">
                      <div class="sitemap"><a href="../sitemap/sitemap.html">Sitemap</a></div>
                      <div class="careers">Careers</div>
                      <div class="contact-us"><a href="../contact us/contact.html">Contact us</a></div>
                      <div class="blog">Blog</div>
                      <div class="faqs">FAQs</div>
                      <div class="about"><a href="../about us/about.html">About</a></div>
                    </div>
                  </div>
                  <div class="legal-parent">
                    <b class="legal">Legal</b>
                    <div class="legal-list">
                      <div class="terms-of-use">Terms of use</div>
                      <div class="privacy-policy">Privacy Policy</div>
                      <div class="cookie-policy">Cookie policy</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="footer-bottom-child"></div>
              <div class="footer-copyright">
                <div class="copyright-2024">
                  Copyright © 2024 Inc. All rights reserved.
                </div>
              </div>
            </div>
          </div>
          <div class="footer-spacer">
            <!-- <div class="wrapper-group-536">
              <img
                class="wrapper-group-536-child"
                loading="lazy"
                alt=""
                src="./public/group-536.svg"
              />
            </div> -->
          </div>
        </footer>
      </section>
    </div>
  </div>
  </body>
  </html>