<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/statics/css/broker.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	<div class="about-us">
  	<div class="b-insure-insurance-broker-home">
    		<div class="b-insure-insurance-broker-home-inner">
      			<div class="rectangle-parent">
        				<div class="group-child">
        				</div>
        				<div class="canadas-fast-growing">Canada's fast growing travel and life insurance broker</div>
        				<div class="group-parent">
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<div class="get-protected-now-wrapper">
              							<b class="get-protected-now">Get Protected Now!</b>
            						</div>
          					</div>
          					<div class="group-container">
            						<div class="group-wrapper">
              							<div class="group-frame">
                								<div class="group-frame">
                  									<b class="we-put-our">We put our customers and communities at the centre of what we do</b>
                  									<div class="whether-handling-policy">Whether handling policy quotes, growing and protecting clients’ retirement and investment savings, providing workplace mental health support for all employers or helping build stronger communities by investing in community projects, we are committed to putting the customer first in all that we do.</div>
                								</div>
              							</div>
            						</div>
            						<div class="group-div">
              							<div class="group-parent1">
                								<div class="parent">
                  									<b class="b">20,000+</b>
                  									<div class="customer-relationships">customer relationships</div>
                								</div>
                								<div class="nearly-30000-parent">
                  									<b class="reduction">Nearly 30,000</b>
                  									<div class="policies-in-force">Policies in force.</div>
                								</div>
                								<div class="reduction-parent">
                  									<b class="reduction">39.6% reduction</b>
                  									<div class="in-insurance-provider">in insurance provider change yearly</div>
                								</div>
              							</div>
              							<div class="group-parent2">
                								<div class="group">
                  									<b class="b">97%</b>
                  									<div class="customer-relationships">satisfaction</div>
                								</div>
                								<div class="container">
                  									<b class="reduction">45+</b>
                  									<div class="policies-in-force">Insurance companies represented.</div>
                								</div>
                								<div class="over-100000-parent">
                  									<b class="reduction">Over 100,000</b>
                  									<div class="in-insurance-provider">Individual insurance quotes provided.</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<img class="close-line-icon" alt="" src="close-line.svg">
    		
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<img class="image-2-icon" alt="" src="image 2.png">
    		
    		<!-- <div class="infobar">
      			<div class="infobar-child">
      			</div>
      			<img class="close-line-icon" alt="" src="/statics/img/home/nav/close-line.svg">
      			
      			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
    		</div> -->
			<div class="infobar">
                <div class="infobar-child">
                </div>
                <img class="close-line-icon" alt="" src="/statics/img/home/nav/close-line.svg">
                <div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
          </div>
    		<div class="about-hero-background-parent">
      			<div class="about-hero-background">
      			</div>
      			<div class="about-hero-text-parent">
        				<div class="about-hero-text">
          					<div class="about-hero-button">
            						<div class="about-hero-button-child">
            						</div>
            						<div class="how-we-work-wrapper">
              							<b class="get-protected-now">How we work</b>
            						</div>
          					</div>
          					<div class="about-hero-heading">
            						<b class="were-an">We’re  – an online Canadian insurer</b>
            						<div class="who-we-are">WHO WE ARE</div>
            						<div class="as-canadas-own">As Canada’s own online insurance solution company, we’re changing insurance for the better. By using data and analytics, we’re able to offer customized coverage at a competitive price in language you can understand, and all in as little as 5 minutes.</div>
          					</div>
        				</div>
        				<div class="group-parent3">
          					<div class="rectangle-container">
            						<div class="group-inner">
            						</div>
            						<img class="icon-100-1" alt="" src="/statics/img/broker/icon_100 1.svg">
            						
            						<b class="our-purpose">Our purpose</b>
            						<div class="for-our-clients">For our clients to be confident and secure about their future.</div>
          					</div>
          					<div class="rectangle-parent1">
            						<div class="group-inner">
            						</div>
            						<img class="icon-100-11" alt="" src="/statics/img/broker/vision 1.svg">
            						
            						<b class="our-ambition">Our Ambition</b>
            						<div class="to-be-the">To be the leading financial institution that best combines the human and digital experience.</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent2">
      			<div class="group-child1">
      			</div>
      			<div class="button-with-icon-parent">
        				<div class="button-with-icon">
          					<div class="add-listing-wrapper">
            						<b class="reduction">Get a free quote</b>
          					</div>
        				</div>
        				<div class="button-with-icon1">
          					<div class="add-listing-wrapper">
            						<b class="reduction">Become a partner</b>
          					</div>
        				</div>
        				<div class="group-wrapper1">
          					<div class="join-us-as-we-aim-to-make-heal-parent">
            						<div class="join-us-as">Join us as we aim to make health insurance simple, transparent, and human.</div>
            						<b class="changing-way-of">Changing way of insurance for good</b>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="b-insure-variants">
      			<div class="b-insure-variants-child">
      			</div>
      			<div class="b-insure-variants-item">
      			</div>
      			<div class="group-parent4">
        				<div class="image-35-parent">
          					<img class="image-35-icon" alt="" src="/statics/img/home/nav/image 35.svg">
          					
          					<div class="group-child2">
          					</div>
        				</div>
        				<img class="bi-icon" alt="" src="/statics/img/home/nav/Bi.svg">
        				
      			</div>
      			<div class="frame-parent">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				  </div>
				  <div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							  <div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							  </div>
						</div>
				  </div>
				  <div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							  <div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							  </div>
						</div>
				  </div>
				  <div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				  </div>
				  <div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							  <div class="line1"><b>Contact us</b></div>
							  <div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							  <div class="line1"><b>About us</b></div>
							  <div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							  <div class="line1"><b>How it works</b></div>
							  <div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							  <div class="line1"><b>FAQs</b></div>
							  <div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							  <div class="line1"><b>Blog</b></div>
							  <div class="line2">Insurance Knowledge Resource</div>
						</div>
				  </div>
				  </div>
        				<div class="button-with-icon2">
          					<div class="add-listing-wrapper">
            						<b class="reduction">Get a Quote</b>
          					</div>
        				</div>
        				<div class="line-div">
        				</div>
        				<img class="search-line-icon" alt="" src="/statics/img/home/nav/search-line.svg">
        				
      			</div>
      			<b class="binsure">BINSURE</b>
    		</div>
    		<div class="group-parent5">
      			<div class="about-hero-background-group">
        				<div class="about-hero-background-group">
          					<div class="about-hero-background1">
          					</div>
          					<div class="join-our-team-parent">
            						<b class="join-our-team">Join our team</b>
            						<img class="arrow-left-s-line-icon" alt="" src="/statics/img/arrow-left-s-line.png">
            						
          					</div>
          					<div class="group-parent6">
            						<div class="group-wrapper3">
              							<div class="our-leadership-parent">
                								<div class="our-leadership-parent">
                  									<div class="our-leadership-parent">
                    										<b class="our-leadership">Our Leadership</b>
                    										<div class="our-forward-looking-company-container">
                      											<p class="our-forward-looking-company">Our forward-looking company is led by our senior leadership team that guides </p>
                      											<p class="our-forward-looking-company">our strategy and leads our people. Meet our team:</p>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="group-parent7">
              							<div class="group-wrapper6">
                								<div class="group-wrapper6">
                  									<div class="group-child3">
                  									</div>
                  									<div class="group-wrapper7">
                    										<div class="johan-karlsson-ceo-parent">
                      											<div class="johan-karlsson-ceo-container">
                        												<p class="our-forward-looking-company">
                          													<b>Johan Karlsson</b>
                        												</p>
                        												<p class="ceo">CEO</p>
                      											</div>
                      											<div class="johan-karlsson-is">Johan Karlsson is an experienced finance writer with over 10 years of experience, specializing in loans, personal finance, and education in finance for the general public.</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper8">
                								<div class="group-wrapper6">
                  									<div class="group-child3">
                  									</div>
                  									<div class="group-wrapper9">
                    										<div class="anna-rask-cfo-parent">
                      											<div class="johan-karlsson-ceo-container">
                        												<p class="our-forward-looking-company">
                          													<b>Anna Rask</b>
                        												</p>
                        												<p class="ceo">CFO</p>
                      											</div>
                      											<div class="anna-rask-is">Anna Rask is an experienced finance writer with over 10 years of experience, specializing in loans, personal finance, and education in finance for the general public.</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper10">
                								<div class="group-wrapper6">
                  									<div class="group-child3">
                  									</div>
                  									<div class="group-wrapper11">
                    										<div class="jenny-magnusson-cmo-parent">
                      											<div class="jenny-magnusson-cmo-container">
                        												<p class="our-forward-looking-company">
                          													<b>Jenny Magnusson</b>
                        												</p>
                        												<p class="ceo">CMO</p>
                      											</div>
                      											<div class="jenny-magnusson-is">Jenny Magnusson is an experienced finance writer with over 10 years of experience, specializing in loans, personal finance, and education in finance for the general public.</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="section-4">
        				<div class="section-4-child">
        				</div>
        				<div class="section-4-inner">
          					<div class="group-parent8">
            						<div class="our-latest-partners-wrapper">
              							<b class="jenny-magnusson-cmo-container">Our latest partners</b>
            						</div>
            						<div class="frame-group">
										<div class="frame-parent-inner">
											<div class="image-11-wrapper">
												  <img class="image-11-icon" alt="" src="/statics/img/image 11.png">
												  
											</div>
											<div class="image-8-wrapper">
												  <img class="image-8-icon" alt="" src="/statics/img/image 8.png">
												  
											</div>
											<div class="image-12-wrapper">
												  <img class="image-12-icon" alt="" src="/statics/img/image 12.png">
												  
											</div>
											<div class="image-9-wrapper">
												  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
												  
											</div>
											<img class="frame-child" alt="" src="/statics/img/image 11.png">
											
											<img class="frame-item" alt="" src="/statics/img/image 8.png">
											
											<img class="frame-inner" alt="" src="/statics/img/image 12.png">
											
											<div class="image-16-wrapper">
												  <img class="image-16-icon" alt="" src="/statics/img/image 10.png">
												  
											</div>
											<div class="image-13-wrapper">
												  <img class="image-9-icon" alt="" src="image 13.png">
												  
											</div>
										</div>
									  </div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="group-parent9">
      			<div class="rectangle-parent6">
        				<div class="group-child6">
        				</div>
        				<div class="group-parent10">
          					<div class="our-values-parent">
            						<b class="reduction">Our Values</b>
            						<div class="community-and-culture-container">
              							<p class="our-forward-looking-company">Community and culture are our core strengths, </p>
              							<p class="our-forward-looking-company">We are into insurance to change the current belief</p>
            						</div>
          					</div>
          					<div class="group-wrapper12">
            						<div class="group-parent11">
              							<div class="group-parent12">
                								<div class="solving-problems-parent">
                  									<b class="reduction">Solving problems</b>
                  									<div class="were-solving-problems-container">
                    										<p class="our-forward-looking-company">We’re solving problems that change </p>
                    										<p class="our-forward-looking-company">and save lives.</p>
                  									</div>
                								</div>
                								<div class="seek-the-truth-parent">
                  									<b class="b">Seek the truth.</b>
                  									<div class="but-never-assume-container">
                    										<p class="our-forward-looking-company">… but never assume you’ve found it. </p>
                    										<p class="our-forward-looking-company">Be scientific.</p>
                  									</div>
                								</div>
              							</div>
              							<div class="group-parent13">
                								<div class="powered-by-people-parent">
                  									<b class="reduction">Powered by people.</b>
                  									<div class="members-above-all">Members above all. Developing and growing others is what raises the bar.</div>
                								</div>
                								<div class="inspire-provoke-parent">
                  									<b class="reduction">Inspire & provoke.</b>
                  									<div class="develop-and-display">Develop and display leadership at all levels.</div>
                								</div>
              							</div>
              							<div class="group-parent14">
                								<div class="make-it-right-parent">
                  									<div class="make-it-right-parent">
                    										<b class="reduction">Make it right.</b>
                    										<div class="admit-your-mistakes">Admit your mistakes. Then learn from them. Never build alone.</div>
                  									</div>
                								</div>
                								<div class="be-transparent-parent">
                  									<b class="reduction">Be transparent.</b>
                  									<div class="give-and-ask">Give and ask for direct feedback. Be grateful for the help by others.</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<img class="plant-pot-1-icon" alt="" src="/statics/img/plant-pot 1.svg">
      			
    		</div>
    		<div class="b-insure-variantsfooter">
      			<div class="b-insure-variantsfooter-child">
      			</div>
      			<div class="group-parent15">
        				<div class="group-wrapper14">
          					<div class="image-35-parent">
            						<div class="image-35-parent">
              							<div class="image-35-parent">
                								<img class="image-35-icon" alt="" src="/statics/img/home/nav/image 35.svg">
                								
                								<div class="group-child7">
                								</div>
              							</div>
              							<img class="bi-icon1" alt="" src="/statics/img/home/nav/Bi.svg">
              							
            						</div>
          					</div>
        				</div>
        				<div class="po-box-9999-container">
          					<p class="our-forward-looking-company">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
          					<p class="our-forward-looking-company">&nbsp;</p>
          					<p class="our-forward-looking-company">999-888-0000 . </p>
          					<p class="our-forward-looking-company">care@binsure.ca</p>
        				</div>
      			</div>
      			<div class="b-insure-variantsfooter-item">
      			</div>
      			<div class="quick-links-parent">
        				<b class="quick-links">Quick links</b>
        				<div class="sitemap" id="sitemapText">Sitemap</div>
        				<div class="careers" id="careersText">Careers</div>
        				<div class="contact-us" id="contactUsText">Contact us</div>
        				<div class="blog">Blog</div>
        				<div class="faqs">FAQs</div>
        				<div class="about">About</div>
      			</div>
      			<div class="terms-of-use-parent">
        				<div class="terms-of-use" id="termsOfUse">Terms of use</div>
        				<div class="privacy-policy" id="privacyPolicyText">Privacy Policy</div>
        				<div class="cookie-policy" id="cookiePolicyText">Cookie policy</div>
        				<b class="quick-links">Legal</b>
      			</div>
      			<div class="copyright-2024">Copyright © 2024  Inc. All rights reserved.</div>
      			<img class="b-insure-variantsfooter-inner" alt="" src="/statics/img/why/footer/Group 536.svg">
      			
    		</div>
  	</div>
  	
</div>
  	
  	
  	<script src="/statics/js/ff.js"></script>
			</body>
</html>