<!DOCTYPE html>
	<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">

		<link rel="stylesheet" href="/statics/css/Auto_Insurance.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
	</head>

	<body class="body_tag">
		<div id="auto-Insure" class="auto-I">
		<div class="auto-insurance">
			<img class="image-1-icon" alt="" src="image 1.png">

			<img class="image-2-icon" alt="" src="image 2.png">

			<img class="close-line-icon" alt="" src="/statics/img/home/nav/close-line.svg">

			<img class="image-1-icon1" alt="" src="image 1.png">

			<img class="image-2-icon1" alt="" src="image 2.png">

			<div class="group-parent">
				<div class="rectangle-parent">
					<div class="group-child">
					</div>
					<div class="group-container">
						<div class="group-wrapper">
							<div class="group-frame">
								<div class="group-frame">
									<div class="group-frame">
										<img class="image-35-icon" alt="" src="/statics/img/header/image 35.png">

										<div class="group-item">
										</div>
									</div>
									<img class="bi-icon" alt="" src="/statics/img/header/Bi.svg">

								</div>
							</div>
						</div>
						<div class="po-box-9999-container">
							<p class="blank-line">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
							<p class="blank-line">&nbsp;</p>
							<p class="blank-line">999-888-0000 . </p>
							<p class="blank-line">care@binsure.ca</p>
						</div>
					</div>
					<div class="group-inner">
					</div>
					<div class="quick-links-parent">
						<b class="quick-links">Quick links</b>
						<div class="sitemap">Sitemap</div>
						<div class="careers">Careers</div>
						<div class="contact-us">Contact us</div>
						<div class="insurance">Insurance</div>
						<div class="blog">Blog</div>
						<div class="faqs">Faqs</div>
						<div class="about">About</div>
					</div>
					<div class="terms-of-use-parent">
						<div class="terms-of-use">Terms of use</div>
						<div class="privacy-policy">Privacy Policy</div>
						<div class="cookie-policy">Cookie policy</div>
						<b class="quick-links">Legal</b>
					</div>
					<div class="copyright-2024">Copyright © 2024 Inc. All rights reserved.</div>
					<img class="group-icon" alt="" src="/statics/img/why/footer/Group 536.svg">

				</div>
				<div class="rectangle-group">
					<div class="rectangle-div">
					</div>
					<div class="button-with-icon-parent">
						<div class="button-with-icon">
							<div class="add-listing-wrapper">
								<b class="add-listing">Become a partner</b>
							</div>
						</div>
						<div class="button-with-icon1">
							<div class="add-listing-wrapper">
								<b class="add-listing1">Join our team</b>
							</div>
						</div>
						<div class="group-wrapper1">
							<div class="join-the-team-that-is-making-h-parent">
								<div class="join-the-team">Join the team that is making health insurance simple,
									transparent, and human.</div>
								<b class="change-insurance-for">Change insurance for good</b>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-hero-background-parent">
				<div class="about-hero-background">
				</div>
				<div class="group-parent1">
					<div class="group-parent2">
						<div class="trusted-by-over-10000-canadia-parent">
							<div class="trusted-by-over-10000-canadia-parent">
								<div class="trusted-by-over-container">
									<p class="blank-line">Trusted by over 10,000</p>
									<p class="blank-line">Canadian small businesses</p>
								</div>
								<img class="vector-icon" alt="" src="/statics/img/Life_Insurance/Vector.svg">

							</div>
						</div>
						<div class="group-parent3">
							<div class="save-up-to-35-on-your-insuran-wrapper">
								<div class="save-up-to">Save up to 35% on your insurance</div>
							</div>
							<img class="flying-money-1-icon" alt="" src="/statics/img/Life_Insurance/flying_money 1.svg">

						</div>
					</div>
					<div class="no-matter-the-container">
						<p class="blank-line">No matter the kind of wheels </p>
						<p class="blank-line">your business relies on, you’ll likely </p>
						<p class="blank-line">
							<span>need </span>
							<b class="commercial-insurance">commercial insurance.</b>
						</p>
					</div>
					<div class="buttons">
						<div class="buttons-child">
						</div>
						<b class="how-it-works">How it Works</b>
					</div>
					<div class="whether-your-business">Whether your business has a single utility van or a fleet of trucks,
						you need a customized commercial auto insurance policy based on your unique needs.</div>
				</div>
				<div class="rectangle-container">
					<div id="group-child01" class="group-child1">
					</div>
					<div class="i-agree-to-container">
						<p id="i-agree" class="blank-line">I agree to
							<span class="terms-of-use1">terms of use</span> and
							<span class="terms-of-use1">privacy policy</span> when getting
						</p>
						<p id="a-free" class="blank-line">a free quote from </p>
					</div>
					<form action="/submit_form" method="post">
					<div class="group-parent4">
						<div class="group-wrapper3">
							<div class="group-wrapper4">
								<div class="group-wrapper4">
									<div class="group-child2">
									</div>
									<button type="submit" class="get-a-free">Get a Free quote</button>
								</div>
							</div>
						</div>
						<div class="your-name-parent">
							<b class="your-name">Your name</b>
							<div class="rectangle-parent2">
								<input type="text" class="group-child3" placeholder="Your name" name="name">
							</div>
						</div>
						<div class="contact-number-parent">
							<b class="your-name">
								<span>Contact number</span>
								<span class="span"> *</span>
							</b>
							<div class="group-parent5">
								<div class="group-frame">
									<div class="input-wrapper">
										<select class="country-code-select" name="country_code">
											<option value="+1">+1</option>
											<option value="+40">+40</option>
											<option value="+91">+91</option>
											<!-- Add more country codes as needed -->
										</select>
										<input type="number" class="group-child3" required
											placeholder="Contact number" name="contact_number">
									</div>
								</div>
							</div>
						</div>
						<div class="group-parent6">
							<div class="rectangle-parent4">
								<select class="group-child3" name="planning_to_buy">
									<option value="1-2 Weeks">1-2 Weeks</option>
									<option value="2-4 Weeks">2-4 Weeks</option>
									<option value="1-2 Months">1-2 Months</option>
									<!-- Add more options as needed -->
								</select>
							</div>
								<b class="planning-to-buy">Planning to buy </b>
						</div>
						<div class="group-parent7">
							<div class="rectangle-parent5">
								<input type="email" class="group-child3" placeholder="Email address"
									name="email">
							</div>
								<b class="planning-to-buy">Email address</b>
						</div>
					</div>
					<input type="hidden" name="insurance_type" value="Auto-insurance">
					</form>
				</div>
			</div>
			<div class="group-parent8">
				<div class="get-instant-travel-insurance-q-wrapper">
					<div class="get-instant-travel-container">
						<p class="blank-line">
							<b>Get instant travel insurance quotes</b>
						</p>
						<p class="blank-line">from 20 of Canada's Top Insurers</p>
					</div>
				</div>
				<div class="frame-parent">
					<div class="frame-parent-inner">
						<div class="image-11-wrapper">
							<img class="image-11-icon" alt="" src="/statics/img/image 11.png">
							
						</div>
						<div class="image-8-wrapper">
							<img class="image-8-icon" alt="" src="/statics/img/image 8.png">
							
						</div>
						<div class="image-12-wrapper">
							<img class="image-12-icon" alt="" src="/statics/img/image 12.png">
							
						</div>
						<div class="image-9-wrapper">
							<img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							
						</div>
						<img class="frame-child" alt="" src="/statics/img/image 11.png">
						
						<img class="frame-item" alt="" src="/statics/img/image 8.png">
						
						<img class="frame-inner" alt="" src="/statics/img/image 12.png">
						
						<div class="image-16-wrapper">
							<img class="image-16-icon" alt="" src="/statics/img/image 10.png">
							
						</div>
						<div class="image-13-wrapper">
							<img class="image-9-icon" alt="" src="/statics/img/image 8.png">
							
						</div>
					</div>
				</div>
			</div>
			<div class="about-hero-background-group">
				<!-- <img class="about-hero-background-icon" alt="" src="about_hero_background.svg">  -->

				<div class="group-parent9">
					<div class="group-wrapper5">
						<div class="why-choose-parent">
							<div class="why-choose-parent">
								<div class="why-choose-parent">
									<b class="why-choose">Why Choose </b>
									<div class="we-help-canada-container">
										<p class="blank-line">We help Canada small business owners save time and money by
											providing</p>
										<p class="blank-line">a convenient and affordable way to buy business insurance</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="group-parent10">
						<div class="rectangle-parent6">
							<div class="group-child7">
							</div>
							<img class="icon-100-1" alt="" src="/statics/img/Auto_Insurance/convenience 2.svg">

							<b class="convenience">Convenience</b>
							<div class="purchase-your-insurance-container">
								<p class="blank-line">Purchase your insurance anytime, </p>
								<p class="blank-line">anywhere, with our easy-to-use online platform.</p>
							</div>
						</div>
						<div class="rectangle-parent7">
							<div class="group-child8">
							</div>
							<img class="icon-100-11" alt="" src="/statics/img/Auto_Insurance/cost 1.svg">

							<b class="cost">Cost</b>
							<div class="compare-rates-across">Compare rates across leading insurance companies to ensure you
								get the best price on your premium.</div>
						</div>
						<div class="rectangle-parent8">
							<div class="group-child8">
							</div>
							<img class="icon-100-11" alt="" src="/statics/img/Auto_Insurance/data-file 1.svg">

							<b class="cost">Curation</b>
							<div class="compare-rates-across">We use data and analytics to identify the right insurance
								policies for your business.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="auto-insurance-child">
			</div>
			<div class="feature-2">
			</div>
			<div class="group-parent11">
				<img class="group-child10" alt="" src="/statics/img/Auto_Insurance/Group 892.svg">

				<div class="frame-group">
					<div class="why-do-you-need-commercial-aut-wrapper">
						<b class="why-do-you-container">
							<p class="blank-line">Why do you need commercial </p>
							<p class="blank-line">auto insurance?</p>
						</b>
					</div>
					<div class="independent-contractors-and-container">
						<p class="blank-line">Independent contractors and small business owners need to safeguard themselves
							from third-party liability and property damages that may occur when using any vehicle for
							business purposes. Most personal car insurance policies do not cover accidents or incidents for
							any vehicle that’s used for business.</p>
						<p class="blank-line">&nbsp;</p>
						<p class="blank-line">You can choose the level of coverage that works for you to ensure your
							vehicles are protected if ever an incident happens.</p>
						<ul class="civil-liability-civil-liabili">
							<li class="all-perils-other-than-collisio">
								<b class="civil-liability">Civil liability: </b>
								<span>Civil liability coverage protects you if you're responsible for injuring someone or
									damaging someone else's property. If you’re not at-fault, it also covers damage to your
									vehicle from a collision.</span>
							</li>
						</ul>
						<p class="blank-line">
							<b>Optional coverage</b>
						</p>
						<ul class="civil-liability-civil-liabili">
							<li class="all-perils-other-than-collisio">
								<b>Collision or upset: </b>
								<span>Collision or upset coverage protects your vehicle from damages caused by impact with
									another vehicle or an object such as a guardrail, or if your car flips over.</span>
							</li>
							<li class="all-perils-other-than-collisio">
								<b class="civil-liability">All perils other than collision or upset: </b>
								<span class="civil-liability">All perils other than collision or upset coverage protects
									your vehicle from damages caused by fire, theft, vandalism, hail, flood, and
									more.</span>
							</li>
							<li>
								<b class="civil-liability">Specific perils: </b>
								<span class="civil-liability">Specific risks coverage protects your vehicle from damages
									caused event specifically covered by your policy, such as lightening, an explosion or
									earthquake.</span>
							</li>
						</ul>
					</div>
					<div class="button-with-icon2" data-target="quote-target">
						<div class="add-listing-wrapper">
							<b class="add-listing">Get a Quote</b>
						</div>
					</div>
				</div>
			</div>
			<div class="rectangle-parent9">
				<div class="group-child11">
				</div>
				<img class="group-child12" alt="" src="/statics/img/contact/Group 756.png">

				<div class="group-wrapper8">
					<div class="group-frame">
						<div class="button-with-icon3">
							<div class="add-listing-wrapper">
								<b class="add-listing2">Schedule a call</b>
							</div>
						</div>
						<div class="group-wrapper9">
							<div class="chat-with-our-licensed-advisor-parent">
								<div class="chat-with-our-licensed-advisor-parent">
									<div class="chat-with-our">Chat with our licensed advisors right away, or book some time
										with them.</div>
									<b class="change-insurance-for">Need Insurance answers</b>
								</div>
							</div>
						</div>
					</div>
				</div>
				<img class="group-child13" alt="" src="/statics/img/Life_Insurance/Group 757.svg">

			</div>
			<div class="infobar">
				<div class="infobar-child">
				</div>
				<img class="close-line-icon1" alt="" src="/statics/img/home/nav/close-line.svg">

				<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error,
					please try again later. Thanks for your patience."</div>
			</div>
			<div class="b-insure-variants">
				<div class="b-insure-variants-child">
				</div>
				<div class="b-insure-variants-item">
				</div>
				<div class="group-parent12">
					<div class="group-frame">
						<img class="image-35-icon" alt="" src="/statics/img/Life_Insurance/image 35.svg">

						<div class="group-child14">
						</div>
					</div>
					<img class="bi-icon1" alt="" src="/statics/img/Life_Insurance/Bi.svg">

				</div>
				<!-- <div class="frame-container">
							<div class="home-wrapper" id="frameContainer">
								<b class="home">Home</b>
							</div>
							<div class="individual-wrapper">
								<div class="home">Individual</div>
							</div>
							<div class="commercial-wrapper">
								<div class="home">Commercial</div>
							</div>
							<div class="travel-wrapper" id="frameContainer3">
								<div class="home">Travel</div>
							</div>
							<div class="support-wrapper">
								<div class="home">Support</div>
							</div>
							<div class="button-with-icon4">
								<div class="add-listing-wrapper">
										<b class="add-listing">Get a Quote</b>
								</div>
							</div>
							<div class="line-div">
							</div>
							<img class="search-line-icon" alt="" src="/statics/img/Life_Insurance/search-line.svg">
							
					</div> -->
				<div class="frame-container">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				</div>
				<div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							<div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							</div>
							<div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							</div>
							<div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							</div>
						</div>
				</div>
				<div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							<div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							</div>
							<div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							</div>
							<div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							</div>
							<div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							</div>
						</div>
				</div>
				<div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				</div>
				<div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							<div class="line1"><b>Contact us</b></div>
							<div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							<div class="line1"><b>About us</b></div>
							<div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							<div class="line1"><b>How it works</b></div>
							<div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							<div class="line1"><b>FAQs</b></div>
							<div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							<div class="line1"><b>Blog</b></div>
							<div class="line2">Insurance Knowledge Resource</div>
						</div>
				</div>
				</div>
					<div class="button-with-icon4" data-target="quote-target">
						<div class="add-listing-wrapper">
							<b class="add-listing">Get a Quote</b>
						</div>
					</div>
					<div class="line-div">
					</div>
					<img class="search-line-icon" alt="" src="/statics/img/Life_Insurance/search-line.svg">

				</div>
				<b class="binsure">BINSURE</b>
			</div>
			<div class="about-hero-background-container">
				<!-- <img class="about-hero-background-icon1" alt="" src="about_hero_background.svg"> -->

				<div class="group-parent13">
					<div class="group-wrapper11">
						<div class="commercial-auto-insurance-cove-parent">
							<div class="commercial-auto-insurance-cove-parent">
								<div class="commercial-auto-insurance-cove-parent">
									<b class="add-listing">Commercial Auto insurance coverages </b>
									<div class="liability-insurance-provides">Liability insurance provides peace of mind in
										the event of potentially costly liability situations for all types of businesses and
										professions.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="group-parent14">
						<div class="group-parent15">
							<div class="rectangle-parent10">
								<div class="group-child15">
								</div>
								<img class="icon-100-13" alt="" src="/statics/img/Auto_Insurance/car-rating 1.svg">

								<b class="convenience">Good record protection</b>
								<div class="purchase-your-insurance-container">Good record protection guarantees your
									insurance premium won’t increase at renewal as a result of up to two losses of any kind
									over a 5-year period. </div>
							</div>
							<div class="rectangle-parent11">
								<div class="group-child15">
								</div>
								<img class="icon-100-14" alt="" src="/statics/img/Auto_Insurance/tow-truck 1.svg">

								<b class="cost">Roadside assistance</b>
								<div class="roadside-assistance-entitles">Roadside assistance entitles your business to four
									service calls per year, per covered vehicle of 4,500 kg or less, from these options
								</div>
							</div>
							<div class="rectangle-parent12">
								<div class="group-child15">
								</div>
								<img class="icon-100-14" alt="" src="/statics/img/Auto_Insurance/car-exchange 1.svg">

								<b class="cost">Replacement cost</b>
								<div class="roadside-assistance-entitles">Replacement cost coverage protects the value of
									your vehicle if it needs to be replaced because it was stolen or damaged beyond repair.
								</div>
							</div>
						</div>
						<div class="group-wrapper14">
							<div class="rectangle-parent13">
								<div class="group-child18">
								</div>
								<div class="icon-100-16">
									<div class="car-insurance-2">
										<div class="group">
											<div class="group-frame">
												<img class="group-icon1" alt=""
													src="/statics/img/Auto_Insurance/car-insurance 2.svg">

											</div>

										</div>
									</div>
								</div>
								<b class="convenience">Solution Program</b>
								<div class="the-solution-program-container">
									<p class="blank-line">The Solution Program allows you to insure your company vehicle(s)
										when you’re not eligible for standard insurance.</p>
									<p class="blank-line">This commercial auto insurance program applies to the vehicle(s)
										or the driver(s), not the policy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-hero-background-parent1">
				<!-- <img class="about-hero-background-icon2" alt="" src="about_hero_background.svg"> -->

				<div class="group-wrapper15">
					<div class="group-parent16">
						<div class="group-wrapper16">
							<div class="auto-insurance-examples-parent">
								<b class="auto-insurance-examples">Auto Insurance Examples</b>
								<div class="consider-these-real-world">Consider these real-world examples to understand just
									how vital restaurant insurance truly is</div>
							</div>
						</div>
						<div class="button-with-icon5" data-target="quote-target">
							<div class="add-listing-wrapper">
								<b class="add-listing2">Insure now</b>
							</div>
						</div>
						<div class="group-parent17">
							<div class="icon-100-3-parent">
								<div class="icon-100-3">
									<div class="car-insurance-3">
										<div class="group">
											<div class="group-frame">
												<img class="group-icon1" alt=""
													src="/statics/img/Auto_Insurance/car-insurance 2.svg">

											</div>

										</div>
									</div>
								</div>
								<div class="group-parent18">
									<div class="you-park-your-vehicle-in-your-parent">
										<div class="you-park-your">You park your vehicle in your driveway. Overnight, a
											hailstorm erupts, damaging your vehicle’s windshield.</div>
										<b class="comprehensive-coverage">Comprehensive coverage</b>
									</div>
									<div class="what-happens-next-if-you-have-wrapper">
										<div class="what-happens-next-container">
											<p class="what-happens-next">What happens next?</p>
											<p class="blank-line">If you have optional comprehensive insurance added to your
												policy, it will cover the cost to repair your windshield, minus a
												deductible.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="group-parent19">
								<div class="group-parent20">
									<div class="third-party-liability-parent">
										<b class="add-listing">Third-party liability</b>
										<div class="youre-driving-to">You’re driving to a worksite and accidentally rear-end
											a vehicle in front of you that stops suddenly, causing the driver of the other
											vehicle to suffer a whiplash neck injury and decides to sue you for pain and
											suffering.</div>
									</div>
									<img class="icon-100-17" alt=""
										src="/statics/img/Auto_Insurance/3rd-party-liability 1.svg">

								</div>
								<div class="what-happens-next-the-client-wrapper">
									<div class="what-happens-next-container1">
										<p class="what-happens-next">What happens next?</p>
										<p class="blank-line">The client successfully sues your business for bodily injury.
											Your CGL coverage may cover the legal expenses and medical fees, totalling
											$25,000.</p>
									</div>
								</div>
							</div>
							<div class="icon-100-2-parent">
								<img class="icon-100-17" alt="" src="/statics/img/Auto_Insurance/fender-bender 1.svg">

								<div class="group-parent21">
									<div class="collision-or-upset-coverage-parent">
										<b class="add-listing">Collision or upset coverage</b>
										<div class="you-are-driving">You are driving home from work and are t-boned while
											driving through an intersection by another driver who ran a red light. Your
											vehicle is significantly damaged in the accident</div>
									</div>
									<div class="what-happens-next-if-you-have-container">
										<div class="what-happens-next-container1">
											<p class="what-happens-next">What happens next?</p>
											<p class="blank-line">If you have optional collision or upset coverage as part
												of your policy, it will cover the costs associated with repairing your
												vehicle. How much of the damages it will cover is determined by whether you
												were fully or partially at-fault, or not at fault.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="auto-insurance-inner">
				<div class="group-wrapper17">
					<div class="group-wrapper17">
						<div class="group-child19">
						</div>
						<div class="group-parent22">
							<div class="group-parent23">
								<div class="group-parent24">
									<div class="i-have-a-different-question-wrapper">
										<div class="i-have-a">I have a different question</div>
									</div>
									<img class="arrow-left-s-line-icon" alt=""
										src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">

								</div>
								<div class="frequently-asked-questions-parent">
									<b class="add-listing">Frequently asked questions</b>
									<div class="when-you-need-container">
										<p class="blank-line">When you need help with insurance and claims,</p>
										<p class="blank-line">it’s at the ready 24/7.</p>
									</div>
								</div>
							</div>
							<div class="group-parent25">
								<div class="new-group-parent26">
								  <div class="new-group-parent27">
									<div class="new-what-is-a-life-insurance-wrapper">
									  <b class="new-add-listing">If I use my personal vehicle for work and get into an
										accident, will my personal car insurance policy pay for damages?</b>
									  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
									</div>
								  </div>
								  <div class="new-rectangle-parent23 new-content">
									<div class="new-group-child29"></div>
									<div class="new-life-insurance-provides1">Not necessarily. If the insurer for your existing
										personal auto policy is unaware you are using your private vehicle for business
										purposes, they could deny any claim you file. That means you will be on your own
										to cover the cost of repairing or replacing your vehicle. Furthermore, your
										personal auto policy could be cancelled by the insurer for not notifying them
										you use your vehicle for work. If an insurer cancels your personal auto policy,
										it will cause your premium to rise significantly.</div>
								  </div>
								</div>
								<div class="new-group-parent28">
								  <div class="new-group-parent27">
									<div class="new-group-parent29">
									  <div class="new-how-much-does-life-insurance-c-wrapper">
										<b class="new-add-listing">What does general liability insurance cover?</b>
									  </div>
									  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
									</div>
								  </div>
								  <div class="new-rectangle-parent24 new-content">
									<div class="new-group-child30"></div>
									<div class="new-the-monthly-or">General liability insurance typically includes coverage for legal
										costs and damages related to the following coverage areas:</div>
								  </div>
								</div>
								<div class="new-group-parent30">
								  <div class="new-group-parent27">
									<div class="new-how-does-life-insurance-works-wrapper">
									  <b class="new-add-listing">Are my tools covered under my commercial auto policy?</b>
									</div>
									<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
								  </div>
								  <div class="new-rectangle-parent25 new-content">
									<div class="new-group-child31"></div>
									<div class="new-with-b-insure-life">You may require an enhancement to
										your policy to protect your tools and equipment. Tools and equipment coverage is
										designed to replace, or repair lost or damaged equipment and tools, accessories.
										Anything valued at less than $1,500 is considered a tool, whereas anything above
										is considered equipment.</div>
								  </div>
								</div>
								<div class="new-group-parent32">
								  <div class="new-group-parent27">
									<div class="new-what-type-of-life-insurance-i-wrapper">
									  <b class="new-what-type-of">Is a pickup truck considered a commercial vehicle?</b>
									</div>
									<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
								  </div>
								  <div class="new-rectangle-parent26 new-content">
									<div class="new-group-child32"></div>
									<div class="new-with-b-insure-life">In general, most provinces
										consider pickup trucks to be commercial motor vehicles if they are used for
										commercial or business purposes. However, check with your provincial
										transportation ministry to determine if your pickup truck is classified as a
										commercial vehicle.</div>
								  </div>
								</div>
								<div class="new-group-parent34">
								  <div class="new-group-parent27">
									<div class="new-what-type-of-life-insurance-i-wrapper">
									  <b class="new-what-type-of">Any tips to get cheap Commercial Auto Insurance</b>
									</div>
									<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
								  </div>
								  <div class="new-rectangle-parent27 new-content">
									<div class="new-group-child33"></div>
									<div class="new-with-b-insure-life">Choose vehicles wisely : The
										vehicle you drive will always impact insurance costs. Choose something
										that makes sense for your operations.</div>
								  </div>
								</div>
							
							  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="rectangle-parent20">
				<div class="group-child25">
				</div>
				<div class="group-parent36">
					<div class="what-does-commercial-auto-insu-parent">
						<b class="add-listing">
							<p class="blank-line">What does commercial auto insurance </p>
							<p class="blank-line">cover?</p>
						</b>
						<div class="a-standard-commercial">A standard commercial auto policy in Canada is like the coverages
							in a personal car insurance policy. For example, a personal car insurance policy includes:</div>
						<div class="third-party-liability-provide-container">
							<ul class="third-party-liability-provide">
								<li class="all-perils-other-than-collisio">
									<b class="civil-liability">Third-party liability: </b>
									<span class="provides-protection-if">Provides protection if you’re at fault in an
										accident for injuring or killing someone or damaging their property.</span>
								</li>
								<li class="all-perils-other-than-collisio">
									<b class="civil-liability">Direct compensation-property damage (DCPD): </b>
									<span class="dcpd-covers-your">DCPD covers your vehicle, its attached contents (such as
										the dashboard infotainment system), and the loss of use of your vehicle if you are
										partially at fault or not-at-fault for an accident. DCPD means you deal with your
										insurer directly instead of suing the other driver for damages.</span>
								</li>
								<li class="all-perils-other-than-collisio">
									<b class="civil-liability">Accident benefits: </b>
									<span class="dcpd-covers-your">If you are injured in an auto accident, accident benefits
										pay for your medical bills and rehabilitation regardless of whether you are at fault
										for an accident or not. You have the option of increasing your accident benefits
										coverage limit. Speak to your broker about what your options are.</span>
								</li>
								<li>
									<b class="civil-liability">Uninsured auto: </b>
									<span class="dcpd-covers-your">If you’re involved in an accident with an uninsured
										motorist or an unknown driver who commits a hit-and-run, your uninsured auto
										coverage will pay for damages to your vehicle.</span>
								</li>
							</ul>
						</div>
					</div>
					<img class="group-child26" alt="" src="/statics/img/Auto_Insurance/insurance-cover 1.svg">

					<div class="group-parent37">
						<div class="how-much-does-commercial-auto-parent">
							<b class="add-listing">
								<p class="blank-line">How much does commercial auto </p>
								<p class="blank-line">insurance cost?</p>
							</b>
							<div class="the-cost-of">The cost of a commercial auto insurance policy involves several
								factors, including: </div>
							<div class="your-driving-record-container">
								<ul class="choose-vehicles-wisely-the-v">
									<li class="all-perils-other-than-collisio">Your driving record and years of experience
										behind the wheel</li>
									<li class="all-perils-other-than-collisio">The type of vehicle you drive</li>
									<li class="all-perils-other-than-collisio">Your age and gender</li>
									<li class="all-perils-other-than-collisio">Where you live or where the vehicle is
										typically parked</li>
									<li class="all-perils-other-than-collisio">How many kilometers you drive annually</li>
								</ul>
								<p class="blank-line">&nbsp;</p>
								<p class="blank-line">Different insurers offer varying premiums based on these and other
									factors. That’s why it pays to have a broker shop around on your behalf and find you a
									policy that suits your needs at an affordable price.</p>
							</div>
						</div>
						<div class="group-wrapper19">
							<div class="group-frame">

								<div class="group5">
									<img class="group-icon9" alt="" src="/statics/img/Auto_Insurance/Group (1).svg">

								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rectangle-parent21">
			<div class="group-child27">
			</div>
			<div class="group-wrapper20">
				<div class="container">
					<img class="icon" alt="" src="/statics/img/Life_Insurance/dot.svg">

					<img class="icon1" alt="" src="/statics/img/Life_Insurance/dot.svg">

					<div class="group-parent38">
						<div class="group-parent39">
							<div class="group-wrapper21">
								<div class="testimonial-card-wrapper">
									<div class="testimonial-card">
										<div class="logo-2">
										</div>
										<div class="best-product-ever">Greg is always making sure all my insurance needs are
											covered. Excellent service and very responsive.. thanks again!</div>
										<div class="line-parent">
											<div class="frame-child1">
											</div>
											<b class="home">Palakas Fotini</b>
										</div>
										<img class="testimonial-card-child" alt=""
											src="/statics/img/Life_Insurance/Group 871.svg">

									</div>
								</div>
							</div>
							<div class="group-wrapper22">
								<div class="testimonial-card-wrapper">
									<div class="testimonial-card">
										<div class="logo-2">
										</div>
										<div class="best-product-ever">Greg is always making sure all my insurance needs are
											covered. Excellent service and very responsive.. thanks again!</div>
										<div class="line-group">
											<div class="frame-child1">
											</div>
											<b class="home">Dirk Michon</b>
										</div>
										<img class="testimonial-card-item" alt=""
											src="/statics/img/Life_Insurance/Group 871.svg">

									</div>
								</div>
							</div>
							<div class="group-wrapper23">
								<div class="testimonial-card-wrapper">
									<div class="testimonial-card">
										<div class="logo-2">
										</div>
										<div class="best-product-ever">Greg is always making sure all my insurance needs are
											covered. Excellent service and very responsive.. thanks again!</div>
										<div class="line-container">
											<div class="frame-child1">
											</div>
											<b class="home">Derpina Wickers</b>
										</div>
										<img class="testimonial-card-inner" alt=""
											src="/statics/img/Life_Insurance/Group 871.svg">

									</div>
								</div>
							</div>
							<div class="testimonial-card-wrapper">
								<div class="testimonial-card-wrapper">
									<div class="testimonial-card">
										<div class="frame-div">
										</div>
										<div class="logo-2">
										</div>
										<div class="best-product-ever">“Great service, very easy and well explained
											procedures and information needed for insurance. Greg was great to work with,
											and had excellent communication skills. 10/10 recommend.”</div>
										<div class="line-parent">
											<div class="frame-child1">
											</div>
											<b class="home">Palakas Fotini</b>
										</div>
										<img class="testimonial-card-child1" alt=""
											src="/statics/img/Life_Insurance/Group 871.svg">

									</div>
								</div>
							</div>
						</div>
						<div class="frame-wrapper">
							<div class="frame-parent1">
								<div class="what-people-say-wrapper">
									<b class="what-people-say">What people say</b>
								</div>
								<div class="our-customer-are-container">
									<p class="blank-line">Our customer are our top priority</p>
									<p class="blank-line">Let’s hear what they have to say.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>




	</div>
		<script src="statics/js/ff.js"></script>
	</body>

	</html>
