<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">

	<link rel="stylesheet" href="statics/css/Car_Insurance.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;600;700&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />



</head>

<body>
	<div class="car-I">

	<div class="car-insurance">
		<img class="image-1-icon" alt="" src="image 1.png">

		<img class="image-2-icon" alt="" src="image 2.png">

		<img class="close-line-icon" alt="" src="/statics/img/header/close-line.svg">

		<img class="image-1-icon1" alt="" src="image 1.png">

		<img class="image-2-icon1" alt="" src="image 2.png">

		<div class="group-parent">
			<div class="rectangle-parent">
				<div class="group-child">
				</div>
				<div class="group-container">
					<div class="group-wrapper">
						<div class="group-frame">
							<div class="group-frame">
								<div class="group-frame">
									<img class="image-35-icon" alt="" src="/statics/img/header/image 35.png" id="footer-logo">

									<div class="group-item" id="footer-logo">
									</div>
								</div>
								<img class="bi-icon" alt="" src="/statics/img/header/Bi.svg" id="footer-image">

							</div>
						</div>
					</div>
					<div class="po-box-9999-container">
						<p class="blank-line">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
						<p class="blank-line">&nbsp;</p>
						<p class="blank-line">999-888-0000 . </p>
						<p class="blank-line">care@binsure.ca</p>
					</div>
				</div>
				<div class="group-inner">
				</div>
				<div class="quick-links-parent">
					<b class="quick-links">Quick links</b>
					<div class="sitemap">Sitemap</div>
					<div class="careers">Careers</div>
					<div class="contact-us">Contact us</div>
					<div class="insurance">Insurance</div>
					<div class="blog">Blog</div>
					<div class="faqs">Faqs</div>
					<div class="about">About</div>
				</div>
				<div class="terms-of-use-parent">
					<div class="terms-of-use">Terms of use</div>
					<div class="privacy-policy">Privacy Policy</div>
					<div class="cookie-policy">Cookie policy</div>
					<b class="quick-links">Legal</b>
				</div>
				<div class="copyright-2024">Copyright © 2024 Inc. All rights reserved.</div>
				<img class="group-icon" alt="" src="/statics/img/why/footer/Group 536.svg">

			</div>
			<div class="rectangle-group">
				<div class="rectangle-div">
				</div>
				<div class="button-with-icon-parent">
					<div class="button-with-icon">
						<div class="add-listing-wrapper">
							<b class="add-listing">Become a partner</b>
						</div>
					</div>
					<div class="button-with-icon1">
						<div class="add-listing-wrapper">
							<b class="add-listing-1">Join our team</b>
						</div>
					</div>
					<div class="group-wrapper1">
						<div class="join-the-team-that-is-making-h-parent">
							<div class="join-the-team">Join the team that is making health insurance simple,
								transparent, and human.</div>
							<b class="change-insurance-for">Change insurance for good</b>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="car-insurance-inner">
			<div class="about-hero-background-parent">
				<div class="about-hero-background">
				</div>
				<div class="group-parent1">
					<div class="group-parent2">
						<div class="group-parent3">
							<div class="trusted-by-over-10000-canadia-parent">
								<div class="trusted-by-over-10000-canadia-parent">
									<div class="trusted-by-over-container">
										<p class="blank-line">Trusted by over 10,000</p>
										<p class="blank-line">Canadian small businesses</p>
									</div>
									<img class="vector-icon" alt="" src="/statics/img/Life_Insurance/Vector.svg">

								</div>
							</div>
							<div class="group-parent4">
								<div class="save-up-to-35-on-your-insuran-wrapper">
									<div class="save-up-to">Save up to 35% on your insurance</div>
								</div>
								<img class="flying-money-1-icon" alt=""
									src="/statics/img/Life_Insurance/flying_money 1.svg">

							</div>
						</div>
						<div class="with-us-you-container">
							<span>With us, you stay in the driver's seat. Get a car insurance quote and the </span>
							<b>right protection for your needs.</b>
						</div>
						<div class="buttons">
							<div class="buttons-child">
							</div>
							<b class="get-instant-quote">Get instant Quote</b>
						</div>
						<div class="get-a-personalized">Get a personalized car insurance premium with our insurers. Safe
							driving could help you save!</div>
					</div>
					<div class="rectangle-container">
						<div class="group-child1">
						</div>
						<div class="i-agree-to-container">
							<p class="blank-line">I agree to
								<span class="terms-of-use1">terms of use</span> and
								<span class="terms-of-use1">privacy policy</span> when getting
							</p>
							<p class="blank-line">a free quote from </p>
						</div>
						<form action="submit_form" method="post" >
							<div class="group-parent5">
								<div class="group-wrapper3">
									<div class="group-wrapper4">
										<div class="group-wrapper4">
											<div class="group-child2"></div>
											<button type="submit" class="get-a-free">Get a Free quote</button>
										</div>
									</div>
								</div>
								<div class="your-name-parent">
									<b class="your-name">Your name</b>
									<div class="rectangle-parent2">
										<input type="text" class="group-child3" placeholder="Your name" name="name">
									</div>
								</div>
								<div class="contact-number-parent">
									<b class="your-name">
										<span>Contact number</span>
										<span class="span"> *</span>
									</b>
									<div class="group-parent6">
										<div class="group-frame">
											<div class="input-wrapper" id="code">
												<select class="country-code-select" name="country_code">
													<option value="+1">+1</option>
													<option value="+40">+40</option>
													<option value="+91">+91</option>
													<!-- Add more country codes as needed -->
												</select>
												<input type="number" class="group-child3" required
													placeholder="Contact number" name="contact_number">
											</div>
										</div>
									</div>
								</div>
								<div class="group-parent7">
									<div class="rectangle-parent4">
										<select class="group-child3" name="planning_to_buy">
											<option value="1-2 Weeks">1-2 Weeks</option>
											<option value="2-4 Weeks">2-4 Weeks</option>
											<option value="1-2 Months">1-2 Months</option>
											<!-- Add more options as needed -->
										</select>
									</div>
									<b class="planning-to-buy">Planning to buy </b>
								</div>
								<div class="group-parent8">
									<div class="rectangle-parent5">
										<input type="email" class="group-child3" placeholder="Email address"
											name="email">
									</div>
									<b class="planning-to-buy">Email address</b>
								</div>
							</div>
							<input type="hidden" name="insurance_type" value="car-insurance">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="group-parent9">
			<div class="get-instant-travel-insurance-q-wrapper">
				<div class="get-instant-travel-container">
					<p class="blank-line">
						<b>Get instant travel insurance quotes</b>
					</p>
					<p class="blank-line">from 20 of Canada's Top Insurers</p>
				</div>
			</div>
			<div class="frame-parent">
				<div class="frame-parent-inner">
					<div class="image-11-wrapper">
						<img class="image-11-icon" alt="" src="/statics/img/image 11.png">

					</div>
					<div class="image-8-wrapper">
						<img class="image-8-icon" alt="" src="/statics/img/image 8.png">

					</div>
					<div class="image-12-wrapper">
						<img class="image-12-icon" alt="" src="/statics/img/image 12.png">

					</div>
					<div class="image-9-wrapper">
						<img class="image-9-icon" alt="" src="/statics/img/image 9.png">

					</div>
					<img class="frame-child" alt="" src="Frame 882.png">

					<img class="frame-item" alt="" src="Frame 888.png">

					<img class="frame-inner" alt="" src="Frame 889.png">

					<div class="image-16-wrapper">
						<img class="image-16-icon" alt="" src="/statics/img/image 10.png">

					</div>
					<div class="image-13-wrapper">
						<img class="image-9-icon" alt="" src="image 13.png">

					</div>
				</div>
			</div>
		</div>
		<div class="about-hero-background-group">
			<img class="about-hero-background-icon" alt="" src="/statics/img/about_hero_background.svg">

			<div class="group-parent10">
				<div class="group-wrapper5">
					<div class="why-choose-parent">
						<div class="why-choose-parent">
							<div class="why-choose-parent">
								<b class="why-choose">Why Choose </b>
								<div class="we-help-canada-container">
									<p class="blank-line">We help Canada small business owners save time and money by
										providing</p>
									<p class="blank-line">a convenient and affordable way to buy business insurance</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="group-parent11">
					<div class="rectangle-parent6">
						<div class="group-child7">
						</div>
						<div class="icon-100-1">
							<div class="car-insurance-4">
								<div class="group">
									<div class="group-frame">
										<img class="group-icon1" alt=""
											src="/statics/img/Car_Insurance/car-insurance 4.svg">

									</div>
								</div>
							</div>
						</div>
						<b class="personalized-car-insurance-container">
							<p class="blank-line">Personalized car insurance </p>
							<p class="blank-line">premium</p>
						</b>
						<div class="get-car-insurance">Get car insurance that’s priced for you with top insurers along
							with online access to support and other resources</div>
					</div>
					<div class="rectangle-parent7">
						<div class="group-child7">
						</div>
						<img class="icon-100-11" alt="" src="/statics/img/Car_Insurance/fi_3005593.svg">

						<b class="roadside-assistance">Roadside assistance</b>
						<div class="drive-worry-free-with">Drive worry-free with roadside assistance. Available at a
							competitive price, you can add roadside assistance to your auto insurance policy.</div>
					</div>
					<div class="rectangle-parent8">
						<div class="group-child7">
						</div>
						<img class="icon-100-11" alt="" src="/statics/img/Car_Insurance/fi_2600350.svg">

						<b class="roadside-assistance">
							<p class="blank-line">Support from Canada’s best</p>
							<p class="blank-line">claims team</p>
						</b>
						<div class="no-one-wants-container">
							<p class="blank-line">No one wants to be involved in an accident. In the event it happens,
								and if you need to make an auto insurance claim, our team will guide </p>
							<p class="blank-line">and give expert advice as per case.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="car-insurance-child">
		</div>
		<div class="group-parent12">
			<div class="group-parent13">
				<div class="rectangle-parent9">
					<div class="group-child10">
					</div>
					<img class="icon-100-13" alt="" src="/statics/img/Car_Insurance/fi_741407.svg">

					<b class="personalized-car-insurance-container">Car Insurance</b>
					<div class="with-us-you">With us, you stay in the driver’s seat. Get car insurance based on your
						vehicle and driving habits.</div>
				</div>
				<div class="rectangle-parent10">
					<div class="group-child10">
					</div>
					<img class="icon-100-14" alt="" src="/statics/img/Car_Insurance/fi_1023448.svg">

					<b class="motorcycle-insurance">Motorcycle insurance</b>
					<div class="motorcycle-motorcycle-insuranc">Motorcycle Motorcycle insurance Motorcycle or scooter,
						city or open road - no matter where you ride, make sure you're protected.</div>
				</div>
				<div class="rectangle-parent11">
					<div class="group-child10">
					</div>
					<img class="icon-100-14" alt="" src="/statics/img/Car_Insurance/fi_3396459.svg">

					<b class="roadside-assistance">ATV insurance</b>
					<div class="motorcycle-motorcycle-insuranc">Your ATV is part of your lifestyle. Get the right
						insurance for your off road vehicle before you hit the trails.</div>
				</div>
			</div>
			<div class="group-wrapper8">
				<div class="rectangle-parent12">
					<div class="group-child13">
					</div>
					<img class="icon-100-16" alt="" src="/statics/img/Car_Insurance/fi_2439640.svg">

					<b class="snowmobile-insurance">Snowmobile insurance</b>
					<div class="head-out-for">Head out for a ride knowing you have the right protection for you and your
						sled. We've got covered on the snow.</div>
				</div>
			</div>
			<div class="group-wrapper9">
				<div class="rectangle-parent12">
					<div class="group-child13">
					</div>
					<img class="icon-100-16" alt="" src="/statics/img/Car_Insurance/fi_10771669.svg">

					<b class="snowmobile-insurance">RV insurance</b>
					<div class="head-out-for">Get the protection you need for peace of mind on board your recreational
						vehicle. No matter if you have an RV, motorhome or trailer, find the right coverage.</div>
				</div>
			</div>
			<div class="group-wrapper10">
				<div class="rectangle-parent12">
					<div class="group-child13">
					</div>
					<img class="icon-100-16" alt="" src="/statics/img/Car_Insurance/fi_1023442.svg">

					<b class="snowmobile-insurance">Boat insurance</b>
					<div class="head-out-for">Navigate the waters worry-free with the right boat insurance for your
						needs.</div>
				</div>
			</div>
		</div>
		<div class="find-the-right-coverage-for-yo-parent">
			<b class="find-the-right">Find the right coverage for your vehicle</b>
			<div class="car-rv-atv">Car, RV, ATV, snowmobile, motorcycle: have the right coverage for your vehicles.
			</div>
		</div>
		<div class="button-with-icon2">
			<div class="add-listing-wrapper">
				<b class="add-listing">Talk to our Advisors</b>
			</div>
		</div>
		<div class="infobar">
			<div class="infobar-child">
			</div>
			<img class="close-line-icon1" alt="" src="/statics/img/header/close-line.svg">

			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error,
				please try again later. Thanks for your patience."</div>
		</div>
		<div class="b-insure-variants">
			<div class="b-insure-variants-child">
			</div>
			<div class="b-insure-variants-item">
			</div>
			<div class="group-parent14">
				<div class="group-frame">
					<img class="image-35-icon" alt="" src="/statics/img/Life_Insurance/image 35.svg" id="header-logo">

					<div class="group-child16" id="header-logo">
					</div>
				</div>
				<img class="bi-icon1" alt="" src="/statics/img/Home_Insurance/Bi.svg" id="header-image">

			</div>
			<div class="frame-group">
				<div class="home-wrapper" id="frameContainer">
					<b class="home">Home</b>
				</div>
				<div class="individual-wrapper" id="frameContainer1">
					<div class="home">Individual </div>
					<div id="individualDropdown" class="dropdown">
						<div class="dropdown-option" value="option1" id="individualOption1">
							<div class="line1"><b>Life</b></div>
							<div class="line2">Protect your loved ones</div>
						</div>
						<div class="dropdown-option" value="option2" id="individualOption2">
							<div class="line1"><b>Automobile</b></div>
							<div class="line2">Protect your vehicle</div>
						</div>
						<div class="dropdown-option" value="option3" id="individualOption3">
							<div class="line1"><b>Home</b></div>
							<div class="line2">Protect your dream home</div>
						</div>
					</div>
				</div>
				<div class="commercial-wrapper" id="frameContainer3">
					<div class="home">Commercial</div>
					<div id="commercialDropdown" , class="dropdown">
						<div class="dropdown-option" value="option1" id="commercialOption1">
							<div class="line1"><b>Auto</b></div>
							<div class="line2">For your fleet</div>
						</div>
						<div class="dropdown-option" value="option2" id="commercialOption2">
							<div class="line1"><b>General Liability</b></div>
							<div class="line2">Travel around the world care free</div>
						</div>
						<div class="dropdown-option" value="option3" id="commercialOption3">
							<div class="line1"><b>Warehouse</b></div>
							<div class="line2">Protect your warehouse</div>
						</div>
						<div class="dropdown-option" value="option3" id="commercialOption4">
							<div class="line1"><b>Restaurants</b></div>
							<div class="line2">Protect your food business</div>
						</div>
					</div>
				</div>
				<div class="travel-wrapper" id="frameContainer3">
					<div class="home">Travel</div>
				</div>
				<div class="support-wrapper" id="frameContainer4">
					<div class="home">Support</div>
					<div id="support-Dropdown" , class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							<div class="line1"><b>Contact us</b></div>
							<div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							<div class="line1"><b>About us</b></div>
							<div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							<div class="line1"><b>How it works</b></div>
							<div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							<div class="line1"><b>FAQs</b></div>
							<div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							<div class="line1"><b>Blog</b></div>
							<div class="line2">Insurance Knowledge Resource</div>
						</div>
					</div>
				</div>
				<div class="button-with-icon3">
					<div class="add-listing-wrapper">
						<b class="add-listing">Get a Quote</b>
					</div>
				</div>
				<div class="line-div">
				</div>
				<img class="search-line-icon" alt="" src="/statics/img/Life_Insurance/search-line.svg">

			</div>
			<b class="binsure">BINSURE</b>
		</div>
		<div class="group-parent15">
			<div class="rectangle-parent15">
				<div class="group-child17">
				</div>
				<img class="group-child18" alt="" src="/statics/img/life/Group 756.svg">

				<div class="group-wrapper11">
					<div class="group-frame">
						<div class="button-with-icon4">
							<div class="add-listing-wrapper">
								<b class="add-listing">Schedule a call</b>
							</div>
						</div>
						<div class="group-wrapper12">
							<div class="chat-with-our-licensed-advisor-parent">
								<div class="chat-with-our-licensed-advisor-parent">
									<div class="chat-with-our">Chat with our licensed advisors right away, or book some
										time with them.</div>
									<b class="change-insurance-for">Need Insurance answers</b>
								</div>
							</div>
						</div>
					</div>
				</div>
				<img class="group-child19" alt="" src="/statics/img/Life_Insurance/Group 757.svg">

			</div>
			<div class="rectangle-parent16">
				<div class="group-child20">
				</div>
				<div class="group-wrapper14">
					<div class="container">
						<img class="icon" alt="" src="/statics/img/Life_Insurance/dot.svg">

						<img class="icon1" alt="" src="/statics/img/Life_Insurance/dot.svg">

						<div class="group-parent16">
							<div class="group-parent17">
								<div class="group-wrapper15">
									<div class="testimonial-card-wrapper">
										<div class="testimonial-card">
											<div class="logo-2">
											</div>
											<div class="best-product-ever">Greg is always making sure all my insurance
												needs are covered. Excellent service and very responsive.. thanks again!
											</div>
											<div class="line-parent">
												<div class="frame-child1">
												</div>
												<b class="home">Palakas Fotini</b>
											</div>
											<img class="testimonial-card-child" alt=""
												src="/statics/img/Life_Insurance/Group 871.svg">

										</div>
									</div>
								</div>
								<div class="group-wrapper16">
									<div class="testimonial-card-wrapper">
										<div class="testimonial-card">
											<div class="logo-2">
											</div>
											<div class="best-product-ever">Greg is always making sure all my insurance
												needs are covered. Excellent service and very responsive.. thanks again!
											</div>
											<div class="line-group">
												<div class="frame-child1">
												</div>
												<b class="home">Dirk Michon</b>
											</div>
											<img class="testimonial-card-item" alt=""
												src="/statics/img/Life_Insurance/Group 871.svg">

										</div>
									</div>
								</div>
								<div class="group-wrapper17">
									<div class="testimonial-card-wrapper">
										<div class="testimonial-card">
											<div class="logo-2">
											</div>
											<div class="best-product-ever">Greg is always making sure all my insurance
												needs are covered. Excellent service and very responsive.. thanks again!
											</div>
											<div class="line-container">
												<div class="frame-child1">
												</div>
												<b class="home">Derpina Wickers</b>
											</div>
											<img class="testimonial-card-inner" alt=""
												src="/statics/img/Life_Insurance/Group 871.svg">

										</div>
									</div>
								</div>
								<div class="testimonial-card-wrapper">
									<div class="testimonial-card-wrapper">
										<div class="testimonial-card">
											<div class="frame-div">
											</div>
											<div class="logo-2">
											</div>
											<div class="best-product-ever">“Great service, very easy and well explained
												procedures and information needed for insurance. Greg was great to work
												with, and had excellent communication skills. 10/10 recommend.”</div>
											<div class="line-parent">
												<div class="frame-child1">
												</div>
												<b class="home">Palakas Fotini</b>
											</div>
											<img class="testimonial-card-child1" alt=""
												src="/statics/img/Life_Insurance/Group 871.svg">

										</div>
									</div>
								</div>
							</div>
							<div class="frame-wrapper">
								<div class="frame-container">
									<div class="what-people-say-wrapper">
										<b class="what-people-say">What people say</b>
									</div>
									<div class="our-customer-are-container">
										<p class="blank-line">Our customer are our top priority</p>
										<p class="blank-line">Let’s hear what they have to say.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-hero-background-container">
			<img class="about-hero-background-icon1" alt="" src="/statics/img/about_hero_background.svg">

			<div class="group-parent18">
				<div class="group-wrapper19">
					<div class="auto-insurance-coverages-parent">
						<div class="auto-insurance-coverages-parent">
							<div class="auto-insurance-coverages-parent">
								<b class="auto-insurance-coverages">Auto Insurance coverages </b>
								<div class="have-the-right">Have the right car insurance when you take the wheel and
									drive worry-free. Our auto insurance will provide options to obtain the coverage
									best suited to you and your particular vehicle, regardless of whether it is used,
									new, an SUV, a sedan, or another car type.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="group-parent19">
					<div class="group-parent13">
						<div class="rectangle-parent9">
							<div class="group-child10">
							</div>
							<img class="icon-100-13" alt="" src="/statics/img/Car_Insurance/patient 1.svg">

							<b class="personalized-car-insurance-container">Liability</b>
							<div class="liability-bodily-injury">Liability, Bodily Injury and Property Damage Coverage
								protects you if you're responsible for injuring someone or damaging someone else's
								property in a car accident.</div>
						</div>
						<div class="rectangle-parent10">
							<div class="group-child10">
							</div>
							<img class="icon-100-14" alt="" src="/statics/img/Car_Insurance/property-damage 1.svg">

							<b class="motorcycle-insurance">Property Damage</b>
							<div class="motorcycle-motorcycle-insuranc">Direct Compensation Property Damage Coverage may
								cover damages to your vehicle and its contents if another driver is at fault.</div>
						</div>
						<div class="rectangle-parent11">
							<div class="group-child10">
							</div>
							<img class="icon-100-14" alt="" src="/statics/img/Car_Insurance/fi_2125675.svg">

							<b class="roadside-assistance">Accident Benefits</b>
							<div class="motorcycle-motorcycle-insuranc">Statutory Accident Benefits Coverage may
								compensate you if you, your passengers, or pedestrians are injured in a car collision,
								regardless of responsibility. Accident Benefits can be increased to match your
								individual requirements. </div>
						</div>
					</div>
					<div class="group-wrapper8">
						<div class="rectangle-parent12">
							<div class="group-child13">
							</div>
							<img class="icon-100-16" alt="" src="/statics/img/Car_Insurance/icon_100 1.svg">

							<b class="snowmobile-insurance">Uninsured Motorist</b>
							<div class="head-out-for">Uninsured Automobile Coverage may protect you in two instances.
								First, if you are injured in a crash by a driver who does not have car insurance.
								Second, if you are unable to identify the vehicle; for instance, if you were the victim
								of a hit and run.</div>
						</div>
					</div>
					<img class="group-wrapper10" alt="" src="/statics/img/Car_Insurance/Group 1982.svg">

					<div class="group-wrapper9">
						<div class="group-child13">
						</div>
						<img class="icon-100-16" alt="" src="/statics/img/Car_Insurance/fi_7481864.svg">

						<b class="physical-damage-optional">Physical Damage (optional)</b>
						<div class="head-out-for">
							<p class="blank-line">Specified Perils Coverage include Collision or Upset Coverage, </p>
							<p class="blank-line">Comprehensive Coverage including fire, theft, vandalism, or some
								natural disasters, All Perils protection </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rectangle-parent22">
			<div class="group-child27">
			</div>
			<div class="feature-2">
				<div class="group-parent21">
					<div class="group-parent22">
						<div class="group-wrapper23">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Vehicle Type</b>
							</div>
						</div>
						<div class="group-wrapper24">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Coverage type</b>
							</div>
						</div>
						<div class="group-wrapper25">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Driving experience</b>
							</div>
						</div>
						<div class="group-wrapper26">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Commute distance</b>
							</div>
						</div>
						<div class="group-wrapper27">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Discounts</b>
							</div>
						</div>
						<div class="group-wrapper28">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Claims history</b>
							</div>
						</div>
						<div class="group-wrapper29">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Driving history</b>
							</div>
						</div>
						<div class="group-wrapper30">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Age and gender</b>
							</div>
						</div>
						<div class="group-wrapper31">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Demographics</b>
							</div>
						</div>
						<div class="group-wrapper32">
							<div class="group-wrapper23">
								<div class="group-child28">
								</div>
								<b class="vehicle-type">Marital status</b>
							</div>
						</div>
					</div>
					<div class="factors-that-affect-your-car-i-parent">
						<b class="factors-that-affect">Factors that affect your car insurance quotes</b>
						<div class="insurance-companies-consider">Insurance companies consider many factors when
							calculating your insurance rate.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-hero-background-parent1">
			<img class="about-hero-background-icon2" alt="" src="/statics/img/about_hero_background.png">

			<div class="group-parent23">
				<div class="group-wrapper33">
					<div class="how-we-deliver-parent">
						<div class="how-we-deliver-parent">
							<div class="how-we-deliver-parent">
								<b class="add-listing">How we Deliver</b>
								<div class="ready-to-compare">Ready to compare quotes and save?</div>
							</div>
						</div>
					</div>
				</div>
				<div class="group-parent24">
					<div class="rectangle-parent33">
						<div class="group-child38">
						</div>
						<img class="icon-100-114" alt="" src="/statics/img/Car_Insurance//vehicle-paper 1.svg">

						<b class="tell-us-about">Tell us about your vehicle</b>
						<div class="answer-a-few">Answer a few basic questions about your driving & car insurance
							history.</div>
					</div>
					<div class="rectangle-parent34">
						<div class="group-child39">
						</div>
						<img class="icon-100-115" alt="" src="/statics/img/Car_Insurance/compare-quote 1.svg">

						<b class="compare-your-quotes">Compare your quotes</b>
						<div class="see-quotes-from">See quotes from insurance companies side by side.</div>
					</div>
					<div class="rectangle-parent35">
						<div class="group-child39">
						</div>
						<img class="icon-100-116" alt="" src="/statics/img/Car_Insurance/check-Quote 1.svg">

						<b class="choose-the-right-container">
							<p class="blank-line">Choose the right </p>
							<p class="blank-line">coverage</p>
						</b>
						<div class="find-the-right1">Find the right protection for your vehicle.</div>
					</div>
					<div class="rectangle-parent36">
						<div class="group-child38">
						</div>
						<img class="icon-100-2" alt="" src="/statics/img/Car_Insurance/get-covered 1.svg">

						<b class="get-covered">Get covered</b>
						<div class="connect-with-the">Connect with the provider and secure your rate.</div>
						<div class="group-parent25">
							<div class="group-wrapper36">
								<div class="get-a-free-quote-wrapper">
									<div class="get-a-free-quote-wrapper">
										<b class="get-a-free1">Get a free quote</b>
									</div>
								</div>
							</div>
							<img class="arrow-up-s-line-icon2" alt="" src="arrow-up-s-line.png">

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rectangle-parent37">
			<div class="group-child42">
			</div>
			<div class="group-parent26">
				<div class="group-parent27">
					<div class="group-parent28">
						<div class="i-have-a-different-question-wrapper">
							<div class="i-have-a">I have a different question</div>
						</div>
						<img class="arrow-left-s-line-icon" alt=""
							src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">

					</div>
					<div class="frequently-asked-questions-parent">
						<b class="add-listing">Frequently asked questions</b>
						<div class="when-you-need-container">
							<p class="blank-line">When you need help with insurance and claims,</p>
							<p class="blank-line">it’s at the ready 24/7.</p>
						</div>
					</div>
				</div>
				<span class="group-parent29">
					<div class="new-group-parent26">
					  <div class="new-group-parent27">
						<div class="new-what-is-a-life-insurance-wrapper">
						  <b class="new-add-listing">How can I get a discount on my car insurance?</b>
						  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
						</div>
					  </div>
					  <div class="new-rectangle-parent23 new-content">
						<div class="new-group-child29"></div>
						<div class="new-life-insurance-provides1">If you combine your house insurance and automobile insurance
							policies, you get more for your money. If you own multiple vehicles, it can also help
							you save! Ask your broker about bundling your home and car insurance policies together.</div>
					  </div>
					</div>
					<div class="new-group-parent28">
					  <div class="new-group-parent27">
						<div class="new-group-parent29">
						  <div class="new-how-much-does-life-insurance-c-wrapper">
							<b class="new-add-listing">What vehicles do you insure?</b>
						  </div>
						  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
						</div>
					  </div>
					  <div class="new-rectangle-parent24 new-content">
						<div class="new-group-child30"></div>
						<div class="new-the-monthly-or">We provide insurance policies for cars, motorcycles, RVs
							(motorhomes, campers, camping trailers, etc.), snowmobiles, ATVs and boats. If you have
							specific needs, don’t hesitate to reach out to your broker. We might just have the
							solution for you! </div>
					  </div>
					</div>
					<div class="new-group-parent30">
					  <div class="new-group-parent27">
						<div class="new-how-does-life-insurance-works-wrapper">
						  <b class="new-add-listing">What does full car insurance coverage include?</b>
						</div>
						<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
					  </div>
					  <div class="new-rectangle-parent25 new-content">
						<div class="new-group-child31"></div>
						<div class="new-with-b-insure-life">Full car insurance coverage often refers to an All
							Perils coverage. An All Perils policy combines Comprehensive coverage and Collision or
							Upset coverage. Comprehensive coverage covers the expenses to fix the damage to your
							vehicle from unpredictable circumstances such as fire, theft, vandalism, or natural
							disasters while Collision or Upset coverage covers repairs to your car following damages
							done to your car in case of an insured event. If you have any questions about the types
							of coverages for your vehicle, don’t hesitate to contact your broker to learn more about
							the car insurance coverage that is right for you.</div>
					  </div>
					</div>
					<div class="new-group-parent32">
					  <div class="new-group-parent27">
						<div class="new-what-type-of-life-insurance-i-wrapper">
						  <b class="new-what-type-of">How much does car insurance cost?</b>
						</div>
						<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
					  </div>
					  <div class="new-rectangle-parent26 new-content">
						<div class="new-group-child32"></div>
						<div class="new-with-b-insure-life">Car insurance costs vary based on your vehicle type, your
							location, your driving history, how many kilometers you drive daily, and many more
							factors. To know how much your car insurance policy will cost with Intact Insurance, get
							a quote today or ask your broker to learn more about car insurance premiums.</div>
					  </div>
					</div>
					
					</div>
				  </span>
			</div>
		</div>
	</div>


</div>

	<script src="statics/js/ff.js"></script>
</body>

</html>