<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="statics/css/General_Liability.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
	<div class="liable">
  	
  	<div class="general-liability">
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<img class="image-2-icon" alt="" src="image 2.png">
    		
    		<img class="close-line-icon" alt="" src="/statics/img/header/close-line.svg">
    		
    		<img class="image-1-icon1" alt="" src="image 1.png">
    		
    		<img class="image-2-icon1" alt="" src="image 2.png">
    		
    		<div class="group-parent">
      			<div class="rectangle-parent">
        				<div class="group-child">
        				</div>
        				<div class="group-container">
          					<div class="group-wrapper">
            						<div class="group-frame">
              							<div class="group-frame">
                								<div class="group-frame">
                  									<img class="image-35-icon" alt="" src="/statics/img/home/nav/image 35.svg">
                  									
                  									<div class="group-item">
                  									</div>
                								</div>
                								<img class="bi-icon" alt="" src="/statics/img/home/nav/Bi.svg
												">
                								
              							</div>
            						</div>
          					</div>
          					<div class="po-box-9999-container">
            						<p class="blank-line">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
            						<p class="blank-line">&nbsp;</p>
            						<p class="blank-line">999-888-0000 . </p>
            						<p class="blank-line">care@binsure.ca</p>
          					</div>
        				</div>
        				<div class="group-inner">
        				</div>
        				<div class="quick-links-parent">
          					<b class="quick-links">Quick links</b>
          					<div class="sitemap">Sitemap</div>
          					<div class="careers">Careers</div>
          					<div class="contact-us">Contact us</div>
          					<div class="insurance">Insurance</div>
          					<div class="blog">Blog</div>
          					<div class="faqs">Faqs</div>
          					<div class="about">About</div>
        				</div>
        				<div class="terms-of-use-parent">
          					<div class="terms-of-use">Terms of use</div>
          					<div class="privacy-policy">Privacy Policy</div>
          					<div class="cookie-policy">Cookie policy</div>
          					<b class="quick-links">Legal</b>
        				</div>
        				<div class="copyright-2024">Copyright © 2024  Inc. All rights reserved.</div>
        				<img class="group-icon" alt="" src="/statics/img/why/footer/Group 536.svg">
        				
      			</div>
      			<div class="rectangle-group">
        				<div class="rectangle-div">
        				</div>
        				<div class="button-with-icon-parent">
          					<div class="button-with-icon">
            						<div class="add-listing-wrapper">
              							<b class="add-listing2">Become a partner</b>
            						</div>
          					</div>
          					<div class="button-with-icon1">
            						<div class="add-listing-wrapper">
              							<b class="add-listing1">Join our team</b>
            						</div>
          					</div>
          					<div class="group-wrapper1">
            						<div class="join-the-team-that-is-making-h-parent">
              							<div class="join-the-team">Join the team that is making health insurance simple, transparent, and human.</div>
              							<b class="change-insurance-for">Change insurance for good</b>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-parent">
      			<div class="about-hero-background">
      			</div>
      			<div class="group-parent1">
        				<div class="trusted-by-over-10000-canadia-parent">
          					<div class="trusted-by-over-10000-canadia-parent">
            						<div class="trusted-by-over-container">
              							<p class="blank-line">Trusted by over 10,000</p>
              							<p class="blank-line">Canadian small businesses</p>
            						</div>
            						<img class="vector-icon" alt="" src="/statics/img/Life_Insurance/Vector.svg">
            						
          					</div>
        				</div>
        				<div class="group-parent2">
          					<div class="save-up-to-35-on-your-insuran-wrapper">
            						<div class="save-up-to">Save up to 35% on your insurance</div>
          					</div>
          					<img class="flying-money-1-icon" alt="" src="/statics/img/Life_Insurance/flying_money 1.svg">
          					
        				</div>
      			</div>
      			<div class="commercial-general-liability-container">
        				<p class="blank-line">
          					<span class="commercial">Commercial </span>
          					<b>General Liability</b>
          					<span class="commercial"> </span>
        				</p>
        				<p class="blank-line">Insurance</p>
      			</div>
      			<div class="buttons">
        				<div class="buttons-child">
        				</div>
        				<b class="how-it-works">How it Works</b>
      			</div>
      			<div class="protect-your-small">Protect your small business from third-party injury and property damage claims with commercial general liability insurance.</div>
      			<div class="rectangle-container">
        				<div class="group-child1">
        				</div>
        				<div class="i-agree-to-container">
          					<p class="blank-line">I agree to
            						<span class="terms-of-use1">terms of use</span> and
            						<span class="terms-of-use1">privacy policy</span> when getting
          					</p>
          					<p class="blank-line">a free quote from </p>
        				</div>
						<form action="/submit_form" method="post">
        				<div class="group-parent3">
          					<div class="group-wrapper3">
            						<div class="group-wrapper4">
              							<div class="group-wrapper4">
                								<div class="group-child2">
                								</div>
                								<button type="submit" class="get-a-free">Get a Free quote</button>
              							</div>
            						</div>
          					</div>
          					<div class="your-name-parent">
								<b class="your-name">Your name</b>
								<div class="rectangle-parent2">
									<input type="text" class="group-child3" placeholder="Your name" name="name">
								</div>
          					</div>
          					<div class="contact-number-parent">
            						<b class="your-name">
              							<span>Contact number</span>
              							<span class="span1"> *</span>
            						</b>
            						<div class="group-parent4">
										<div class="group-frame">
											<div class="input-wrapper" id="code">
												<select class="country-code-select" name="country_code">
													<option value="+1">+1</option>
													<option value="+40">+40</option>
													<option value="+91">+91</option>
													<!-- Add more country codes as needed -->
												</select>
												<input type="number" class="group-child3" required
													placeholder="Contact number" name="contact_number">
											</div>
										  </div>
            						</div>
          					</div>
          					<div class="group-parent5">
								<div class="rectangle-parent4">
									<select class="group-child3" name="planning_to_buy">
										<option value="1-2 Weeks">1-2 Weeks</option>
										<option value="2-4 Weeks">2-4 Weeks</option>
										<option value="1-2 Months">1-2 Months</option>
										<!-- Add more options as needed -->
									</select>
								</div>
            						<b class="planning-to-buy">Planning to buy </b>
          					</div>
          					<div class="group-parent6">
								<div class="rectangle-parent5">
									<input type="email" class="group-child3" placeholder="Email address"
										name="email">
								</div>
            						<b class="planning-to-buy">Email address</b>
          					</div>
        				</div>
						<input type="hidden" name="insurance_type" value="general-liability">
						</form>
      			</div>
    		</div>
    		<div class="about-hero-background-group">
      			<img class="about-hero-background-icon" alt="" src="/statics/img/about_hero_background.svg">
      			
      			<div class="group-parent7">
        				<div class="group-wrapper5">
          					<div class="why-choose-parent">
            						<div class="why-choose-parent">
              							<div class="why-choose-parent">
                								<b class="why-choose">Why Choose </b>
                								<div class="we-help-canadian-container">
                  									<p class="blank-line">We help Canadian small business owners save time and money by providing</p>
                  									<p class="blank-line">a convenient and affordable way to buy business insurance.</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="group-parent8">
          					<div class="rectangle-parent6">
            						<div class="group-child7">
            						</div>
            						<img class="icon-100-1" alt="" src="/statics/img/Auto_Insurance/convenience 2.svg">
            						
            						<b class="convenience">Convenience</b>
            						<div class="purchase-your-insurance">Purchase your insurance anytime, anywhere, with our easy-to-use online platform.</div>
          					</div>
          					<div class="rectangle-parent7">
            						<div class="group-child7">
            						</div>
            						<img class="icon-100-11" alt="" src="/statics/img/Auto_Insurance/cost 1.svg">
            						
            						<b class="cost">Cost</b>
            						<div class="compare-rates-across">Compare rates across leading insurance companies to ensure you get the best price on your premium.</div>
          					</div>
          					<div class="rectangle-parent8">
            						<div class="group-child7">
            						</div>
            						<img class="icon-100-11" alt="" src="/statics/img/Auto_Insurance/data-file 1.svg">
            						
            						<b class="cost">Curation</b>
            						<div class="compare-rates-across">We use data and analytics to identify the right insurance policies for your business.</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="general-liability-inner">
      			<div class="group-wrapper8">
        				<div class="group-wrapper8">
          					<div class="group-wrapper8">
            						<div class="group-wrapper8">
              							<div class="group-child10">
              							</div>
              							<div class="feature-2">
              							</div>
            						</div>
            						<img class="group-child11" alt="" src="/statics/img/General Liability/Group 751.svg">
            						
            						<div class="frame-paren">
              							<div class="commercial-general-liability-i-wrapper">
                								<b class="commercial-general-liability1">Commercial General Liability Insurance?</b>
              							</div>
              							<div class="over-15-of-container">
                								<p class="blank-line">Over 1/5 of small businesses in Canada fail in their first year. This could be for any reason – poor planning, inadequate business practices, or insufficient risk management. Insurance can bolster your business’s odds of success. As a small business owner, you want to protect your operations.</p>
                								<p class="blank-line">&nbsp;</p>
                								<p class="blank-line">If somebody sues your business, your commercial general liability policy usually covers legal defense costs and compensatory damages. While the specifics change depending on various factors, it typically pays out regardless of the lawsuit’s result.</p>
              							</div>
              							<div class="button-with-icon2" data-target="quote-target">
                								<div class="add-listing-wrapper">
                  									<b class="add-listing">Get a Quote</b>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent10">
      			<div class="group-child12">
      			</div>
      			<div class="group-parent10">
        				<div class="other-business-insurance-cover-parent">
          					<div class="other-business-insurance-cover-parent">
            						<div class="other-business-insurance-cover-parent">
              							<div class="other-business-insurance-cover-parent">
                								<b class="other-business-insurance-container">
                  									<p class="blank-line">Other business insurance coverage </p>
                  									<p class="blank-line">options to consider:</p>
                								</b>
                								<div class="errors-and-omissions-container">
                  									<ul class="errors-and-omissions-insurance">
                    										<li class="errors-and-omissions">Errors and Omissions Insurance</li>
                    										<li class="errors-and-omissions">Product Liability Insurance</li>
                    										<li class="errors-and-omissions">Legal Expense Insurance</li>
                    										<li class="errors-and-omissions">Cyber Liability Insurance</li>
                    										<li class="errors-and-omissions">Commercial Property Insurance</li>
                    										<li class="errors-and-omissions">Directors and Officers Insurance</li>
                    										<li class="errors-and-omissions">Business Interruption Insurance</li>
                    										<li class="errors-and-omissions">Event Insurance</li>
                    										<li class="errors-and-omissions">Builder’s Risk Insurance</li>
                    										<li class="errors-and-omissions">Cargo Insurance</li>
                    										<li>Business Liability Insurance
</li>
                  									</ul>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="group-wrapper13">
          					<div class="ways-to-avoid-a-commercial-gen-parent">
            						<div class="ways-to-avoid-a-commercial-gen-parent">
              							<b class="ways-to-avoid">4 Ways to Avoid a Commercial General Liability Insurance Claim</b>
              							<div class="preventative-measures-in">Preventative measures in your business can help you avoid time and money spent on claims details and lawyer visits. Below we cover ways to avoid having a claim submitted against you.</div>
              							<div class="maintain-safety-standards-container">
                								<ul class="maintain-safety-standards-whi">
                  									<li class="errors-and-omissions">
                    										<b class="maintain-safety-standards">Maintain Safety Standards: </b>
                    										<span>While you can’t always prevent accidents, there are ways to reduce injuries and property damage from happening in your business.</span>
                  									</li>
                  									<li class="errors-and-omissions">
                    										<b class="maintain-safety-standards">Train Employees: </b>
                    										<span class="maintain-safety-standards">Make sure your employees are familiar with your organization’s business standards. This includes how they present your business online.</span>
                  									</li>
                  									<li class="errors-and-omissions">
                    										<b class="maintain-safety-standards">Content Usage: </b>
                    										<span class="maintain-safety-standards">It’s important that business owners are careful about what they say and post about their clients or competitors. </span>
                  									</li>
                  									<li>
                    										<b class="maintain-safety-standards">Proper Handling of Customer’s Equipment: </b>
                    										<span class="maintain-safety-standards">It’s important to be responsible when handling your customer’s property. If you are repairing computers, for example, it’s always a good idea to document the condition of the computer before you start the work to minimize any unnecessary claims.</span>
                    										<b class="maintain-safety-standards"> </b>
                  									</li>
                								</ul>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="infobar">
      			<div class="infobar-child">
      			</div>
      			<img class="close-line-icon1" alt="" src="/statics/img/home/nav/close-line.svg">
      			
      			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
    		</div>
    		<div class="b-insure-variants">
      			<div class="b-insure-variants-child">
      			</div>
      			<div class="b-insure-variants-item">
      			</div>
      			<div class="group-parent11">
        				<div class="group-frame">
          					<img class="image-35-icon" alt="" src="/statics/img/Life_Insurance/image 35.png">
          					
          					<div class="group-child13">
          					</div>
        				</div>
        				<img class="bi-icon1" alt="" src="/statics/img/Life_Insurance/Bi.svg">
        				
      			</div>
      			<div class="frame-group">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				  </div>
				  <div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							  <div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							  </div>
						</div>
				  </div>
				  <div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							  <div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							  </div>
						</div>
				  </div>
				  <div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				  </div>
				  <div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							  <div class="line1"><b>Contact us</b></div>
							  <div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							  <div class="line1"><b>About us</b></div>
							  <div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							  <div class="line1"><b>How it works</b></div>
							  <div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							  <div class="line1"><b>FAQs</b></div>
							  <div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							  <div class="line1"><b>Blog</b></div>
							  <div class="line2">Insurance Knowledge Resource</div>
						</div>
				  </div>
				  </div>
        				<div class="button-with-icon3" data-target="quote-target">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a Quote</b>
          					</div>
        				</div>
        				<div class="line-div">
        				</div>
        				<img class="search-line-icon" alt="" src="/statics/img/Life_Insurance/search-line.svg">
        				
      			</div>
      			<b class="binsure">BINSURE</b>
    		</div>
    		<div class="group-parent12">
      			<div class="partnerships-with-leading-cana-wrapper">
        				<div class="partnerships-with-leading-container">
          					<p class="blank-line">
            						<b>Partnerships with leading </b>
          					</p>
          					<p class="blank-line">Canadian Insurance Providers</p>
        				</div>
      			</div>
      			<div class="frame-container">
					<div class="frame-parent-inner">
						<div class="image-11-wrapper">
							  <img class="image-11-icon" alt="" src="/statics/img/image 11.png">
							  
						</div>
						<div class="image-8-wrapper">
							  <img class="image-8-icon" alt="" src="/statics/img/image 8.png">
							  
						</div>
						<div class="image-12-wrapper">
							  <img class="image-12-icon" alt="" src="/statics/img/image 12.png">
							  
						</div>
						<div class="image-9-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
						<img class="frame-child" alt="" src="/statics/img/image 11.png">
						
						<img class="frame-item" alt="" src="/statics/img/image 8.png">
						
						<img class="frame-inner" alt="" src="/statics/img/image 12.png">
						
						<div class="image-16-wrapper">
							  <img class="image-16-icon" alt="" src="/statics/img/image 10.png">
							  
						</div>
						<div class="image-13-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
					</div>
      			</div>
    		</div>
    		<div class="about-hero-background-container">
      			<img class="about-hero-background-icon1" alt="" src="/statics/img/about_hero_background.svg">
      			
      			<div class="group-parent13">
        				<div class="group-wrapper15">
          					<div class="general-liability-insurance-co-parent">
            						<div class="general-liability-insurance-co-parent">
              							<div class="general-liability-insurance-co-parent">
                								<b class="add-listing">General Liability insurance coverages </b>
                								<div class="liability-insurance-provides">Liability insurance provides peace of mind in the event of potentially costly liability situations for all types of businesses and professions.</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="group-parent14">
          					<div class="group-parent15">
            						<div class="rectangle-parent11">
              							<div class="group-child14">
              							</div>
              							<img class="icon-100-13" alt="" src="/statics/img/Car_Insurance/patient 1.svg">
              							
              							<b class="convenience">Bodily Injury</b>
              							<div class="purchase-your-insurance">CGL policies can protect your business from liability if you are found responsible for injuries to a third party, including bodily injury and property damage.</div>
            						</div>
            						<div class="rectangle-parent12">
              							<div class="group-child14">
              							</div>
              							<img class="icon-100-14" alt="" src="/statics/img/Car_Insurance/property-damage 1.svg">
              							
              							<b class="property-damage">Property Damage</b>
              							<div class="if-your-business">If your business causes damage to a third-party’s property I.e., client’s home, office or at your business premises, this type of CGL coverage will cover lawyer fees and other expenses if you’re sued.</div>
            						</div>
            						<div class="rectangle-parent13">
              							<div class="group-child14">
              							</div>
              							<img class="icon-100-14" alt="" src="/statics/img/General Liability/liability 1.svg">
              							
              							<b class="property-damage">Product Liability</b>
              							<div class="if-your-business">Product liability covers you for any injuries or property damage caused by a product you sell or service you provide. </div>
            						</div>
          					</div>
          					<div class="group-parent16">
            						<div class="rectangle-parent14">
              							<div class="group-child17">
              							</div>
              							<img class="icon-100-16" alt="" src="/statics/img/General Liability/ad-liability 1.svg">
              							
              							<b class="convenience">
                								<p class="blank-line">Personal and Advertising </p>
                								<p class="blank-line">Injury Liability</p>
              							</b>
              							<div class="personal-and-advertising1">Personal and advertising liability protects you from financial loss from non-physical personal injury and covers third-party lawsuits. </div>
            						</div>
            						<div class="rectangle-parent15">
              							<div class="group-child17">
              							</div>
              							<img class="icon-100-17" alt="" src="/statics/img/General Liability/tenant 1.svg">
              							
              							<b class="property-damage">Tenant’s Legal Liability</b>
              							<div class="if-your-business">Tenant insurance, also called tenant’s legal liability, covers you from the risk of operating on leased premises. Your CGL insurance can cover you for damage to rental spaces caused by you or your employees. </div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-parent1">
      			<img class="about-hero-background-icon2" alt="" src="/statics/img/about_hero_background.svg">
      			
      			<div class="group-wrapper18">
        				<div class="group-parent17">
          					<div class="group-wrapper19">
            						<div class="general-liability-claims-examp-parent">
              							<b class="add-listing">General Liability Claims Examples</b>
              							<div class="consider-these-real-world">Consider these real-world examples to understand just how vital restaurant insurance truly is</div>
            						</div>
          					</div>
          					<div class="button-with-icon4" data-target="quote-target">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Insure your restaurant now!</b>
            						</div>
          					</div>
          					<div class="group-parent18">
            						<div class="icon-100-3-parent">
              							<img class="icon-100-3" alt="" src="/statics/img/General Liability/data-breach 1.svg">
              							
              							<div class="group-parent19">
                								<div class="a-customer-suffers-from-severe-parent">
                  									<div class="a-customer-suffers">A customer suffers from severe food poisoning after dining at your restaurant.</div>
                  									<b class="data-breach">Data Breach</b>
                								</div>
                								<div class="what-happens-next-the-custome-wrapper">
                  									<div class="what-happens-next-container">
                    										<p class="what-happens-next">What happens next?</p>
                    										<p class="blank-line">The customer successfully sues you for bodily injury. Your CGL policy covers the medical expenses and legal fees, totalling $15,000.</p>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="group-parent20">
              							<div class="group-parent21">
                								<div class="bodily-injury-parent">
                  									<b class="add-listing">Bodily injury</b>
                  									<div class="your-client-slips">Your client slips on the stairs on their way into your office, resulting in a broken wrist. </div>
                								</div>
                								<img class="icon-100-3" alt="" src="/statics/img/Car_Insurance/patient 1.svg">
                								
              							</div>
              							<div class="what-happens-next-the-client-wrapper">
                								<div class="what-happens-next-container1">
                  									<p class="what-happens-next">What happens next?</p>
                  									<p class="blank-line">The client successfully sues your business for bodily injury. Your CGL coverage may cover the legal expenses and medical fees, totalling $25,000.</p>
                								</div>
              							</div>
            						</div>
            						<div class="icon-100-2-parent">
              							<img class="icon-100-3" alt="" src="/statics/img/General Liability/fire 1.svg">
              							
              							<div class="group-parent22">
                								<div class="property-damage-parent">
                  									<b class="add-listing">Property damage</b>
                  									<div class="youre-a-general">You’re a general contractor hired to renovate a kitchen and accidentally damage your client’s hardwood floors. </div>
                								</div>
                								<div class="what-happens-next-your-cgl-c-wrapper">
                  									<div class="what-happens-next-container1">
                    										<p class="what-happens-next">What happens next?</p>
                    										<p class="blank-line"> Your CGL coverage policy covers the cost to repair the floors, totalling $10,000 in damages.</p>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent16">
      			<div class="group-child19">
      			</div>
      			<div class="group-parent23">
        				<img class="group-child20" alt="" src="/statics/img/General Liability/Group.svg">
        				
        				<div class="group-wrapper20">
          					<div class="button-with-icon-group">
            						<div class="button-with-icon-group">
              							<div class="button-with-icon5" data-target="quote-target">
                								<div class="add-listing-wrapper">
                  									<b class="add-listing">Insure your business now!</b>
                								</div>
              							</div>
              							<b class="how-much-cgl-container">
                								<p class="blank-line">How much CGL insurance coverage </p>
                								<p class="blank-line">needed?</p>
              							</b>
              							<div class="to-determine-how-container">
                								<p class="blank-line">To determine how much commercial general liability coverage your business needs and if you need additional liability coverage, there are a few factors to take into consideration:</p>
                								<ul class="the-size-of-your-company-the">
                  									<li class="errors-and-omissions">The size of your company </li>
                  									<li class="errors-and-omissions">The industry you work in </li>
                  									<li class="errors-and-omissions">The frequency you interact with vendors</li>
                								</ul>
                								<p class="blank-line"> </p>
                								<p class="blank-line">The factors above will help you determine your risk exposure. Depending on your profession, additional coverage may be required. For example, a contractor fixing something in a person’s home has a higher risk of causing property damage than a web designer who works from home.</p>
                								<p class="blank-line">Talk to one of our commercial general liability insurance brokers about tailoring your policy to your business needs.</p>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent17">
      			<div class="group-child21">
      			</div>
      			<img class="group-child22" alt="" src="/statics/img/life/Group 756.svg">
      			
      			<div class="group-wrapper22">
        				<div class="group-frame">
          					<div class="button-with-icon6">
            						<div class="add-listing-wrapper">
              							<b class="add-listing3">Schedule a call</b>
            						</div>
          					</div>
          					<div class="group-wrapper23">
            						<div class="getting-commercial-general-lia-parent">
              							<div class="getting-commercial-general-lia-parent">
                								<div class="getting-commercial-general-lia-container">
                  									<p class="blank-line">Getting commercial general liability insurance shouldn’t be complicated!</p>
                  									<p class="blank-line">At Zensurance, we simplify the process of getting insurance so that you get the coverage you need, quick and easy!</p>
                								</div>
                								<b class="change-insurance-for">Need CGL Insurance answers</b>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<img class="group-child23" alt="" src="/statics/img/Life_Insurance/Group 757.svg">
      			
    		</div>
    		<div class="rectangle-parent18">
      			<div class="group-child24">
      			</div>
      			<div class="group-wrapper25">
        				<div class="group">
          					<img class="icon" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<img class="icon1" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<div class="group-parent24">
            						<div class="group-parent25">
              							<div class="group-wrapper26">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-parent">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper27">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-group">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Dirk Michon</b>
                    										</div>
                    										<img class="testimonial-card-item" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper28">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-container">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Derpina Wickers</b>
                    										</div>
                    										<img class="testimonial-card-inner" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="testimonial-card-wrapper">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="frame-div">
                    										</div>
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">“Great service, very easy and well explained procedures and information needed for insurance. Greg was great to work with, and had excellent communication skills. 10/10 recommend.”</div>
                    										<div class="line-parent">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child1" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="frame-wrapper">
              							<div class="frame-parent1">
                								<div class="what-people-say-wrapper">
                  									<b class="what-people-say">What people say</b>
                								</div>
                								<div class="our-customer-are-container">
                  									<p class="blank-line">Our customer are our top priority</p>
                  									<p class="blank-line">Let’s hear what they have to say.</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="general-liability-child">
      			<div class="group-wrapper30">
        				<div class="group-wrapper30">
          					<div class="group-child25">
          					</div>
          					<div class="group-parent26">
            						<div class="group-parent27">
              							<div class="group-parent28">
                								<div class="i-have-a-different-question-wrapper">
                  									<div class="i-have-a">I have a different question</div>
                								</div>
                								<img class="arrow-left-s-line-icon" alt="" src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">
                								
              							</div>
              							<div class="frequently-asked-questions-parent">
                								<b class="add-listing">Frequently asked questions</b>
                								<div class="when-you-need-container">
                  									<p class="blank-line">When you need help with insurance and claims,</p>
                  									<p class="blank-line">it’s at the ready 24/7.</p>
                								</div>
              							</div>
            						</div>
									<span class="group-parent29">
										<div class="new-group-parent26">
										  <div class="new-group-parent27">
											<div class="new-what-is-a-life-insurance-wrapper">
											  <b class="new-add-listing">What is commercial general liability insurance?</b>
											  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
											</div>
										  </div>
										  <div class="new-rectangle-parent23 new-content">
											<div class="new-group-child29"></div>
											<div class="new-life-insurance-provides1">Commercial general liability (CGL) is an insurance policy that provides financial coverage for claims of third-party bodily injury and property damage caused by your business resulting from negligence or unexpected accidents.</li>
												<li>Should your business be sued, CGL insurance typically covers compensatory damages awarded against you and any legal defense costs, regardless of the lawsuit’s outcome.</div>
										  </div>
										</div>
										<div class="new-group-parent28">
										  <div class="new-group-parent27">
											<div class="new-group-parent29">
											  <div class="new-how-much-does-life-insurance-c-wrapper">
												<b class="new-add-listing">What does general liability insurance cover?</b>
											  </div>
											  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
											</div>
										  </div>
										  <div class="new-rectangle-parent24 new-content">
											<div class="new-group-child30"></div>
											<div class="new-the-monthly-or">General liability insurance typically includes coverage for legal costs and damages related to the following coverage areas: </div>
										  </div>
										</div>
										<div class="new-group-parent30">
										  <div class="new-group-parent27">
											<div class="new-how-does-life-insurance-works-wrapper">
											  <b class="new-add-listing">Who needs commercial general liability insurance?</b>
											</div>
											<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
										  </div>
										  <div class="new-rectangle-parent25 new-content">
											<div class="new-group-child31"></div>
											<div class="new-with-b-insure-life">As a small business owner, you come into contact with any third parties, including clients, vendors, and other businesses, who may be involved in an accident or claim your business caused them loss or damage.</p>
												<p class="blank-line">General liability insurance for small businesses is recommended if:.</div>
										  </div>
										</div>
										<div class="new-group-parent32">
										  <div class="new-group-parent27">
											<div class="new-what-type-of-life-insurance-i-wrapper">
											  <b class="new-what-type-of">What is not covered by commercial general liability insurance?</b>
											</div>
											<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
										  </div>
										  <div class="new-rectangle-parent26 new-content">
											<div class="new-group-child32"></div>
											<div class="new-with-b-insure-life">Commercial liability insurance does not typically provide coverage for:
												<ul class="errors-and-omissions-insurance">
													<li class="errors-and-omissions">Contractual liability; </li>
													<li class="errors-and-omissions">Intentional criminal acts; </li>
													<li class="errors-and-omissions">Patent infringement;</li>
													<li class="errors-and-omissions">Motor vehicles or automobiles (you need a Commercial Auto Insurance policy); or, </li>
													<li>Professional services or advice you provide (you need Professional Liability Insurance).</li>
											  </ul>
											</div>
										  </div>
										</div>
										<div class="new-group-parent34">
										  <div class="new-group-parent27">
											<div class="new-what-type-of-life-insurance-i-wrapper">
											  <b class="new-what-type-of">How do I get general liability insurance for my business?</b>
											</div>
											<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
										  </div>
										  <div class="new-rectangle-parent27 new-content">
											<div class="new-group-child33"></div>
											<div class="new-with-b-insure-life"><p class="blank-line">Get in touch with one of our insurance brokers or request an online quote from our application form.</p>
												<p class="blank-line">&nbsp;</p>
												<p class="blank-line">Our digital brokerage model has several benefits over local brokers, including speed, ease of use and lower costs. All insurance brokers, digital and traditional, have a fiduciary responsibility to protect your best interests and should help you find the right policy for your business.</p></div>
										  </div>
										</div>
										<div class="new-group-parent38">
										  <div class="new-group-parent27">
											<div class="new-what-type-of-life-insurance-i-wrapper">
											  <b class="new-what-type-of">Who is considered third-party?</b>
											</div>
											<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
										  </div>
										  <div class="new-rectangle-parent29 new-content">
											<div class="new-group-child35"></div>
											<div class="new-with-b-insure-life">As a business owner, if you come into contact with any third parties, including clients, vendors, and other businesses, who may be involved in an accident or claim your business caused them loss or damage. This definition of a third party does not include your employees or sub-contractors for coverage purposes. </div>
										  </div>
										</div>
										<div class="new-group-parent40">
										  <div class="new-group-parent27">
											<div class="new-what-type-of-life-insurance-i-wrapper">
											  <b class="new-what-type-of">What is the difference between public liability insurance and general liability insurance?</b>
											</div>
											<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
										  </div>
										  <div class="new-rectangle-parent29 new-content">
											<div class="new-group-child35"></div>
											<div class="new-with-b-insure-life">The primary difference between Public Liability Insurance and Commercial General Liability (CGL) insurance is the risks they cover. Public Liability Insurance provides financial coverage against the public’s claims against your business for personal injury or property damage. CGL is a more accessible form of insurance that provides a more extensive range, covering personal and advertising injuries and everything public liability covers.</div>
										  </div>
										</div>
											
									  </span>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
</div>
  	
  	<script src="statics/js/ff.js">
    		</script></body>
</html>