<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="statics/css/Home_Insurance.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	<div class="homee">
  	<div class="home">
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<img class="image-2-icon" alt="" src="image 2.png">
    		
    		<img class="close-line-icon" alt="" src="close-line.svg">
    		
    		<img class="image-1-icon1" alt="" src="image 1.png">
    		
    		<img class="image-2-icon1" alt="" src="image 2.png">
    		
    		<div class="group-parent">
      			<div class="rectangle-parent">
        				<div class="group-child">
        				</div>
        				<div class="group-container">
          					<div class="group-wrapper">
            						<div class="group-frame">
              							<div class="group-frame">
                								<div class="group-frame">
                  									<img class="image-35-icon" alt="" src="/statics/img/home/nav/image 35.svg">
                  									
                  									<div class="group-item">
                  									</div>
                								</div>
                								<img class="bi-icon" alt="" src="/statics/img/home/nav/Bi.svg">
                								
              							</div>
            						</div>
          					</div>
          					<div class="po-box-9999-container">
            						<p class="blank-line">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
            						<p class="blank-line">&nbsp;</p>
            						<p class="blank-line">999-888-0000 . </p>
            						<p class="blank-line">care@binsure.ca</p>
          					</div>
        				</div>
        				<div class="group-inner">
        				</div>
        				<div class="quick-links-parent">
          					<b class="quick-links">Quick links</b>
          					<div class="sitemap">Sitemap</div>
          					<div class="careers">Careers</div>
          					<div class="contact-us">Contact us</div>
          					<div class="insurance">Insurance</div>
          					<div class="blog">Blog</div>
          					<div class="faqs">Faqs</div>
          					<div class="about">About</div>
        				</div>
        				<div class="terms-of-use-parent">
          					<div class="terms-of-use">Terms of use</div>
          					<div class="privacy-policy">Privacy Policy</div>
          					<div class="cookie-policy">Cookie policy</div>
          					<b class="quick-links">Legal</b>
        				</div>
        				<div class="copyright-2024">Copyright © 2024  Inc. All rights reserved.</div>
        				<img class="group-icon" alt="" src="/statics/img/why/footer/Group 536.svg">
        				
      			</div>
      			<div class="rectangle-group">
        				<div class="rectangle-div">
        				</div>
        				<div class="button-with-icon-parent">
          					<div class="button-with-icon">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Become a partner</b>
            						</div>
          					</div>
          					<div class="button-with-icon1">
            						<div class="add-listing-wrapper">
              							<b class="add-listing1">Join our team</b>
            						</div>
          					</div>
          					<div class="group-wrapper1">
            						<div class="join-the-team-that-is-making-h-parent">
              							<div class="join-the-team">Join the team that is making health insurance simple, transparent, and human.</div>
              							<b class="change-insurance-for">Change insurance for good</b>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-parent">
      			<div class="about-hero-background">
      			</div>
      			<div class="great-rates-and-expert-advice-parent">
        				<div class="great-rates-and-container">
          					<span>Great Rates and Expert Advice on </span>
          					<b>Home Insurance</b>
        				</div>
        				<div class="buttons">
          					<div class="buttons-child">
          					</div>
          					<b class="how-it-works">How It Works</b>
        				</div>
        				<div class="get-a-free-container">Get a free online quote
          					<a class="a" href="https://www.rbcinsurance.com/home-insurance/index.html#legal-1" target="_blank">
            						<span class="span">1</span>
          					</a> for coverage to protect you, your property, and your belongings from the unexpected.
        				</div>
        				<div class="group-parent1">
          					<div class="trusted-by-over-10000-canadia-parent">
            						<div class="trusted-by-over-10000-canadia-parent">
              							<div class="trusted-by-over-container">
                								<p class="blank-line">Trusted by over 10,000</p>
                								<p class="blank-line">Canadian small businesses</p>
              							</div>
              							<img class="vector-icon" alt="" src="/statics/img/Life_Insurance/Vector.svg ">
              							
            						</div>
          					</div>
          					<div class="group-parent2">
            						<div class="save-up-to-35-on-your-insuran-wrapper">
              							<div class="save-up-to">Save up to 35% on your insurance</div>
            						</div>
            						<img class="flying-money-1-icon" alt="" src="/statics/img/Life_Insurance/flying_money 1.svg">
            						
          					</div>
        				</div>
      			</div>
      			<div class="rectangle-container">
        				<div class="group-child1">
        				</div>
        				<div class="i-agree-to-container">
          					<p class="blank-line">I agree to
            						<span class="span">terms of use</span> and
            						<span class="span">privacy policy</span> when getting
          					</p>
          					<p class="blank-line">a free quote from </p>
        				</div>
						<form action="/submit_form" method="post">
        				<div class="group-parent3">
							<div class="group-wrapper3">
								<div class="group-wrapper4">
									<div class="group-wrapper4">
										<div class="group-child2"></div>
										<button type="submit" class="get-a-free">Get a Free quote</button>
									</div>
								</div>
							</div>
							<div class="your-name-parent">
								<b class="your-name">Your name</b>
								<div class="rectangle-parent2">
									<input type="text" class="group-child3" placeholder="Your name" name="name">
								</div>
							</div>
          					<div class="contact-number-parent">
            						<b class="your-name">
              							<span>Contact number</span>
              							<span class="span1"> *</span>
            						</b>
            						<div class="group-parent4">
              							<div class="group-frame">
											<div class="input-wrapper">
												<select class="country-code-select" name="country_code">
													<option value="+1">+1</option>
													<option value="+40">+40</option>
													<option value="+91">+91</option>
													<!-- Add more country codes as needed -->
												</select>
												<input type="number" class="group-child3" required
													placeholder="Contact number" name="contact_number">
											</div>
              							</div>
            						</div>
          					</div>
          					<div class="group-parent5">
								<div class="rectangle-parent4">
									<select class="group-child3" name="planning_to_buy">
										<option value="1-2 Weeks">1-2 Weeks</option>
										<option value="2-4 Weeks">2-4 Weeks</option>
										<option value="1-2 Months">1-2 Months</option>
										<!-- Add more options as needed -->
									</select>
								</div>
            						<b class="planning-to-buy">Planning to buy </b>
          					</div>
          					<div class="group-parent6">
								<div class="rectangle-parent5">
									<input type="email" class="group-child3" placeholder="Email address"
										name="email">
								</div>
            						<b class="planning-to-buy">Email address</b>
          					</div>
        				</div>
						<input type="hidden" name="insurance_type" value="Home-insurance">
						</form>
      			</div>
    		</div>
    		<div class="group-parent7">
      			<div class="get-instant-travel-insurance-q-wrapper">
        				<div class="get-instant-travel-container">
          					<p class="blank-line">
            						<b>Get instant travel insurance quotes</b>
          					</p>
          					<p class="blank-line">from 20 of Canada's Top Insurers</p>
        				</div>
      			</div>
      			<div class="frame-parent">
					<div class="frame-parent-inner">
						<div class="image-11-wrapper">
							  <img class="image-11-icon" alt="" src="/statics/img/image 11.png">
							  
						</div>
						<div class="image-8-wrapper">
							  <img class="image-8-icon" alt="" src="/statics/img/image 8.png">
							  
						</div>
						<div class="image-12-wrapper">
							  <img class="image-12-icon" alt="" src="/statics/img/image 12.png">
							  
						</div>
						<div class="image-9-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
						<img class="frame-child" alt="" src="/statics/img/image 8.png">
						
						<img class="frame-item" alt="" src="/statics/img/image 12.png">
						
						<img class="frame-inner" alt="" src="/statics/img/image 9.png">
						
						<div class="image-16-wrapper">
							  <img class="image-16-icon" alt="" src="/statics/img/image 10.png">
							  
						</div>
						<div class="image-13-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 8.png">
							  
						</div>
					</div>
      			</div>
    		</div>
    		<div class="home-inner">
      			<div class="about-hero-background-group">
        				<div class="about-hero-background-group">
          					<img class="about-hero-background-group" alt="" src="about_hero_background.svg">
          					
          					<div class="group-parent8">
            						<div class="group-wrapper6">
              							<div class="group-parent9">
                								<div class="rectangle-parent6">
                  									<div class="group-child7">
                  									</div>
                  									<img class="icon-100-1" alt="" src="/statics/img/Home_Insurance/home-security 1.svg">
                  									
                  									<b class="tailored-house-insurance-container">
                    										<p class="blank-line">Tailored house </p>
                    										<p class="blank-line">insurance</p>
                  									</b>
                  									<div class="get-house-insurance">Get house insurance that is perfectly suited to your home and that fits your lifestyle. </div>
                								</div>
                								<div class="rectangle-parent7">
                  									<div class="group-child7">
                  									</div>
                  									<div class="icon-100-11">
                    										<div class="claim-1">
                      											<div class="group">
                        												<img class="group-icon1" alt="" src="/statics/img/Home_Insurance/claim 1.svg">
                        												
                        												<div class="group1">
                          													<img class="group-icon2" alt="" src="Group.svg">
                          													
                          													<div class="group2">
                            														<img class="group-icon3" alt="" src="Group.svg">
                            														
                            														<img class="group-icon4" alt="" src="Group.svg">
                            														
                            														<img class="group-icon5" alt="" src="Group.svg">
                            														
                            														<img class="group-icon6" alt="" src="Group.svg">
                            														
                          													</div>
                          													<img class="group-icon7" alt="" src="Group.svg">
                          													
                        												</div>
                      											</div>
                    										</div>
                  									</div>
                  									<b class="outstanding-claims-experience">Outstanding claims experience</b>
                  									<div class="take-advantage-of">Take advantage of the excellent 24/7 support with the largest claims team in Canada, whenever you need it most.</div>
                								</div>
                								<div class="rectangle-parent8">
                  									<div class="group-child7">
                  									</div>
                  									<img class="icon-100-12" alt="" src="/statics/img/Life_Insurance/umbrella-insurance 1.svg">
                  									
                  									<b class="some-of-the">Some of the most generous coverage on the market</b>
                  									<div class="get-peace-of">Get peace of mind with a single limit of insurance covering all your property and up to $2,000,000 in personal liability coverage.</div>
                								</div>
                								<div class="rectangle-parent9">
                  									<div class="group-child7">
                  									</div>
                  									<img class="icon-100-13" alt="" src="/statics/img/Home_Insurance/homeandcarinsurance 1.svg">
                  									
                  									<b class="bundle-your-house">Bundle your house and car insurance</b>
                  									<div class="get-the-best">Get the best value for your money with insurance bundles and take advantage of exclusive benefits.</div>
                								</div>
              							</div>
            						</div>
            						<div class="group-wrapper7">
              							<div class="why-choose-parent">
                								<div class="why-choose-parent">
                  									<div class="why-choose-parent">
                    										<b class="why-choose">Why Choose </b>
                    										<div class="your-house-is">Your house is more than a home. Let our home insurance coverage safeguard your home with the right coverage for your needs.</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="group-parent10">
      			<div class="rectangle-parent10">
        				<div class="group-child11">
        				</div>
        				<div class="feature-2">
        				</div>
      			</div>
      			<div class="group-parent11">
        				<div class="icon-100-1-wrapper">
          					<div class="icon-100-14">
          					</div>
        				</div>
        				<div class="group-parent12">
          					<div class="group-parent13">
            						<div class="group-wrapper10">
              							<div class="compare-quotes-purchase-and-wrapper">
                								<b class="add-listing">Compare quotes, purchase, and manage your policy – all online!</b>
              							</div>
            						</div>
            						<div class="as-canadas-first-full-service-wrapper">
              							<div class="as-canadas-first-container">
                								<p class="blank-line">As Canada’s first full-service online insurance broker, we at B-Insure know your time is valuable and you work hard for your money. Since 2007, our brokerage has been helping clients shop the market to find the most affordable home insurance policies customized to your needs. B-Insure makes it simple to find out which leading insurer will save you money.</p>
                								<p class="blank-line">After choosing the policy that’s the best fit, you can purchase your home insurance policy, print your proof of insurance, and manage your policy information anytime</p>
              							</div>
            						</div>
            						<b class="no-fuss-just">No fuss. Just the best Home Insurance quotes in minutes!</b>
            						<div class="we-will-find-container">
              							<p class="blank-line">We will find you money-saving home insurance from Canada’s top </p>
              							<p class="blank-line">insurance providers.</p>
            						</div>
          					</div>
          					<div class="button-with-icon2" data-target="quote-target">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Get a Quote</b>
            						</div>
          					</div>
        				</div>
        				<div class="home-insurance-1">
          					<div class="background-complete">
								<img class="group-icon13" alt="" src="/statics/img/Home_Insurance/home-insurance 1.svg">
          					</div>
          					
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent11">
      			<div class="group-child12">
      			</div>
      			<img class="group-child13" alt="" src="/statics/img/life/Group 756.svg">
      			
      			<div class="group-wrapper11">
        				<div class="group-frame">
          					<div class="button-with-icon3">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Schedule a call</b>
            						</div>
          					</div>
          					<div class="group-wrapper12">
            						<div class="chat-with-our-licensed-advisor-parent">
              							<div class="chat-with-our-licensed-advisor-parent">
                								<div class="chat-with-our">Chat with our licensed advisors right away, or book some time with them.</div>
                								<b class="change-insurance-for">Whatever your needs, we can help</b>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<img class="group-child14" alt="" src="/statics/img/Life_Insurance/Group 757.svg">
      			
    		</div>
    		<div class="rectangle-parent12">
      			<div class="group-child15">
      			</div>
      			<div class="group-parent14">
        				<div class="group-parent15">
          					<div class="what-information-is-needed-for-parent">
            						<b class="add-listing">
              							<p class="blank-line">What information is needed for a </p>
              							<p class="blank-line">Home Insurance quote?</p>
            						</b>
            						<div class="the-main-piece">The main piece of information you need is your address. At B-Insure we do most of the work for you, but there’s some other things that can be helpful to have at your fingertips when deciding on a policy.</div>
            						<div class="exact-address-insurance-container">
              							<ul class="exact-address-insurance-inform">
                								<li class="exact-address">
                  									<b>Exact Address</b>
                								</li>
                								<li class="exact-address">
                  									<b>Insurance information</b>
                  									<span class="your-current-policy"> – Your current policy and renewal date</span>
                								</li>
                								<li class="exact-address">
                  									<b class="claims-history">Claims history</b>
                  									<span class="your-current-policy"> – Have you had any? What it was for, amount paid out, and when.</span>
                								</li>
                								<li class="exact-address">
                  									<b class="claims-history">Home occupants</b>
                  									<span class="your-current-policy"> – Who will be living there? Are there tenants or pets?</span>
                								</li>
                								<li class="exact-address">
                  									<b class="claims-history">Property details</b>
                  									<span class="your-current-policy"> – Material the home is built with, heating, outbuildings (garages, sheds), type of electrical and plumbing, trees, pool etc.</span>
                								</li>
                								<li>
                  									<b class="claims-history">Personal belongings </b>
                  									<span class="your-current-policy">– The approximate value of what you own</span>
                								</li>
              							</ul>
            						</div>
          					</div>
          					<img class="group-child16" alt="" src="/statics/img/Home_Insurance/Group 751.svg">
          					
        				</div>
        				<div class="group-parent16">
          					<div class="how-can-i-get-a-more-affordabl-parent">
            						<b class="how-can-i">How can I get a more affordable Home Insurance rate?</b>
            						<div class="there-are-discounts">There are discounts offered by insurers that you can take advantage of to lower rates. They are:</div>
            						<div class="when-you-bundle-container">
              							<ul class="when-you-bundle-insurance-poli">
                								<li class="exact-address">When you bundle insurance policies (home, auto) with one insurer.</li>
                								<li class="exact-address">Increasing the deductible</li>
                								<li class="exact-address">Paying annually instead of monthly</li>
                								<li class="exact-address">Installing smoke detectors/monitored house alarms</li>
                								<li class="exact-address">Having never made an insurance claim</li>
                								<li class="exact-address">Being a member of a union, professional organization, or alumnus of certain universities</li>
                								<li class="exact-address">Being a senior citizen</li>
                								<li>Having a newly built home</li>
              							</ul>
            						</div>
          					</div>
          					<img class="group-child17" alt="" src="/statics/img/Home_Insurance/Group 770.svg">
          					
        				</div>
      			</div>
    		</div>
    		<div class="group-parent17">
      			<div class="group-wrapper14">
        				<div class="icon-100-1-container">
          					<div class="icon-100-15">
            						<!-- <div class="home-insurance-calculator-1">
              							<img class="background-complete-icon" alt="" src="Background_Complete.svg">
              							
              							<img class="background-simple-icon1" alt="" src="Background_Simple.svg">
              							
              							<img class="shadow-icon1" alt="" src="Shadow.svg">
              							
              							<img class="character-icon" alt="" src="Character.svg">
              							
              							<img class="building-icon" alt="" src="Building.svg">
              							
              							<div class="form">
                								<div class="group-frame">
                  									<img class="group-icon21" alt="" src="Group.svg">
                  									
                  									<img class="vector-icon1" alt="" src="Vector.svg">
                  									
                  									<img class="vector-icon2" alt="" src="Vector.svg">
                  									
                  									<img class="group-icon22" alt="" src="Group.svg">
                  									
                  									<div class="group8">
                    										<img class="group-icon23" alt="" src="Group.svg">
                    										
                    										<img class="group-icon24" alt="" src="Group.svg">
                    										
                  									</div>
                  									<img class="group-icon25" alt="" src="Group.svg">
                  									
                  									<div class="group9">
                    										<img class="group-icon26" alt="" src="Group.svg">
                    										
                    										<img class="group-icon27" alt="" src="Group.svg">
                    										
                  									</div>
                  									<img class="group-icon28" alt="" src="Group.svg">
                  									
                  									<img class="group-icon29" alt="" src="Group.svg">
                  									
                  									<img class="group-icon30" alt="" src="Group.svg">
                  									
                  									<img class="group-icon31" alt="" src="Group.svg">
                  									
                  									<img class="group-icon32" alt="" src="Group.svg">
                  									
                								</div>
              							</div>
            						</div> -->
          					</div>
        				</div>
      			</div>
      			<div class="group-parent18">
        				<div class="how-much-home-insurance-do-i-n-parent">
          					<b class="add-listing">How much Home Insurance do I need?</b>
          					<div class="when-trying-to-container">
            						<p class="when-trying-to">When trying to determine how much home insurance you’ll need there’s several factors to consider. Here are some guidelines to help you decide: While your insurance broker can recommend coverage, there are other ways for you to make sure. For a quick estimate, multiply the square footage of your home by local per-square-foot building costs. </p>
            						<p class="blank-line">
              							<b>- Changes to Building Codes</b>
            						</p>
            						<p class="blank-line">
              							<b>- Older homes</b>
            						</p>
            						<p class="blank-line">
              							<b>- Inflation</b>
            						</p>
            						<p class="blank-line">
              							<b>- Your Possessions</b>
            						</p>
            						<p class="blank-line">
              							<b>- Additional Living Expenses</b>
            						</p>
            						<p class="blank-line">
              							<b>- Liability</b>
            						</p>
            						<p class="blank-line">
              							<b>- Umbrella or Excess Liability Policy</b>
            						</p>
          					</div>
        				</div>
        				<div class="button-with-icon4" data-target="quote-target">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a Quote</b>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="infobar">
      			<div class="infobar-child">
      			</div>
      			<img class="close-line-icon1" alt="" src="/statics/img/home/nav/close-line.svg">
      			
      			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
    		</div>
    		<div class="b-insure-variants">
      			<div class="b-insure-variants-child">
      			</div>
      			<div class="b-insure-variants-item">
      			</div>
      			<div class="group-parent19">
        				<div class="group-frame">
          					<img class="image-35-icon" alt="" src="/statics/img/Home_Insurance/image 35.svg">
          					
          					<div class="group-child18">
          					</div>
        				</div>
        				<img class="bi-icon1" alt="" src="/statics/img/Home_Insurance/Bi.svg">
        				
      			</div>
      			<div class="frame-group">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				  </div>
				  <div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							  <div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							  </div>
						</div>
				  </div>
				  <div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							  <div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							  </div>
						</div>
				  </div>
				  <div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				  </div>
				  <div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							  <div class="line1"><b>Contact us</b></div>
							  <div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							  <div class="line1"><b>About us</b></div>
							  <div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							  <div class="line1"><b>How it works</b></div>
							  <div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							  <div class="line1"><b>FAQs</b></div>
							  <div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							  <div class="line1"><b>Blog</b></div>
							  <div class="line2">Insurance Knowledge Resource</div>
						</div>
				  </div>
				  </div>
        				<div class="button-with-icon5" data-target="quote-target">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a Quote</b>
          					</div>
        				</div>
        				<div class="line-div">
        				</div>
        				<img class="search-line-icon" alt="" src="/statics/img/Life_Insurance/search-line.svg">
        				
      			</div>
      			<b class="binsure">BINSURE</b>
    		</div>
    		<div class="rectangle-parent13">
      			<div class="group-child19">
      			</div>
      			<div class="group-wrapper15">
        				<div class="container">
          					<img class="icon" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<img class="icon1" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<div class="group-parent20">
            						<div class="group-parent21">
              							<div class="group-wrapper16">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-parent">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="individual">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper17">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-group">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="individual">Dirk Michon</b>
                    										</div>
                    										<img class="testimonial-card-item" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper18">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-container">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="individual">Derpina Wickers</b>
                    										</div>
                    										<img class="testimonial-card-inner" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="testimonial-card-wrapper">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="frame-div">
                    										</div>
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">“Great service, very easy and well explained procedures and information needed for insurance. Greg was great to work with, and had excellent communication skills. 10/10 recommend.”</div>
                    										<div class="line-parent">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="individual">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child1" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="frame-wrapper">
              							<div class="frame-container">
                								<div class="what-people-say-wrapper">
                  									<b class="what-people-say">What people say</b>
                								</div>
                								<div class="our-customer-are-container">
                  									<p class="blank-line">Our customer are our top priority</p>
                  									<p class="blank-line">Let’s hear what they have to say.</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent14">
      			<div class="group-child20">
      			</div>
      			<div class="group-parent22">
        				<div class="group-parent23">
          					<div class="group-parent24">
            						<div class="i-have-a-different-question-wrapper">
              							<div class="i-have-a">I have a different question</div>
            						</div>
            						<img class="arrow-left-s-line-icon" alt="" src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">
            						
          					</div>
          					<div class="frequently-asked-questions-parent">
            						<b class="add-listing">Frequently asked questions</b>
            						<div class="when-you-need-container">
              							<p class="blank-line">When you need help with insurance and claims,</p>
              							<p class="blank-line">it’s at the ready 24/7.</p>
            						</div>
          					</div>
        				</div>
        				<div class="group-parent25">
							
					<div class="new-group-parent28">
							  <div class="new-group-parent27">
								<div class="new-group-parent29">
								  <div class="new-how-much-does-life-insurance-c-wrapper">
									<b class="new-add-listing">Is it mandatory to have house insurance in Canada</b>
								  </div>
								  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
								</div>
							  </div>
							  <div class="new-rectangle-parent24 new-content">
								<div class="new-group-child30"></div>
								<div class="new-the-monthly-or">In Canada, home insurance isn’t mandatory. However, most banks and mortgage loaners will expect you have a house insurance policy as part of the financing agreement. </div>
							  </div>
							</div>
							<div class="new-group-parent30">
							  <div class="new-group-parent27">
								<div class="new-how-does-life-insurance-works-wrapper">
								  <b class="new-add-listing">How much is house insurance in Canada monthly?</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent25 new-content">
								<div class="new-group-child31"></div>
								<div class="new-with-b-insure-life">On a monthly basis, home insurance in Canada is determined based on your home’s location and its value as well as numerous other factors. It can vary depending on the location of your home, its age and condition, and other factors. See the question above for more details on how your insurance premium is calculated.</div>
							  </div>
							</div>
							<div class="new-group-parent32">
							  <div class="new-group-parent27">
								<div class="new-what-type-of-life-insurance-i-wrapper">
								  <b class="new-what-type-of">Are house insurance premiums going up in Canada</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent26 new-content">
								<div class="new-group-child32"></div>
								<div class="new-with-b-insure-life">Home insurance coverage options have generally increased by 5 percent as of 2022 in Canada. One of the primary reasons for this is extreme weather conditions due to climate change, causing more homes to take weather-related damages.</div>
							  </div>
							</div>
							<div class="new-group-parent34">
							  <div class="new-group-parent27">
								<div class="new-what-type-of-life-insurance-i-wrapper">
								  <b class="new-what-type-of">Does house insurance cost more if you have a mortgage?</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent27 new-content">
								<div class="new-group-child33"></div>
								<div class="new-with-b-insure-life">Yes. The number of mortgages registered against the property is considered when defining your insurance premium, and there are savings for properties that are mortgage free. Read the questions above for further details, talk to your broker or get a home insurance quote today to get your house insurance premium.</div>
							  </div>
							</div>
							<div class="new-group-parent38">
							  <div class="new-group-parent27">
								<div class="new-what-type-of-life-insurance-i-wrapper">
								  <b class="new-what-type-of">What if I already have life insurance through work?</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent29 new-content">
								<div class="new-group-child35"></div>
								<div class="new-with-b-insure-life">It’s great if you have insurance coverage through your workplace plan, but keep in mind that you may lose that coverage if you ever leave your job. If you’re currently in the process of leaving your job, you may be eligible to replace your group life insurance with affordable coverage from our partner plans.</div>
							  </div>
							</div>
							<div class="new-group-parent40">
							  <div class="new-group-parent27">
								<div class="new-what-type-of-life-insurance-i-wrapper">
								  <b class="new-what-type-of">Can I claim a broken fence on my homeowner's insurance?</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent29 new-content">
								<div class="new-group-child35"></div>
								<div class="new-with-b-insure-life">It depends on your home insurance policy and other factors: the reasons why the fence was broken and if it is covered by an insured peril in your policy. If it is covered, outside structures can be claimed on your house insurance policy.</div>
							  </div>
							</div>
							
					
      			</div>
    		</div>
    		<div class="home-insurance-calculator-11">
				<img class="group-icon33" alt="" src="/statics/img/Home_Insurance/home-insurance-calculator 1.svg">
    		</div>
  	</div>
  	
</div>
  	
  	
  	<script src="statics/js/ff.js"></script></body>
</html>