<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/statics/css/Life_Insurance.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
	  <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  	<!-- Calendly link widget begin -->
	<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
	<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
	<!-- Calendly link widget end -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  	
</head>
<body>
	<div id="life-1" class="life">
  	
  	<div class="life-insurance">
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<img class="image-2-icon" alt="" src="image 2.png">
    		
    		<img class="close-line-icon" alt="" src="/statics/img/home/nav/close-line.svg">
    		
    		<img class="image-1-icon1" alt="" src="image 1.png">
    		
    		<img class="image-2-icon1" alt="" src="image 2.png">
    		
    		<div class="rectangle-parent">
      			<div class="group-child">
      			</div>
      			<div class="group-parent">
        				<div class="group-wrapper">
          					<div class="group-container">
            						<div class="group-container">
              							<div class="group-container">
                                                <img class="image-35-icon" alt="" src="/statics/img/home/nav/image 35.svg">

                								
                								<div class="group-item">
                								</div>
              							</div>
              							<img class="bi-icon" alt="" src="/statics/img/home/nav/Bi.svg">
              							
            						</div>
          					</div>
        				</div>
        				<div class="po-box-9999-container">
          					<p class="blank-line">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">999-888-0000 . </p>
          					<p class="blank-line">care@binsure.ca</p>
        				</div>
      			</div>
      			<div class="group-inner">
      			</div>
      			<div class="quick-links-parent">
        				<b class="quick-links">Quick links</b>
        				<div class="sitemap">Sitemap</div>
        				<div class="careers">Careers</div>
        				<div class="contact-us">Contact us</div>
        				<div class="insurance">Insurance</div>
        				<div class="blog">Blog</div>
        				<div class="faqs">Faqs</div>
        				<div class="about">About</div>
      			</div>
      			<div class="terms-of-use-parent">
        				<div class="terms-of-use">Terms of use</div>
        				<div class="privacy-policy">Privacy Policy</div>
        				<div class="cookie-policy">Cookie policy</div>
        				<b class="quick-links">Legal</b>
      			</div>
      			<div class="copyright-2024">Copyright © 2024  Inc. All rights reserved.</div>
      			<img class="group-icon" alt="" src="/statics/img/why/footer/Group 536.svg">
      			
    		</div>
    		<div class="rectangle-group">
      			<div class="rectangle-div">
      			</div>
      			<div class="button-with-icon-parent">
        				<div class="button-with-icon">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Become a partner</b>
          					</div>
        				</div>
        				<div class="button-with-icon1">
          					<div class="add-listing-wrapper">
            						<b class="add-listing2">Join our team</b>
          					</div>
        				</div>
        				<div class="group-frame">
          					<div class="join-the-team-that-is-making-h-parent">
            						<div class="join-the-team">Join the team that is making health insurance simple, transparent, and human.</div>
            						<b class="change-insurance-for">Change insurance for good</b>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-parent">
      			<div class="about-hero-background">
      			</div>
      			<div class="a-financial-safety-net-for-you-parent">
        				<div class="a-financial-safety-container">
          					<p class="blank-line">A financial safety net for your </p>
          					<p class="blank-line">
            						<b>Loved Ones</b>
          					</p>
        				</div>
        				<div class="buttons">
          					<div class="buttons-child">
          					</div>
          					<b class="how-it-works">How It Works</b>
        				</div>
        				<div class="help-reassure-your">Help reassure your loved ones that they will be taken care of now and in the future. Get a personalized  insurance quotes in 5 minutes.</div>
        				<div class="group-parent1">
          					<div class="trusted-by-over-10000-canadia-parent">
            						<div class="trusted-by-over-10000-canadia-parent">
              							<div class="trusted-by-over-container">
                								<p class="blank-line">Trusted by over 10,000</p>
                								<p class="blank-line">Canadian small businesses</p>
              							</div>
              							<img class="vector-icon" alt="" src="/statics/img/Life_Insurance/Vector.svg">
              							
            						</div>
          					</div>
          					<div class="group-parent2">
            						<div class="save-up-to-35-on-your-insuran-wrapper">
              							<div class="save-up-to">Save up to 35% on your insurance</div>
            						</div>
            						<img class="flying-money-1-icon" alt="" src="/statics/img/Life_Insurance/flying_money 1.svg">
            						
          					</div>
        				</div>
      			</div>
      			<div class="rectangle-container">
        				<div class="group-child1">
        				</div>
        				<div class="i-agree-to-container">
          					<p id="i-agree" class="blank-line">I agree to
            						<span class="terms-of-use1">terms of use</span> and
            						<span class="terms-of-use1">privacy policy</span> when getting
          					</p>
          					<p id="i-agree" class="blank-line">a free quote from </p>
        				</div>
						<form id="quoteForm" action="/submit_form" method="POST">
							<div class="group-parent3">
								<div class="group-wrapper2">
									<div class="group-wrapper3">
										<div class="group-wrapper3">
											<div class="group-child2"></div>
											<button type="submit" class="get-a-free">Get a Free quote</button>
										</div>
									</div>
								</div>
								<div class="your-name-parent">
									<b class="your-name">Your name</b>
									<div class="rectangle-parent2">
										<input type="text" class="group-child3" name="name" placeholder="Your name">
									</div>
								</div>
								<div class="contact-number-parent">
									<b class="your-name">
										<span>Contact number</span>
										<span class="span"> *</span>
									</b>
									<div class="group-parent4">
										<div class="group-container">
											<div class="input-wrapper">
												<select class="country-code-select" name="country_code">
													<option value="+1">+1</option>
													<option value="+40">+40</option>
													<option value="+91">+91</option>
													<!-- Add more country codes as needed -->
												</select>
												<input type="number" class="group-child3" name="contact_number" required placeholder="Contact number">
											</div>
										</div>
										<div class="parent">
											<!-- <img class="arrow-up-s-line-icon" alt="" src="/statics/img/Life_Insurance/Vector-1.svg"> -->
										</div>
									</div>
								</div>
								<div class="group-parent5">
									<div class="rectangle-parent4">
										<select class="group-child3" name="planning_to_buy">
											<option value="1-2 Weeks">1-2 Weeks</option>
											<option value="2-4 Weeks">2-4 Weeks</option>
											<option value="1-2 Months">1-2 Months</option>
											<!-- Add more options as needed -->
										</select>
									</div>
									<b class="planning-to-buy">Planning to buy </b>
								</div>
								<div class="group-parent6">
									<div class="rectangle-parent5">
										<input type="email" class="group-child3" name="email" placeholder="Email address">
									</div>
									<b class="planning-to-buy">Email address</b>
								</div>
							</div>
							<input type="hidden" name="insurance_type" value="Life insurance">
						</form>
      			</div>
    		</div>
    		<div class="group-parent7">
      			<div class="get-instant-travel-insurance-q-wrapper">
        				<div class="get-instant-travel-container">
          					<p class="blank-line">
            						<b>Get instant travel insurance quotes</b>
          					</p>
          					<p class="blank-line">from 20 of Canada's Top Insurers</p>
        				</div>
      			</div>
      			<div class="frame-parent">
					<div class="frame-parent-inner">
						<div class="image-11-wrapper">
							  <img class="image-11-icon" alt="" src="/statics/img/image 11.png">
							  
						</div>
						<div class="image-8-wrapper">
							  <img class="image-8-icon" alt="" src="/statics/img/image 8.png">
							  
						</div>
						<div class="image-12-wrapper">
							  <img class="image-12-icon" alt="" src="/statics/img/image 12.png">
							  
						</div>
						<div class="image-9-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
						<img class="frame-child" alt="" src="/statics/img/image 10.png">
						
						<img class="frame-item" alt="" src="/statics/img/image 12.png">
						
						<img class="frame-inner" alt="" src="/statics/img/image 8.png">
						
						<div class="image-16-wrapper">
							  <img class="image-16-icon" alt="" src="/statics/img/image 10.png">
							  
						</div>
						<div class="image-13-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
					</div>
      			</div>
    		</div>
    		<div class="group-parent8">
      			<div class="rectangle-parent6">
        				<div class="group-child7">
        				</div>
        				<div class="feature-2">
        				</div>
      			</div>
      			<div class="group-parent9">
        				<img class="group-child8" alt="" src="/statics/img/Life_Insurance/Group 751.svg">
        				
        				<div class="insurance-for-life-and-terms-parent">
          					<b class="insurance-for-life">Insurance for Life and terms</b>
          					<div class="we-like-to-container">
            						<p class="blank-line">We like to hope for the best, but preparing for the worst has its perks too. Because mortgages, education costs, medical costs and other bills – they’ll still be there after you’re gone. </p>
            						<p class="blank-line">Life insurance provides whomever you choose with a one-time, tax-free payment when you die, as long as you continue to pay your premiums.</p>
            						<p class="blank-line">&nbsp;</p>
            						<p class="blank-line">There are different types of life insurance, and different ways to make it work for you. It’s not only to  protect your family. It can also be part of your financial plan, so you may be able to access money in your policy while you’re alive. Loved one’s might use this amount to </p>
            						<ul class="replace-your-income-to-allow-f">
              							<li class="replace-your-income">replace your income to allow family to maintain their standard of living</li>
              							<li class="replace-your-income">provide for your children or dependents</li>
              							<li class="replace-your-income">pay for your funeral expenses</li>
              							<li class="replace-your-income">pay off your debts</li>
              							<li>make a donation to charity</li>
            						</ul>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent7">
      			<div class="group-child9">
      			</div>
      			<img class="group-child10" alt="" src="/statics/img/contact/Group 756.png">
      			
      			<div class="group-wrapper4">
        				<div class="group-container">
          					<div class="button-with-icon2">
            						<div class="add-listing-wrapper">
              							<b class="add-listing1">Schedule a call</b>
            						</div>
          					</div>
          					<div class="group-wrapper5">
            						<div class="our-team-is-always-up-for-dish-parent">
              							<div class="our-team-is-always-up-for-dish-parent">
                								<div class="our-team-is">Our team is always up for dishing out more details.</div>
                								<b class="change-insurance-for">Simple coverage you can trust</b>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<img class="group-child11" alt="" src="/statics/img/Life_Insurance/Group 757.svg">
      			
    		</div>
    		<div class="about-hero-background-group">
      			<img class="about-hero-background-icon" alt="" src="/statics/img/about_hero_background.svg">
      			
      			<div class="group-parent10">
        				<img class="group-child12" alt="" src="/statics/img/Life_Insurance/Group 773.svg">
        				
        				<div class="group-parent11">
          					<div class="how-much-insurance-coverage-do-parent">
            						<b class="add-listing">How much insurance coverage do you need?</b>
            						<div class="ideally-you-want-container">
              							<p class="blank-line">Ideally, you want to make sure your debts are covered, so you don’t leave major expenses behind for your loved ones.</p>
              							<p class="blank-line">Here are a few things to consider:</p>
              							<ul class="your-income-net-worth-family-n">
                								<li class="replace-your-income">Your income</li>
                								<li class="replace-your-income">Net worth</li>
                								<li class="replace-your-income">Family needs</li>
                								<li class="replace-your-income">Debt</li>
                								<li>Other insurance you have </li>
              							</ul>
            						</div>
          					</div>
          					<div class="button-with-icon3" data-target="quote-target">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Get a Quote</b>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-container">
      			<img class="about-hero-background-icon1" alt="" src="/statics/img/about_hero_background.svg">
      			
      			<div class="group-wrapper7">
        				<div class="group-parent12">
          					<div class="group-wrapper8">
            						<div class="icon-100-1-parent">
              							<div class="icon-100-1">
              							</div>
              							<div class="icon-100-2">
              							</div>
            						</div>
          					</div>
          					<div class="group-parent13">
            						<div class="how-much-do-insurance-cover-co-parent">
              							<b class="add-listing">How much do insurance cover costs?</b>
              							<div class="it-depends-on-container">
                								<p class="it-depends-on">It depends on the type of coverage you choose. Generally, term insurance is more affordable than permanent insurance. But there are a lot of factors that determine the cost of your policy, including: </p>
                								<p class="blank-line">
                  									<b class="age">Age:</b>
                  									<span class="generally-insurance-is"> Generally, insurance is less expensive when you’re younger.</span>
                								</p>
                								<ul class="health-family-history-chroni">
                  									<li class="replace-your-income">
                    										<b class="age">Health:</b>
                    										<span class="generally-insurance-is"> Family history, chronic diseases and lifestyle can increase costs.</span>
                  									</li>
                  									<li class="replace-your-income">
                    										<b class="age">Gender:</b>
                    										<span class="women-live-longer"> Women live longer than men on average, so insurance may cost less.</span>
                  									</li>
                  									<li>
                    										<b class="age">Occupation:</b>
                    										<span class="women-live-longer"> If you have a dangerous job, your insurance costs can be higher.</span>
                  									</li>
                								</ul>
              							</div>
            						</div>
            						<div class="button-with-icon4" data-target="quote-target">
              							<div class="add-listing-wrapper">
                								<b class="add-listing">Get a Quote</b>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="infobar">
      			<div class="infobar-child">
      			</div>
      			<img class="close-line-icon1" alt="" src="/statics/img/home/nav/close-line.svg">
      			
      			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
    		</div>
    		<div class="b-insure-variants">
      			<div class="b-insure-variants-child">
      			</div>
      			<div class="b-insure-variants-item">
      			</div>
      			<div class="group-parent14">
        				<div class="group-container">
          					<img class="image-35-icon" alt="" src="/statics/img/Life_Insurance/image 35.svg">
          					
          					<div class="group-child13">
          					</div>
        				</div>
        				<img class="bi-icon1" alt="" src="/statics/img/Life_Insurance/Bi.svg">
        				
      			</div>
      			<div class="frame-group">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				  </div>
				  <div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							  <div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							  </div>
						</div>
				  </div>
				  <div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							  <div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							  </div>
						</div>
				  </div>
				  <div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				  </div>
				  <div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							  <div class="line1"><b>Contact us</b></div>
							  <div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							  <div class="line1"><b>About us</b></div>
							  <div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							  <div class="line1"><b>How it works</b></div>
							  <div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							  <div class="line1"><b>FAQs</b></div>
							  <div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							  <div class="line1"><b>Blog</b></div>
							  <div class="line2">Insurance Knowledge Resource</div>
						</div>
				  </div>
				  </div>
        				<div class="button-with-icon5">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a Quote</b>
          					</div>
        				</div>
        				<div class="line-div">
        				</div>
        				<img class="search-line-icon" alt="" src="/statics/img/Life_Insurance/search-line.svg">
        				
      			</div>
      			<b class="binsure">BINSURE</b>
    		</div>
    		<div class="life-insurance-inner">
      			<div class="about-hero-background-parent1">
        				<img class="about-hero-background-parent1" alt="" src="/statics/img/about_hero_background.svg">
        				
        				<div id="wrapper9" class="group-wrapper9" data-target="quote-target">
          					<div class="group-wrapper3">
            						<div  class="group-wrapper3">
              							<div id="child2" class="group-child2">
              							</div>
              							<b id="get-life" class="get-life-insure">Get Life Insure now!</b>
            						</div>
          					</div>
        				</div>
        				<div class="group-parent15">
          					<div class="group-wrapper11">
            						<div class="why-choose-b-insure-parent">
              							<div class="why-choose-b-insure-parent">
                								<div class="why-choose-b-insure-parent">
                  									<b class="why-choose-b-insure">Why Choose B-Insure</b>
                  									<div class="we-help-canada-container">
                    										<p class="blank-line">We help Canada small business owners save time and money by providing</p>
                    										<p class="blank-line">a convenient and affordable way to buy business insurance</p>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="group-parent16">
            						<div class="rectangle-parent9">
              							<div class="group-child15">
              							</div>
              							<img class="icon-100-11" alt="" src="/statics/img/Life_Insurance/canadian 1.svg">
              							
              							<b class="made-for-canadians">Made for Canadians</b>
              							<div class="we-celebrate-what">We celebrate what makes Canadians different. And we’re committed to providing insurance designed for your needs.</div>
            						</div>
            						<div class="rectangle-parent10">
              							<div class="group-child15">
              							</div>
              							<img class="icon-100-12" alt="" src="/statics/img/Life_Insurance/umbrella-insurance 1.svg">
              							
              							<b class="insurance-made-simple">Insurance made simple</b>
              							<div class="go-direct-and">Go direct and get coverage without tons of confusing forms or medical tests. Because no one needs more paperwork in their life.</div>
            						</div>
            						<div class="rectangle-parent11">
              							<div class="group-child15">
              							</div>
              							<img class="icon-100-12" alt="" src="/statics/img/Life_Insurance/flexible-insurance 1.svg">
              							
              							<b class="insurance-made-simple">Flexible coverage</b>
              							<div class="our-canadian-based-licensed">Our Canadian-based licensed advisors can guide you on the best coverage for your needs. We're here to support your insurance journey from start to finish.</div>
            						</div>
            						<div class="rectangle-parent12">
              							<div class="group-child15">
              							</div>
              							<img class="icon-100-14" alt="" src="/statics/img/Life_Insurance/hygiene 1.svg ">
              							
              							<b class="insurance-made-simple">Trusted experience</b>
              							<div class="your-policy-is">Your policy is backed by an insurer with decades of experience protecting Canadians. You can be confident knowing you’re in good hands (if we do say so ourselves).</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent13">
      			<div class="group-child19">
      			</div>
      			<div class="group-wrapper14">
        				<div class="group">
          					<img class="icon" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<img class="icon1" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<div class="group-parent17">
            						<div class="group-parent18">
              							<div class="group-wrapper15">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-parent">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper16">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-group">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Dirk Michon</b>
                    										</div>
                    										<img class="testimonial-card-item" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper17">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-container">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Derpina Wickers</b>
                    										</div>
                    										<img class="testimonial-card-inner" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="testimonial-card-wrapper">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="frame-div">
                    										</div>
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">“Great service, very easy and well explained procedures and information needed for insurance. Greg was great to work with, and had excellent communication skills. 10/10 recommend.”</div>
                    										<div class="line-parent">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child1" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="frame-wrapper">
              							<div class="frame-container">
                								<div class="what-people-say-wrapper">
                  									<b class="what-people-say">What people say</b>
                								</div>
                								<div class="our-customer-are-container">
                  									<p class="blank-line">Our customer are our top priority</p>
                  									<p class="blank-line">Let’s hear what they have to say.</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="life-insurance-child">
      			<div class="about-hero-background-parent2">
        				<img class="about-hero-background-parent2" alt="" src="/statics/img/about_hero_background.svg">
        				
        				<div class="group-parent19">
          					<div class="about-hero-button-parent">
            						<div class="about-hero-button">
              							<div class="about-hero-button-child">
              							</div>
              							<div class="schedule-a-call-wrapper">
                								<b class="schedule-a-call">Schedule a call</b>
              							</div>
            						</div>
            						<div class="about-hero-button1" data-target="quote-target">
              							<div class="about-hero-button-child">
              							</div>
              							<div class="get-a-quote-online-wrapper">
                								<b class="schedule-a-call">Get a Quote Online</b>
              							</div>
            						</div>
            						<div class="group-wrapper19">
              							<div class="how-to-get-life-insurance-parent">
                								<div class="how-to-get-life-insurance-parent">
                  									<div class="how-to-get-life-insurance-parent">
                    										<b class="how-to-get">How to get life insurance</b>
                    										<div class="not-sure-whats">Not sure what’s right for you? An advisor can explain all your insurance options and help you figure out which products meet your needs and goals.</div>
                    										<div class="answer-a-few">Answer a few quick questions to get a quote for coverage up to $1,000,000.</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="group-parent20">
            						<div class="what-kind-of-life-insurance-is-parent">
              							<div class="what-kind-of-life-insurance-is-parent">
                								<div class="what-kind-of-life-insurance-is-parent">
                  									<div class="what-kind-of-life-insurance-is-parent">
                    										<b class="what-kind-of">What kind of Life insurance is available?</b>
                    										<div class="there-are-2">There are 2 basic types of life insurance coverage: term and permanent. Each has unique features designed to meet different needs.</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="group-parent21">
              							<div class="rectangle-parent14">
                								<div class="group-child20">
                								</div>
                								<img class="life-insurance-2-icon" alt="" src="/statics/img/Life_Insurance/life-insurance 2.svg">
                								
                								<b class="term-insurance">Term insurance</b>
                								<div class="its-temporary-coverage-container">
                  									<p class="blank-line">It’s temporary coverage that can last 10, 15, 20 or more years. It’s initially a cheaper option. But your premiums typically rise if you decide to renew your policy at the end of your term.</p>
                  									<p class="blank-line">Some term plans let you convert to permanent life insurance. Permanent insurance is more expensive than term, but most plans offer premiums that remain the same for the rest of your life.</p>
                								</div>
                								<div class="temporary-coverage-lower-container">
                  									<ul class="replace-your-income-to-allow-f">
                    										<li class="replace-your-income">Temporary coverage</li>
                    										<li class="replace-your-income">Lower cost</li>
                    										<li class="replace-your-income">Fixed payments</li>
                    										<li>Option to convert to permanent</li>
                  									</ul>
                								</div>
              							</div>
              							<div class="rectangle-parent15">
                								<div class="group-child21">
                								</div>
                								<img class="icon-100-15" alt="" src="/statics/img/Life_Insurance/permanent-insurance 1.svg">
                								
                								<b class="permanent-insurance">Permanent insurance</b>
                								<div class="its-insurance-coverage-container">
                  									<p class="blank-line">It’s insurance coverage that lasts forever and never expires. There are three types of permanent life insurance:whole life, participating, and universal life.</p>
                  									<p class="blank-line">Some plans may also offer tax-preferred growth in your cash value and ways to increase the death benefit.</p>
                								</div>
                								<div class="lifetime-coverage-higher-container">
                  									<ul class="replace-your-income-to-allow-f">
                    										<li class="replace-your-income">Lifetime coverage</li>
                    										<li class="replace-your-income">Higher cost</li>
                    										<li class="replace-your-income">Flexible payments</li>
                    										<li>Opportunity to build cash value</li>
                  									</ul>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="life-insurance-inner1">
      			<div class="about-hero-background-parent3">
        				<img class="about-hero-background-parent3" alt="" src="/statics/img/about_hero_background.svg">
        				
        				<div class="group-wrapper25">
          					<div class="why-choose-b-insure-parent">
            						<div class="why-choose-b-insure-parent">
              							<div class="why-choose-b-insure-parent">
                								<b class="why-choose-b-insure"> Key Benefits</b>
                								<div class="we-help-canada-container">
                  									<p class="blank-line">We help Canada small business owners save time and money by providing</p>
                  									<p class="blank-line">a convenient and affordable way to buy business insurance</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="rectangle-parent16">
          					<div class="group-child15">
          					</div>
          					<img class="icon-100-11" alt="" src="/statics/img/Life_Insurance/low-price 1.svg">
          					
          					<div class="pay-less-based-container">
            						<p class="blank-line">Pay less based on your</p>
            						<p class="blank-line">lifestyle</p>
          					</div>
          					<div class="living-a-healthy-container">
            						<p class="blank-line">Living a healthy lifestyle has rewards. You’ll pay lower </p>
            						<p class="blank-line">premiums for being a non-smoker.</p>
          					</div>
        				</div>
        				<div class="rectangle-parent17">
          					<div class="group-child15">
          					</div>
          					<img class="icon-100-11" alt="" src="/statics/img/Life_Insurance/apply online 1.svg">
          					
          					<div class="pay-less-based-container">
            						<p class="blank-line">Apply easily over the </p>
            						<p class="blank-line">phone</p>
          					</div>
          					<div class="living-a-healthy-container">
            						<p class="blank-line">Living a healthy lifestyle has rewards. You’ll pay lower </p>
            						<p class="blank-line">premiums for being a non-smoker.</p>
          					</div>
        				</div>
        				<div class="rectangle-parent18">
          					<div class="group-child15">
          					</div>
          					<img class="icon-100-12" alt="" src="/statics/img/Life_Insurance/shield 1.svg">
          					
          					<div class="advanced-funeral-payout-container">
            						<p class="blank-line">Advanced funeral </p>
            						<p class="blank-line">payout</p>
          					</div>
          					<div class="we-automatically-give">
            						<p class="blank-line">Advanced funeral payout</p>
            						<p class="blank-line">We may provide $15,000 (subject to approval) to pay for immediate costs, like a funeral. </p>
          					</div>
        				</div>
        				<div class="rectangle-parent19">
          					<div class="group-child15">
          					</div>
          					<img class="icon-100-19" alt="" src="/statics/img/Life_Insurance/calendar 1.svg">
          					
          					<div class="advanced-funeral-payout-container">
            						<p class="blank-line">Optional yearly cover </p>
            						<p class="blank-line">increase</p>
          					</div>
          					<div class="we-automatically-give"> We automatically give you the option to increase your coverage amount by 5% on your policy’s anniversary to help cover changes to your lifestyle.</div>
        				</div>
        				<div class="rectangle-parent20">
          					<div class="group-child15">
          					</div>
          					<img class="icon-100-12" alt="" src="/statics/img/Life_Insurance/cause_of_death 1.svg">
          					
          					<div class="advanced-funeral-payout-container">
            						<p class="blank-line">Any cause of death </p>
            						<p class="blank-line">covered</p>
          					</div>
          					<div class="natural-death-accidental">Natural death, accidental death, and terminal illness are all covered.</div>
        				</div>
        				<div class="rectangle-parent21">
          					<div class="group-child15">
          					</div>
          					<img class="icon-100-12" alt="" src="/statics/img/Life_Insurance/cough 1.svg">
          					
          					<div class="advanced-funeral-payout-container">Terminal illness benefit</div>
          					<div class="receive-100-of">Receive 100% of your benefit upfront if you’re diagnosed with a terminal illness with a life expectancy of 12 months or less</div>
        				</div>
      			</div>
    		</div>
    		<div class="life-insurance-inner2">
      			<div class="group-wrapper28">
        				<div class="group-wrapper28">
          					<div class="group-wrapper28">
            						<div class="group-wrapper28">
              							<div class="group-child28">
              							</div>
              							<div class="group-parent22">
                								<div class="group-parent23">
                  									<div class="group-parent24">
                    										<div class="i-have-a-different-question-wrapper">
                      											<div class="i-have-a">I have a different question</div>
                    										</div>
                    										<img class="new-arrow-left-s-line-icon" alt="" src="/statics/img/arrow-left-s-line.png">
                    										
                  									</div>
                  									<div class="frequently-asked-questions-parent">
                    										<b class="add-listing">Frequently asked questions</b>
                    										<div class="when-you-need-container">
                      											<p class="blank-line">When you need help with insurance and claims,</p>
                      											<p class="blank-line">it’s at the ready 24/7.</p>
                    										</div>
                  									</div>
                								</div>
                							
												<div class="group-parent25">
													<div class="new-group-parent26">
													  <div class="new-group-parent27">
														<div class="new-what-is-a-life-insurance-wrapper">
														  <b class="new-add-listing">What is a Life Insurance</b>
														  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
														</div>
													  </div>
													  <div class="new-rectangle-parent23 new-content">
														<div class="new-group-child29"></div>
														<div class="new-life-insurance-provides1">Life insurance provides a payout that your loved ones can put towards what they need most when you’re no longer here. It can help them pay the mortgage or rent, plus cover bills and handle regular expenses more easily. Even if they have the basics covered, your life insurance benefit can go towards helping them make the most out of life, from travel to home upgrades – whatever they need or want most.</div>
													  </div>
													</div>
													<div class="new-group-parent28">
													  <div class="new-group-parent27">
														<div class="new-group-parent29">
														  <div class="new-how-much-does-life-insurance-c-wrapper">
															<b class="new-add-listing">How much does Life insurance cost per month</b>
														  </div>
														  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
														</div>
													  </div>
													  <div class="new-rectangle-parent24 new-content">
														<div class="new-group-child30"></div>
														<div class="new-the-monthly-or">The monthly or yearly cost of life insurance will depend on the level of coverage you choose, plus other personal factors, such as your age and smoking status. The best way to get an accurate estimate is to request a quote. Our licensed advisors are ready to talk you through your options, so get in touch. </div>
													  </div>
													</div>
													<div class="new-group-parent30">
													  <div class="new-group-parent27">
														<div class="new-how-does-life-insurance-works-wrapper">
														  <b class="new-add-listing">How does life insurance work?</b>
														</div>
														<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
													  </div>
													  <div class="new-rectangle-parent25 new-content">
														<div class="new-group-child31"></div>
														<div class="new-with-b-insure-life">With B-Insure Life Insurance, you’ll pay a monthly premium. That amount will be based on factors such as your age, smoking status, and the coverage amount you choose. When the time comes, the beneficiaries you’ve chosen will get the benefit payout once the claim is approved.</div>
													  </div>
													</div>
													<div class="new-group-parent32">
													  <div class="new-group-parent27">
														<div class="new-what-type-of-life-insurance-i-wrapper">
														  <b class="new-what-type-of">What type of Life insurance should I get?</b>
														</div>
														<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
													  </div>
													  <div class="new-rectangle-parent26 new-content">
														<div class="new-group-child32"></div>
														<div class="new-with-b-insure-life">There are different types of life insurance plans available in Canada. The type of life insurance you should get will depend on your personal circumstances. Choosing life insurance coverage doesn’t need to be complicated. Our trusted advisors are ready to talk you through it, so you can make a confident decision (and get some peace of mind) with ease.</div>
													  </div>
													</div>
													<div class="new-group-parent34">
													  <div class="new-group-parent27">
														<div class="new-what-type-of-life-insurance-i-wrapper">
														  <b class="new-what-type-of">What does Life insurance cover?</b>
														</div>
														<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
													  </div>
													  <div class="new-rectangle-parent27 new-content">
														<div class="new-group-child33"></div>
														<div class="new-with-b-insure-life">Life insurance gives your beneficiaries money they can use in any way they wish after you pass away. A life insurance claims payout can go towards mortgage payments, debts, education expenses, final expenses like funeral costs, medical or palliative care costs and more. Life insurance can also provide the benefit upfront for terminal illness with life expectancy of 12 months or less to live.</div>
													  </div>
													</div>
													<div class="new-group-parent36">
													  <div class="new-group-parent37">
														<div class="new-can-i-cash-out-or-take-money-wrapper">
														  <b class="new-what-type-of">Can I “cash out” or take money out of my life insurance policy before death in Canada?</b>
														  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
														</div>
													  </div>
													  <div class="new-rectangle-parent28 new-content">
														<div class="new-group-child34"></div>
														<div class="new-with-b-insure-life">
														  <p class="new-blank-line">Some permanent life insurance policies may allow you to do this.</p>
														  <p class="new-blank-line"><b>Connect with an advisor for more detailed information</b></p>
														</div>
													  </div>
													</div>
													<div class="new-group-parent38">
													  <div class="new-group-parent27">
														<div class="new-what-type-of-life-insurance-i-wrapper">
														  <b class="new-what-type-of">What if I already have life insurance through work?</b>
														</div>
														<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
													  </div>
													  <div class="new-rectangle-parent29 new-content">
														<div class="new-group-child35"></div>
														<div class="new-with-b-insure-life">It’s great if you have insurance coverage through your workplace plan, but keep in mind that you may lose that coverage if you ever leave your job. If you’re currently in the process of leaving your job, you may be eligible to replace your group life insurance with affordable coverage from our partner plans.</div>
													  </div>
													</div>
													<div class="new-group-parent40">
													  <div class="new-group-parent27">
														<div class="new-what-type-of-life-insurance-i-wrapper">
														  <b class="new-what-type-of">What if I already have life insurance through work?</b>
														</div>
														<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
													  </div>
													  <div class="new-rectangle-parent29 new-content">
														<div class="new-group-child35"></div>
														<div class="new-with-b-insure-life">It’s great if you have insurance coverage through your workplace plan, but keep in mind that you may lose that coverage if you ever leave your job. If you’re currently in the process of leaving your job, you may be eligible to replace your group life insurance with affordable coverage from our partner plans.</div>
													  </div>
													</div>
													<div class="new-group-parent42">
													  <div class="new-group-parent27">
														<div class="new-what-type-of-life-insurance-i-wrapper">
														  <b class="new-what-type-of">How to Cancel my Life Insurance Policy</b>
														</div>
														<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
													  </div>
													  <div class="new-rectangle-parent31 new-content">
														<div class="new-group-child37"></div>
														<div class="new-with-b-insure-life">
														  <p class="new-blank-line">Canceling a life insurance policy is not complicated. However, the exact steps vary depending on whether you have a term life policy or a cash-value life policy.</p>
														  <p class="new-blank-line">You can cancel a term life policy in different ways. Whichever option you pick, make sure you cancel any automatic payments that you have arranged with your bank.</p>
														  <ul class="new-replace-your-income-to-allow-f">
															<li class="new-replace-your-income">Submit a cancellation form.</li>
															<li class="new-replace-your-income">Write a letter.</li>
															<li class="new-replace-your-income">Call your provider.</li>
															<li>Stop paying premiums: Canceling a term life plan can be as easy as stopping the premium payments. If you’re paying your premium by bank transfer, make sure you notify your bank to stop the payment.</li>
														  </ul>
														</div>
													  </div>
													</div>
												  </div>
												  
												  
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<img class="life-insurance-item" alt="" src="/statics/img/Life_Insurance/Group 751-1.svg">
    		
  	</div>
  	
  	
</div>
  	
  	<script src="statics/js/ff.js"></script>
	  <script>
        $(document).ready(function() {
            $('#quoteForm').on('submit', function(e) {
                e.preventDefault(); // Prevent the default form submission
                $.ajax({
                    type: 'POST',
                    url: '/submit_form',
                    data: $(this).serialize(),
                    success: function(response) {
                        alert("Form submitted successfully!"); // Show success message
						location.reload(); // Refresh the page
                    },
                    error: function(error) {
                        alert("An error occurred while submitting the form."); // Show error message
                    }
                });
            });
        });
    </script>
</body>
</html>
