<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="statics/css/Restaurant.css">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
	<!-- Calendly link widget begin -->
	<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
	<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
	<!-- Calendly link widget end -->

  	
  	
  	
</head>
<body>
	<div class="restrau">
  	
  	<div class="restaurant">
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<img class="image-2-icon" alt="" src="image 2.png">
    		
    		<img class="close-line-icon" alt="" src="/statics/img/header/close-line.svg">
    		
    		<img class="image-1-icon1" alt="" src="image 1.png">
    		
    		<img class="image-2-icon1" alt="" src="image 2.png">
    		
    		<div class="group-parent">
      			<div class="rectangle-parent">
        				<div class="group-child">
        				</div>
        				<div class="group-container">
          					<div class="group-wrapper">
            						<div class="group-frame">
              							<div class="group-frame">
                								<div class="group-frame">
                  									<img class="image-35-icon" alt="" src="/statics/img/header/image 35.png" >
                  									
                  									<div class="group-item" id="logo-footer">
                  									</div>
                								</div>
                								<img class="bi-icon" alt="" src="/statics/img/header/Bi.svg" id="logo-footer">
                								
              							</div>
            						</div>
          					</div>
          					<div class="po-box-9999-container" id="logo-above">
            						<p class="blank-line">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
            						<p class="blank-line">&nbsp;</p>
            						<p class="blank-line">999-888-0000 . </p>
            						<p class="blank-line">care@binsure.ca</p>
          					</div>
        				</div>
        				<div class="group-inner">
        				</div>
        				<div class="quick-links-parent">
          					<b class="quick-links">Quick links</b>
          					<div class="sitemap">Sitemap</div>
          					<div class="careers">Careers</div>
          					<div class="contact-us">Contact us</div>
          					<div class="insurance">Insurance</div>
          					<div class="blog">Blog</div>
          					<div class="faqs">Faqs</div>
          					<div class="about">About</div>
        				</div>
        				<div class="terms-of-use-parent">
          					<div class="terms-of-use">Terms of use</div>
          					<div class="privacy-policy">Privacy Policy</div>
          					<div class="cookie-policy">Cookie policy</div>
          					<b class="quick-links">Legal</b>
        				</div>
        				<div class="copyright-2024">Copyright © 2024  Inc. All rights reserved.</div>
        				<img class="group-icon" alt="" src="/statics/img/why/footer/Group 536.svg">
        				
      			</div>
      			<div class="rectangle-group">
        				<div class="rectangle-div">
        				</div>
        				<div class="button-with-icon-parent">
          					<div class="button-with-icon">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Become a partner</b>
            						</div>
          					</div>
          					<div class="button-with-icon1">
            						<div class="add-listing-wrapper">
              							<b class="add-listing1">Join our team</b>
            						</div>
          					</div>
          					<div class="group-wrapper1">
            						<div class="join-the-team-that-is-making-h-parent">
              							<div class="join-the-team">Join the team that is making health insurance simple, transparent, and human.</div>
              							<b class="change-insurance-for">Change insurance for good</b>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-parent">
      			<!-- <img class="about-hero-background-icon" alt="" src="about_hero_background.svg"> -->
      			
      			<div class="group-parent1">
        				<div class="group-wrapper2">
          					<div class="why-choose-parent">
            						<div class="why-choose-parent">
              							<div class="why-choose-parent">
                								<b class="why-choose">Why Choose </b>
                								<div class="restaurant-insurance-is">Restaurant insurance is tailored to protect owners from risks like third-party injuries, property damage, accidents, and equipment breakdowns</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="group-parent2">
          					<div class="rectangle-container">
            						<div class="group-child1">
            						</div>
            						<b class="intuitive-online-experience">Intuitive Online Experience</b>
            						<div class="do-everything-online-container">
              							<p class="blank-line">Do everything online, at your</p>
              							<p class="blank-line">convenience</p>
            						</div>
          					</div>
          					<div class="rectangle-parent1">
            						<div class="group-child1">
            						</div>
            						<b class="always-here-for">Always Here For You</b>
            						<div class="were-just-a">We’re just a click away</div>
          					</div>
          					<div class="rectangle-parent2">
            						<div class="group-child1">
            						</div>
            						<b class="always-here-for">Full Transparency</b>
            						<div class="were-just-a">Get only the coverage you need in clear language</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-group">
      			<!-- <img class="about-hero-background-icon1" alt="" src="about_hero_background.svg"> -->
      			
      			<div class="group-parent3">
        				<div class="group-wrapper5">
          					<div class="restaurant-insurance-coverages-parent">
            						<div class="restaurant-insurance-coverages-parent">
              							<div class="restaurant-insurance-coverages-parent">
                								<b class="add-listing">Restaurant insurance coverages </b>
                								<div class="restaurant-insurance-coverage">Restaurant insurance coverage must have these three essential covers</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="group-parent4">
          					<div class="rectangle-container">
            						<div class="group-child1">
            						</div>
            						<img class="icon-100-1" alt="" src="/statics/img/Restaurant/liability-insurance 1.svg">
            						
            						<b class="intuitive-online-experience">Liability</b>
            						<div class="do-everything-online-container">Provide Liability Insurance to new and existing restaurants, delis and cafés.</div>
          					</div>
          					<div class="rectangle-parent1">
            						<div class="group-child1">
            						</div>
            						<img class="icon-100-11" alt="" src="/statics/img/Restaurant/building 1.svg">
            						
            						<b class="property">Property</b>
            						<div class="coverage-for-your">Coverage for your restaurant’s assets that protects against fire, theft, vandalism, water damage and more.</div>
          					</div>
          					<div class="rectangle-parent2">
            						<div class="group-child1">
            						</div>
            						<img class="icon-100-11" alt="" src="/statics/img/Restaurant/cyber-insurance 1.svg">
            						
            						<b class="property">Cyber</b>
            						<div class="coverage-for-your">Insurance that protects the restaurant POS in the event of credit card scams.</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="group-parent5">
      			<div class="rectangle-parent6">
        				<div class="group-child7">
        				</div>
        				<div class="feature-2">
        				</div>
      			</div>
      			<div class="group-parent6">
        				<div class="vector-parent">
          					<img class="vector-icon" alt="" src="/statics/img/Restaurant/Group 1974.svg">
        				</div>
        				<div class="group-wrapper8">
          					<div class="insurance-for-restaurants-parent">
            						<b class="insurance-for-restaurants">Insurance for Restaurants</b>
            						<div class="you-are-passionate-container">
              							<p class="blank-line">You are passionate about providing great food and top-notch customer service, always aiming to give your guests a memorable dining experience.</p>
              							<p class="blank-line">&nbsp;</p>
              							<p class="blank-line">However, working with food and serving the public can be risky. Issues like food poisoning claims, fire damage, or food spoilage from broken appliances can happen anytime. That's why you need customized restaurant insurance to protect your assets and reputation.</p>
            						</div>
            						<div class="button-with-icon2" data-target="quote-target">
              							<div class="add-listing-wrapper">
                								<b class="add-listing">Get a Quote</b>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="infobar">
      			<div class="infobar-child">
      			</div>
      			<img class="close-line-icon1" alt="" src="/statics/img/header/close-line.svg">
      			
      			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
    		</div>
    		<div class="group-parent7">
      			<div class="about-hero-background-wrapper">
        				<div class="about-hero-background">
        				</div>
      			</div>
      			<div class="group-parent8">
        				<div class="rectangle-parent7">
          					<div class="group-child9">
          					</div>
          					<div class="i-agree-to-container">I agree to
            						<span class="terms-of-use1">terms of use</span> and
            						<span class="terms-of-use1">privacy policy</span> when getting a free quote from B-Insure
          					</div>
							  <form action="/submit_form" method="post">
          					<div class="group-parent9">
            						<div class="group-wrapper9">
              							<div class="group-wrapper10">
                								<div class="group-wrapper10">
                  									<div class="group-child10">
                  									</div>
                  									<button type="submit" class="get-a-free">Get a Free quote</button>
                								</div>
              							</div>
            						</div>
            						<div class="your-name-parent">
              							<b class="your-name">Your name</b>
              							<div class="rectangle-parent9">
											<input type="text" class="group-child11" placeholder="Your name" name="name">
              							</div>
            						</div>
            						<div class="contact-number-parent">
              							<b class="contact-number-container">
                								<span>Contact number</span>
                								<span class="span"> *</span>
              							</b>
              							<div class="group-parent10">
											<div class="group-frame">
												<div class="input-wrapper">
													<select class="country-code-select" name="country_code">
														<option value="+1">+1</option>
														<option value="+40">+40</option>
														<option value="+91">+91</option>
														<!-- Add more country codes as needed -->
													</select>
													<input type="number" class="group-child11" required
														placeholder="Contact number" name="contact_number">
												</div>
											  </div>
              							</div>
            						</div>
            						<div class="group-parent11">
              							<div class="rectangle-parent11">
											<select class="group-child11" name="planning_to_buy">
												<option value="1-2 Weeks">1-2 Weeks</option>
												<option value="2-4 Weeks">2-4 Weeks</option>
												<option value="1-2 Months">1-2 Months</option>
												<!-- Add more options as needed -->
											</select>
              							</div>
              							<b class="planning-to-buy">Planning to buy </b>
            						</div>
            						<div class="group-parent12">
              							<div class="rectangle-parent12">
											<input type="email" class="group-child11" placeholder="Email address"
											name="email">
              							</div>
              							<b class="email-address1">Email address</b>
            						</div>
          					</div>
							  <input type="hidden" name="insurance_type" value="restaurant-insurance">
							</form>

        				</div>
        				<div class="protect-your-restaurant-with-r-parent">
          					<div class="protect-your-restaurant-container">
            						<p class="blank-line">Protect your restaurant with</p>
            						<p class="blank-line">
              							<b>Restaurant Insurance</b>
            						</p>
          					</div>
          					<div class="buttons">
            						<div class="buttons-child">
            						</div>
            						<b class="how-it-works">How it works</b>
          					</div>
          					<div class="protect-your-restaurant1">Protect your restaurant from property damage, equipment breakdown, client injuries and liquor liability claims with restaurant insurance.</div>
          					<div class="group-parent13">
            						<div class="trusted-by-over-10000-canadia-parent">
              							<div class="trusted-by-over-10000-canadia-parent">
                								<div class="trusted-by-over-container">
                  									<p class="blank-line">Trusted by over 10,000</p>
                  									<p class="blank-line">Canadian small businesses</p>
                								</div>
                								<img class="vector-icon1" alt="" src="/statics/img/Life_Insurance/Vector.svg">
                								
              							</div>
            						</div>
            						<div class="group-parent14">
              							<div class="save-up-to-35-on-your-insuran-wrapper">
                								<div class="save-up-to">Save up to 35% on your insurance</div>
              							</div>
              							<img class="flying-money-1-icon" alt="" src="/statics/img/Life_Insurance/flying_money 1.svg">
              							
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-container">
      			<!-- <img class="about-hero-background-icon2" alt="" src="about_hero_background.svg"> -->
      			
      			<div class="group-wrapper12">
        				<div class="group-parent15">
          					<div class="group-wrapper13">
            						<div class="common-insurance-claims-scenar-parent">
              							<b class="add-listing">Common insurance claims scenarios</b>
              							<div class="consider-these-real-world">Consider these real-world examples to understand just how vital restaurant insurance truly is:</div>
            						</div>
          					</div>
          					<div class="button-with-icon3" data-target="quote-target">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Insure your restaurant now!</b>
            						</div>
          					</div>
          					<div class="group-parent16">
            						<div class="icon-100-3-parent">
              							<img class="icon-100-3" alt="" src="/statics/img/Restaurant/delivery-insurance 1.svg">
              							
              							<div class="group-parent17">
                								<div class="you-run-a-take-out-restaurant-parent">
                  									<div class="you-run-a">You run a take-out restaurant. One of your delivery drivers accidentally knocks over a beautiful vase on your customer’s porch.</div>
                  									<b class="delivery-claim">Delivery Claim</b>
                								</div>
                								<div class="what-happens-next-the-custome-wrapper">
                  									<div class="what-happens-next-container">
                    										<p class="what-happens-next">What happens next?</p>
                    										<p class="blank-line">The customer sues your take-out restaurant for property damage, and their claim is successful. Thankfully, your commercial general liability insurance covers the cost of replacing the vase, equaling $2,000.</p>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="group-parent18">
              							<div class="group-parent19">
                								<div class="alcohol-induced-slip-and-fall-parent">
                  									<b class="add-listing">Alcohol-Induced Slip-and-Fall Claim</b>
                  									<div class="one-of-your">One of your bartenders overserves alcohol to a customer. As the customer stands up to leave, they fall and hurt their wrist.</div>
                								</div>
                								<img class="icon-100-3" alt="" src="/statics/img/Restaurant/alcohal-slip 1.svg">
                								
              							</div>
              							<div class="what-happens-next-your-custom-wrapper">
                								<div class="what-happens-next-container1">
                  									<p class="what-happens-next">What happens next?</p>
                  									<p class="blank-line">Your customer decides to sue for bodily injury and is successful. Fortunately, your liquor liability and commercial general liability insurance work together to cover the medical and legal fees, equaling $10,000.</p>
                								</div>
              							</div>
            						</div>
            						<div class="icon-100-2-parent">
              							<img class="icon-100-3" alt="" src="/statics/img/Restaurant/food 1.svg">
              							
              							<div class="group-parent20">
                								<div class="foodborne-illness-claim-parent">
                  									<b class="add-listing">Foodborne Illness Claim</b>
                  									<div class="a-customer-orders">A customer orders your highly acclaimed seafood dish. Your chef has served out-of-date seafood without realizing it, and your customer suffers from food poisoning.</div>
                								</div>
                								<div class="what-happens-next-your-custom-container">
                  									<div class="what-happens-next-container1">
                    										<p class="what-happens-next">What happens next?</p>
                    										<p class="blank-line">Your customer decides to sue your restaurant for bodily injury. Luckily, you purchased a product liability insurance policy that covers the legal and medical fees associated with the case.</p>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="restaurant-inner">
      			<div class="rectangle-parent13">
        				<div class="group-child15">
        				</div>
        				<div class="group-parent21">
          					<div class="group-parent22">
            						<div class="i-have-a-different-question-wrapper">
              							<div class="i-have-a">I have a different question</div>
            						</div>
            						<img class="arrow-left-s-line-icon" alt="" src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">
            						
          					</div>
          					<div class="frequently-asked-questions-parent">
            						<b class="add-listing">Frequently asked questions</b>
            						<div class="when-you-need-container">
              							<p class="blank-line">When you need help with insurance and claims,</p>
              							<p class="blank-line">it’s at the ready 24/7.</p>
            						</div>
          					</div>
          					<span class="group-parent23">
								<div class="new-group-parent26">
								  <div class="new-group-parent27">
									<div class="new-what-is-a-life-insurance-wrapper">
									  <b class="new-add-listing">How much does restaurant insurance in Canada cost?</b>
									  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
									</div>
								  </div>
								  <div class="new-rectangle-parent23 new-content">
									<div class="new-group-child29"></div>
									<div class="new-life-insurance-provides1"><p class="blank-line">The annual cost of business insurance for restaurants and bars varies greatly. Location plays a big role; insuring a downtown Montreal restaurant would be more expensive than insuring one in the suburbs considering the city is more congested and harder for fire departments to get to in the event of a fire, for example. Here are some other factors that determine the annual restaurant insurance price:</p>
										<ul class="claims-history-percentage-of-a">
											  <li class="claims-history">Claims history</li>
											  <li class="claims-history">Percentage of alcohol sales</li>
											  <li class="claims-history">Construction material of the building</li>
											  <li>Your deductible amount</li>
										</ul></div>
								  </div>
								</div>
								<div class="new-group-parent28">
								  <div class="new-group-parent27">
									<div class="new-group-parent29">
									  <div class="new-how-much-does-life-insurance-c-wrapper">
										<b class="new-add-listing"><p class="blank-line">What's covered on a restaurant business insurance </p>
											<p class="blank-line">policy?</p></b>
									  </div>
									  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
									</div>
								  </div>
								  <div class="new-rectangle-parent24 new-content">
									<div class="new-group-child30"></div>
									<div class="new-the-monthly-or"><p class="blank-line">Building – If your restaurant or bar owner is the building owner, you can purchase insurance that will cover it from fire, vandalism, water, earthquakes and more.</p>
										<ul class="claims-history-percentage-of-a">
											  <li class="claims-history">Betterments – Applicable to restaurants who are tenants.</li>
											  <li class="claims-history">Contents , Stocks</li>
											  <li class="claims-history">Equipment Breakdown</li>
											  <li class="claims-history">Business Interruption</li>
											  <li class="claims-history">Liability</li>
											  <li>Cyber Insurance</li>
										</ul></div>
								  </div>
								</div>
								<div class="new-group-parent30">
								  <div class="new-group-parent27">
									<div class="new-how-does-life-insurance-works-wrapper">
									  <b class="new-add-listing"><p class="blank-line">How do I lower the price of my restaurant insurance </p>
										<p class="blank-line">policy?</p></b>
									</div>
									<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
								  </div>
								  <div class="new-rectangle-parent25 new-content">
									<div class="new-group-child31"></div>
									<div class="new-with-b-insure-life"><ul class="claims-history-percentage-of-a">
										<li class="claims-history">Make sure your CO2 ducts are cleaned at least every 6 months.</li>
										<li class="claims-history">Keep your restaurant clean and floors dry so customers won’t slip and injure themselves.</li>
										<li class="claims-history">Put your cash vault in a secure location, ideally hidden away.</li>
										<li class="claims-history">Avoid making small claims.</li>
										<li>Increase your deductible. We suggest a deductible between $2,500 and $10,000, which will help keep your overall premiums down.</li>
								  </ul></div>
								  </div>
								</div>
								<div class="new-group-parent32">
								  <div class="new-group-parent27">
									<div class="new-what-type-of-life-insurance-i-wrapper">
									  <b class="new-what-type-of"><p class="blank-line">Does B-Insure offer restaurant insurance online </p>
										<p class="blank-line">quotes?</p></b>
									</div>
									<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
								  </div>
								  <div class="new-rectangle-parent26 new-content">
									<div class="new-group-child32"></div>
									<div class="new-with-b-insure-life"><p class="blank-line">Building – If your restaurant or bar owner is the building owner, you can purchase insurance that will cover it from fire, vandalism, water, earthquakes and more.</p>
										<ul class="claims-history-percentage-of-a">
											  <li class="claims-history">Betterments – Applicable to restaurants who are tenants.</li>
											  <li class="claims-history">Contents , Stocks</li>
											  <li class="claims-history">Equipment Breakdown</li>
											  <li class="claims-history">Business Interruption</li>
											  <li class="claims-history">Liability</li>
											  <li>Cyber Insurance</li>
										</ul></div>
								  </div>
								</div>
								
							  </span>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent18">
      			<div class="group-child20">
      			</div>
      			<img class="group-child21" alt="" src="/statics/img/life/Group 756.svg">
      			
      			<div class="group-wrapper15">
        				<div class="group-frame">
          					<div class="button-with-icon4">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Schedule a call</b>
            						</div>
          					</div>
          					<div class="group-wrapper16">
            						<div class="we-know-your-time-is-valuable-parent">
              							<div class="we-know-your-time-is-valuable-parent">
                								<div class="we-know-your">We know your time is valuable. Get your free quote, coverage, and certificate of insurance instantly.</div>
                								<b class="change-insurance-for">Need your Certificate of Insurance (COI) fast?</b>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<img class="group-child22" alt="" src="/statics/img/Life_Insurance/Group 757.svg">
      			
    		</div>
    		<div class="group-parent32">
      			<div class="partnerships-with-leading-cana-wrapper">
        				<div class="partnerships-with-leading-container">
          					<p class="blank-line">
            						<b>Partnerships with leading </b>
          					</p>
          					<p class="blank-line">Canadian Insurance Providers</p>
        				</div>
      			</div>
      			<div class="frame-parent">
					<div class="frame-parent-inner">
						<div class="image-11-wrapper">
							  <img class="image-11-icon" alt="" src="/statics/img/image 11.png">
							  
						</div>
						<div class="image-8-wrapper">
							  <img class="image-8-icon" alt="" src="/statics/img/image 8.png">
							  
						</div>
						<div class="image-12-wrapper">
							  <img class="image-12-icon" alt="" src="/statics/img/image 12.png">
							  
						</div>
						<div class="image-9-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
						<img class="frame-child" alt="" src="/statics/img/image 11.png">
						
						<img class="frame-item" alt="" src="/statics/img/image 8.png">
						
						<img class="frame-inner" alt="" src="/statics/img/image 12.png">
						
						<div class="image-16-wrapper">
							  <img class="image-16-icon" alt="" src="/statics/img/image 10.png">
							  
						</div>
						<div class="image-13-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
					</div>
      			</div>
    		</div>
    		<div class="rectangle-parent19">
      			<div class="group-child23">
      			</div>
      			<div class="group-wrapper18">
        				<div class="container">
          					<img class="icon" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<img class="icon1" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<div class="group-parent33">
            						<div class="group-parent34">
              							<div class="group-wrapper19">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-parent">
                      											<div class="line-div">
                      											</div>
                      											<b class="palakas-fotini">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper20">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-group">
                      											<div class="line-div">
                      											</div>
                      											<b class="palakas-fotini">Dirk Michon</b>
                    										</div>
                    										<img class="testimonial-card-item" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper21">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-container">
                      											<div class="line-div">
                      											</div>
                      											<b class="palakas-fotini">Derpina Wickers</b>
                    										</div>
                    										<img class="testimonial-card-inner" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="testimonial-card-wrapper">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="frame-div">
                    										</div>
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">“Great service, very easy and well explained procedures and information needed for insurance. Greg was great to work with, and had excellent communication skills. 10/10 recommend.”</div>
                    										<div class="line-parent">
                      											<div class="line-div">
                      											</div>
                      											<b class="palakas-fotini">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child1" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="frame-wrapper">
              							<div class="frame-group">
                								<div class="what-people-say-wrapper">
                  									<b class="what-people-say">What people say</b>
                								</div>
                								<div class="our-customer-are-container">
                  									<p class="blank-line">Our customer are our top priority</p>
                  									<p class="blank-line">Let’s hear what they have to say.</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="b-insure-variants">
      			<div class="b-insure-variants-child">
      			</div>
      			<div class="b-insure-variants-item">
      			</div>
      			<div class="group-parent35">
        				<div class="group-frame">
          					<img class="image-35-icon" alt="" src="/statics/img/Life_Insurance/image 35.svg">
          					
          					<div class="group-child24">
          					</div>
        				</div>
        				<img class="bi-icon1" alt="" src="/statics/img/Life_Insurance/Bi.svg
                        ">
        				
      			</div>
      			<div class="frame-container">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				  </div>
				  <div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							  <div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							  </div>
						</div>
				  </div>
				  <div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							  <div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							  </div>
						</div>
				  </div>
				  <div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				  </div>
				  <div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							  <div class="line1"><b>Contact us</b></div>
							  <div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							  <div class="line1"><b>About us</b></div>
							  <div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							  <div class="line1"><b>How it works</b></div>
							  <div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							  <div class="line1"><b>FAQs</b></div>
							  <div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							  <div class="line1"><b>Blog</b></div>
							  <div class="line2">Insurance Knowledge Resource</div>
						</div>
				  </div>
				  </div>
        				<div class="button-with-icon5" data-target="quote-target">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a Quote</b>
          					</div>
        				</div>
        				<div class="group-child25">
        				</div>
        				<img class="search-line-icon" alt="" src="/statics/img/Life_Insurance/search-line.svg">
        				
      			</div>
      			<b class="binsure">BINSURE</b>
    		</div>
    		<img class="online-experience-1-1-icon" alt="" src="/statics/img/Warehouse/icon_100 1.svg">
    		
    		<img class="online-support-1-icon" alt="" src="/statics/img/Warehouse/online-support 1.svg">
    		
    		<img class="fully-transparent-1-icon" alt="" src="/statics/img/Warehouse/fully-transparent 1.svg">
    		
  	</div>
  	
  	
</div>
  	
  	<script src="statics/js/ff.js">
    		</script></body>
</html>