<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="statics/css/sitemap.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
	<div class="sitee">
  	
  	<div class="sitemap-template">
    		<img class="close-line-icon" alt="" src="/statics/img/header/close-line.svg">
    		
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<img class="image-2-icon" alt="" src="image 2.png">
    		
    		<img class="background-simple-icon" alt="" src="Background_Simple.svg">
    		
    		<div class="rectangle-parent">
      			<div class="group-child">
      			</div>
      			<div class="button-with-icon-parent">
        				<div class="button-with-icon">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a free quote</b>
          					</div>
        				</div>
        				<div class="button-with-icon1">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Become a partner</b>
          					</div>
        				</div>
        				<div class="group-wrapper">
          					<div class="group-container">
            						<div class="group-container">
              							<div class="join-the-team">Join the team that is making health insurance simple, transparent, and human.</div>
              							<b class="change-insurance-for">Change insurance for good</b>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="group-parent">
      			<div class="home-about-us-contact-us-how-i-parent">
        				<div class="home-about-us-container">
          					<p class="home">Home</p>
          					<p class="home">About us</p>
          					<p class="home">Contact us</p>
          					<p class="home">How it worksFAQs</p>
          					<p class="home">Blog</p>
          					<p class="home">Terms of Use</p>
          					<p class="home">Privacy Policy</p>
        				</div>
        				<div class="insurance-life-insurance-container">
          					<p class="home">
            						<b>Insurance</b>
          					</p>
          					<p class="life-insurance">Life Insurance</p>
          					<p class="life-insurance">Commercial insurance</p>
          					<p class="life-insurance">Auto Insurance</p>
          					<p class="life-insurance">Home Insurance</p>
          					<p class="life-insurance">Travel Insurance</p>
        				</div>
        				<b class="commercial">
          					<p class="home">Commercial</p>
          					<p class="home">...</p>
        				</b>
        				<div class="support-contact-us-container">
          					<p class="home">
            						<b>Support</b>
          					</p>
          					<p class="life-insurance">Contact us</p>
          					<p class="life-insurance">About us</p>
          					<p class="life-insurance">How it works</p>
          					<p class="life-insurance">FAQs</p>
          					<p class="life-insurance">Blog</p>
        				</div>
      			</div>
      			<div class="navigate-your-way">Navigate your way around the website</div>
      			<div class="group-item">
      			</div>
    		</div>
    		<div class="b-insure-variantsfooter">
      			<div class="b-insure-variantsfooter-child">
      			</div>
      			<div class="group-div">
        				<div class="group-frame">
          					<div class="image-35-parent">
            						<div class="image-35-parent">
              							<div class="image-35-parent">
                								<img class="image-35-icon" alt="" src="/statics/img/header/image 35.png" id="footer-icon">
                								
                								<div class="group-inner">
                								</div>
              							</div>
              							<img class="bi-icon" alt="" src="/statics/img/header/Bi.svg">
              							
            						</div>
          					</div>
        				</div>
        				<div class="po-box-9999-container">
          					<p class="home">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
          					<p class="home">&nbsp;</p>
          					<p class="home">999-888-0000 . </p>
          					<p class="home">care@binsure.ca</p>
        				</div>
      			</div>
      			<div class="b-insure-variantsfooter-item">
      			</div>
      			<div class="quick-links-parent">
        				<b class="quick-links">Quick links</b>
        				<div class="sitemap" id="sitemapText">Sitemap</div>
        				<div class="careers" id="careersText">Careers</div>
        				<div class="contact-us2" id="contactUsText">Contact us</div>
        				<div class="blog2">Blog</div>
        				<div class="faqs1">FAQs</div>
        				<div class="about">About</div>
      			</div>
      			<div class="terms-of-use-parent">
        				<div class="terms-of-use1" id="termsOfUse">Terms of use</div>
        				<div class="privacy-policy1" id="privacyPolicyText">Privacy Policy</div>
        				<div class="cookie-policy" id="cookiePolicyText">Cookie policy</div>
        				<b class="quick-links">Legal</b>
      			</div>
      			<div class="copyright-2024">Copyright © 2024  Inc. All rights reserved.</div>
      			<img class="b-insure-variantsfooter-inner" alt="" src="/statics/img/why/footer/Group 536.svg">
      			
    		</div>
    		<div class="infobar">
      			<div class="infobar-child">
      			</div>
      			<img class="close-line-icon1" alt="" src="/statics/img/header/close-line.svg">
      			
      			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
    		</div>
    		<div class="about-hero-background-parent">
      			<div class="about-hero-background">
      			</div>
      			<div class="about-hero-heading">
        				<b class="add-listing" id="site-icon">Sitemap</b>
      			</div>
    		</div>
    		<div class="b-insure-variants">
      			<div class="b-insure-variants-child">
      			</div>
      			<div class="b-insure-variants-item">
      			</div>
      			<div class="group-parent2">
        				<div class="image-35-parent">
          					<img class="image-35-icon" alt="" src="/statics/img/header/image 35.png">
          					
          					<div class="rectangle-div">
          					</div>
        				</div>
        				<img class="bi-icon1" alt="" src="/statics/img/header/Bi.svg">
        				
      			</div>
      			<div class="frame-parent">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				  </div>
				  <div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							  <div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							  </div>
						</div>
				  </div>
				  <div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							  <div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							  </div>
						</div>
				  </div>
				  <div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				  </div>
				  <div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							  <div class="line1"><b>Contact us</b></div>
							  <div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							  <div class="line1"><b>About us</b></div>
							  <div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							  <div class="line1"><b>How it works</b></div>
							  <div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							  <div class="line1"><b>FAQs</b></div>
							  <div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							  <div class="line1"><b>Blog</b></div>
							  <div class="line2">Insurance Knowledge Resource</div>
						</div>
				  </div>
				  </div>
        				<div class="button-with-icon2">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a Quote</b>
          					</div>
        				</div>
        				<div class="line-div">
        				</div>
        				<img class="search-line-icon" alt="" src="/statics/img/header/search-line.svg">
        				
      			</div>
      			<b class="binsure">BINSURE</b>
    		</div>
  	</div>
  	
</div>
  	
  	
  	
  	<script src="statics/js/ff.js"></script>
	</body>
</html>