<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="statics/css/Travel_Insurance.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
	<div class="travel">
  	
  	<div class="travel-insurance">
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<img class="image-2-icon" alt="" src="image 2.png">
    		
    		<img class="close-line-icon" alt="" src="/statics/img/home/nav/close-line.svg">
    		
    		<img class="image-1-icon1" alt="" src="image 1.png">
    		
    		<img class="image-2-icon1" alt="" src="image 2.png">
    		
    		<div class="about-hero-background-parent">
      			<div class="about-hero-background">
      			</div>
      			<div class="group-wrapper">
        				<div class="group-container">
          					<div class="group-container">
            						<div class="group-container">
              							<div class="rectangle-parent">
                								<div class="group-child">
                								</div>
                								<div class="i-agree-to-container" id="header-content">
                  									<p class="i-agree-to-terms-of-use-and-pr">I agree to
                    										<span class="terms-of-use">terms of use</span> and
                    										<span class="terms-of-use">privacy policy</span> when getting
                  									</p>
                  									<p class="i-agree-to-terms-of-use-and-pr">a free quote from </p>
                								</div>
                								<div class="group-div">
                  									<div class="group-wrapper1">
                    										<div class="rectangle-group">
                      											<div class="rectangle-group">
                        												<div class="group-item">
                        												</div>
                        												<b class="get-a-free">Get a Free quote</b>
                      											</div>
                    										</div>
                  									</div>
                  									<div class="your-name-parent">
                    										<b class="your-name">Your name</b>
                    										<div class="rectangle-container">
                      											<div class="group-inner" >
                      											</div>
                      											<div class="your-name1">Your name</div>
                    										</div>
                  									</div>
                  									<div class="contact-number-parent">
                    										<b class="your-name">
                      											<span>Contact number</span>
                      											<span class="span"> *</span>
                    										</b>
                    										<div class="group-parent1" >
                      											<div class="image-35-parent">
                        												<div class="group-inner" id="nambar">
                        												
                        												<div class="contact-number"	id="cont">Contact number</div>
																	</div>
                      											</div>
                      											<div class="parent">
                        												<div class="div">+40</div>
                        												<img class="arrow-up-s-line-icon" alt="" src="/statics/img/Travel_Insurance/Vector2.svg">
                        												
                      											</div>
                    										</div>
                  									</div>
                  									<div class="group-parent2">
                    										<div class="rectangle-parent2">
                      											<div class="group-inner">
                      											</div>
                      											<img class="arrow-up-s-line-icon1" alt="" src="/statics/img/Travel_Insurance/Vector2.svg">
                      											
                      											<div class="weeks">1-2 Weeks</div>
                    										</div>
                    										<b class="planning-to-buy">Planning to buy </b>
                  									</div>
                  									<div class="group-parent3">
                    										<div class="rectangle-parent3">
                      											<div class="group-inner">
                      											</div>
                      											<div class="email-address">Email address</div>
                    										</div>
                    										<b class="planning-to-buy">Email address</b>
                  									</div>
                								</div>
              							</div>
              							<div class="buttons-parent">
                								<div class="buttons">
                  									<div class="buttons-child">
                  									</div>
                  									<b class="how-it-works">How It Works</b>
                								</div>
                								<div class="enjoy-safer-travel-container">
                  									<p class="i-agree-to-terms-of-use-and-pr">Enjoy Safer Travel with</p>
                  									<p class="i-agree-to-terms-of-use-and-pr">
                    										<b>Travel Insurance?</b>
                  									</p>
                								</div>
                								<div class="the-last-thing">The last thing you want when travelling is to have a medical emergency. However, before you dive into your adventure, there's a crucial detail to address: securing your travel insurance. </div>
                								<div class="group-parent4">
                  									<div class="trusted-by-over-10000-canadia-parent">
                    										<div class="trusted-by-over-10000-canadia-parent">
                      											<div class="trusted-by-over-container">
                        												<p class="i-agree-to-terms-of-use-and-pr">Trusted by over 10,000</p>
                        												<p class="i-agree-to-terms-of-use-and-pr">Canadian small businesses</p>
                      											</div>
                      											<img class="vector-icon" alt="" src="/statics/img/Life_Insurance/Vector.svg">
                      											
                    										</div>
                  									</div>
                  									<div class="group-parent5">
                    										<div class="save-up-to-35-on-your-insuran-wrapper">
                      											<div class="save-up-to">Save up to 35% on your insurance</div>
                    										</div>
                    										<img class="flying-money-1-icon" alt="" src="/statics/img/Life_Insurance/flying_money 1.svg">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="group-parent6">
      			<div class="get-instant-travel-insurance-q-wrapper">
        				<div class="get-instant-travel-container">
          					<p class="i-agree-to-terms-of-use-and-pr">
            						<b>Get instant travel insurance quotes</b>
          					</p>
          					<p class="i-agree-to-terms-of-use-and-pr">from 20 of Canada's Top Insurers</p>
        				</div>
      			</div>
      			<div class="frame-parent">
					<div class="frame-parent-inner">
						<div class="image-11-wrapper">
							  <img class="image-11-icon" alt="" src="/statics/img/image 11.png">
							  
						</div>
						<div class="image-8-wrapper">
							  <img class="image-8-icon" alt="" src="/statics/img/image 8.png">
							  
						</div>
						<div class="image-12-wrapper">
							  <img class="image-12-icon" alt="" src="/statics/img/image 12.png">
							  
						</div>
						<div class="image-9-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
						<img class="frame-child" alt="" src="/statics/img/image 11.png">
						
						<img class="frame-item" alt="" src="/statics/img/image 8.png">
						
						<img class="frame-inner" alt="" src="/statics/img/image 12.png">
						
						<div class="image-16-wrapper">
							  <img class="image-16-icon" alt="" src="/statics/img/image 10.png">
							  
						</div>
						<div class="image-13-wrapper">
							  <img class="image-9-icon" alt="" src="/statics/img/image 9.png">
							  
						</div>
					</div>
      			</div>
    		</div>
    		<div class="infobar">
      			<div class="infobar-child">
      			</div>
      			<img class="close-line-icon1" alt="" src="/statics/img/home/nav/close-line.svg">
      			
      			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
    		</div>
    		<div class="b-insure-variants">
      			<div class="b-insure-variants-child">
      			</div>
      			<div class="b-insure-variants-item">
      			</div>
      			<div class="group-parent7">
        				<div class="image-35-parent">
          					<img class="image-35-icon" alt="" src="/statics/img/Travel_Insurance/image 35.svg" id="logo">
          					
          					<div class="group-child3">
          					</div>
        				</div>
        				<img class="bi-icon" alt="" src="/statics/img/Life_Insurance/Bi.svg">
        				
      			</div>
      			<!-- <div class="frame-group">
        				<div class="home-wrapper" id="frameContainer">
          					<b class="home">Home</b>
        				</div>
        				<div class="individual-wrapper">
          					<div class="home">Individual</div>
        				</div>
        				<div class="commercial-wrapper">
          					<div class="home">Commercial</div>
        				</div>
        				<div class="travel-wrapper" id="frameContainer3">
          					<div class="home">Travel</div>
        				</div>
        				<div class="support-wrapper">
          					<div class="home">Support</div>
        				</div>
        				<div class="button-with-icon">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a Quote</b>
          					</div>
        				</div>
        				<div class="line-div">
        				</div>
        				<img class="search-line-icon" alt="" src="/statics/img/Life_Insurance/search-line.svg">
        				
      			</div> -->
				  <div class="frame-group">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				  </div>
				  <div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							  <div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							  </div>
						</div>
				  </div>
				  <div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							  <div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							  </div>
						</div>
				  </div>
				  <div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				  </div>
				  <div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							  <div class="line1"><b>Contact us</b></div>
							  <div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							  <div class="line1"><b>About us</b></div>
							  <div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							  <div class="line1"><b>How it works</b></div>
							  <div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							  <div class="line1"><b>FAQs</b></div>
							  <div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							  <div class="line1"><b>Blog</b></div>
							  <div class="line2">Insurance Knowledge Resource</div>
						</div>
				  </div>
				  </div>
					<div class="button-with-icon">
						  <div class="add-listing-wrapper">
								<b class="add-listing">Get a Quote</b>
						  </div>
					</div>
					<div class="group-ite">
					</div>
					<img class="search-line-icon" alt="" src="/statics/img/home/nav/search-line.svg">
					
		</div>
      			<b class="binsure">BINSURE</b>
    		</div>
    		<div class="rectangle-parent4">
      			<div class="group-child4">
      			</div>
      			<img class="group-icon" alt="" src="/statics/img/contact/Group 756.png">
      			
      			<div class="group-wrapper4">
        				<div class="image-35-parent">
          					<div class="button-with-icon1">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Schedule a call</b>
            						</div>
          					</div>
          					<div class="group-wrapper5">
            						<div class="chat-with-our-licensed-advisor-parent">
              							<div class="chat-with-our-licensed-advisor-parent">
                								<div class="chat-with-our">Chat with our licensed advisors right away, or book some time with them.</div>
                								<b class="need-insurance-answers">Need Insurance answers</b>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<img class="group-child5" alt="" src="/statics/img/Life_Insurance/Group 757.svg">
      			
    		</div>
    		<div class="rectangle-parent5">
      			<div class="group-child6">
      			</div>
      			<div class="group-wrapper7">
        				<div class="group">
          					<img class="icon" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<img class="icon1" alt="" src="/statics/img/Life_Insurance/dot.svg">
          					
          					<div class="group-parent8">
            						<div class="group-parent9">
              							<div class="group-wrapper8">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-parent">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper9">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-group">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Dirk Michon</b>
                    										</div>
                    										<img class="testimonial-card-item" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="group-wrapper10">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">Greg is always making sure all my insurance needs are covered. Excellent service and very responsive.. thanks again!</div>
                    										<div class="line-container">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Derpina Wickers</b>
                    										</div>
                    										<img class="testimonial-card-inner" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
              							<div class="testimonial-card-wrapper">
                								<div class="testimonial-card-wrapper">
                  									<div class="testimonial-card">
                    										<div class="frame-div">
                    										</div>
                    										<div class="logo-2">
                    										</div>
                    										<div class="best-product-ever">“Great service, very easy and well explained procedures and information needed for insurance. Greg was great to work with, and had excellent communication skills. 10/10 recommend.”</div>
                    										<div class="line-parent">
                      											<div class="frame-child1">
                      											</div>
                      											<b class="home">Palakas Fotini</b>
                    										</div>
                    										<img class="testimonial-card-child1" alt="" src="/statics/img/Life_Insurance/Group 871.svg">
                    										
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="frame-wrapper">
              							<div class="frame-container">
                								<div class="what-people-say-wrapper">
                  									<b class="what-people-say">What people say</b>
                								</div>
                								<div class="our-customer-are-container">
                  									<p class="i-agree-to-terms-of-use-and-pr">Our customer are our top priority</p>
                  									<p class="i-agree-to-terms-of-use-and-pr">Let’s hear what they have to say.</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-group">
      			<img class="about-hero-background-icon" alt="" src="/statics/img/about_hero_background.png">
      			
      			<div class="group-parent10">
        				<div class="group-wrapper12">
          					<div class="travel-insurance-coverages-parent">
            						<div class="travel-insurance-coverages-parent">
              							<div class="travel-insurance-coverages-parent">
                								<b class="travel-insurance-coverages">Travel Insurance coverages </b>
                								<div class="travel-insurance-provides-container">
                  									<p class="i-agree-to-terms-of-use-and-pr">Travel insurance provides peace of mind in the event of medical and </p>
                  									<p class="i-agree-to-terms-of-use-and-pr">monetary situations to make your travel safer and smarter.</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="group-parent11">
          					<div class="group-parent12">
            						<div class="rectangle-parent6">
              							<div class="group-child7">
              							</div>
              							<img class="icon-100-1" alt="" src="/statics/img/Travel_Insurance/insurance 1.svg">
              							
              							<b class="complete-medical-coverage-container">
                								<p class="i-agree-to-terms-of-use-and-pr">Complete Medical </p>
                								<p class="i-agree-to-terms-of-use-and-pr">Coverage</p>
              							</b>
              							<div class="the-top-priority">The top priority is making sure your health is in order. With  Travel Protection, you can have access to quality healthcare during your trip overseas in the event of unexpected medical emergencies.  </div>
            						</div>
            						<div class="rectangle-parent7">
              							<div class="group-child7">
              							</div>
              							<img class="icon-100-11" alt="" src="/statics/img/Travel_Insurance/icon_100 1.svg">
              							
              							<b class="trip-cancellation-container">
                								<p class="i-agree-to-terms-of-use-and-pr">Trip Cancellation & </p>
                								<p class="i-agree-to-terms-of-use-and-pr">Interruptions</p>
              							</b>
              							<div class="assistance-against-unexpected">Assistance against unexpected trip disruptions can dampen the mood, Insurer Travel Protection offers coverage against unforeseen events. </div>
            						</div>
            						<div class="rectangle-parent8">
              							<div class="group-child7">
              							</div>
              							<img class="icon-100-11" alt="" src="/statics/img/Travel_Insurance/sos.svg">
              							
              							<b class="emergency-evacuations-container">
                								<p class="i-agree-to-terms-of-use-and-pr">Emergency Evacuations & </p>
                								<p class="i-agree-to-terms-of-use-and-pr">Repatriation</p>
              							</b>
              							<div class="assistance-against-unexpected">
                								<p class="i-agree-to-terms-of-use-and-pr">In situations where transportation is dire, Travel Protection offers provisions for emergency </p>
                								<p class="i-agree-to-terms-of-use-and-pr">evacuation and repatriation. </p>
              							</div>
            						</div>
          					</div>
          					<div class="group-wrapper15">
            						<div class="rectangle-parent9">
              							<div class="group-child10">
              							</div>
              							<img class="icon-100-13" alt="" src="/statics/img/Travel_Insurance/icon_100 2.svg">
              							
              							<b class="coverage-for-personal-container">
                								<p class="i-agree-to-terms-of-use-and-pr">Coverage for Personal </p>
                								<p class="i-agree-to-terms-of-use-and-pr">Belongings</p>
              							</b>
              							<div class="offers-coverage-for">Offers coverage for your belongings with assistance against lost or delayed baggage. </div>
            						</div>
          					</div>
          					<div class="group-wrapper16">
            						<div class="rectangle-parent9">
              							<div class="group-child10">
              							</div>
              							<img class="icon-100-13" alt="" src="/statics/img/Travel_Insurance/cancel.svg">
              							
              							<b class="coverage-for-personal-container">
                								<p class="i-agree-to-terms-of-use-and-pr">Optional Cancel for Any </p>
                								<p class="i-agree-to-terms-of-use-and-pr">Reason</p>
              							</b>
              							<div class="offers-coverage-for">For added flexibility, our insurers offers optional Cancel for Any Reason coverage, allowing you to cancel your trip for non-traditional reasons.  Exclusive to Premium Plan holders. </div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="group-parent13">
      			<div class="rectangle-parent11">
        				<div class="group-child12">
        				</div>
        				<div class="feature-2">
        				</div>
      			</div>
      			<div class="group-wrapper17">
        				<div class="travel-insurance-for-travelers-parent">
          					<b class="add-listing">Travel Insurance for Travelers</b>
          					<div class="the-last-thing-container">
            						<p class="i-agree-to-terms-of-use-and-pr">The last thing you want when travelling is to have a medical emergency. From unexpected medical bills to language barriers and figuring out how you’ll get home, falling ill while travelling can bring unwanted stress to a vacation. Our travel insurers helps provide support needed if a covered emergency occurs when you're away from home.</p>
            						<p class="i-agree-to-terms-of-use-and-pr">&nbsp;</p>
            						<p class="i-agree-to-terms-of-use-and-pr"> It's also worth checking if your visa, entry requirements, or tour operator call for extra coverage. </p>
            						<p class="i-agree-to-terms-of-use-and-pr">&nbsp;</p>
            						<p class="i-agree-to-terms-of-use-and-pr">
              							<b>Why? There are several reasons: </b>
            						</p>
            						<ol class="medical-emergencies-your-heal">
              							<li class="lost-baggage-airlines-sometim">
                								<b>Medical Emergencies: </b>
                								<span>Your health is a top priority. If you face a sudden illness or injury in Canada, travel insurance offers the means to receive prompt and quality medical care.   </span>
              							</li>
              							<li class="lost-baggage-airlines-sometim">
                								<b class="lost-baggage">Lost Baggage:</b>
                								<span class="lost-baggage"> Airlines sometimes mishandle baggage, and the last thing you want is to be without essentials in an unfamiliar place. Travel insurance offers to cover the cost of replacing necessary items, allowing you to continue on. </span>
                								<b class="lost-baggage"> </b>
              							</li>
              							<li class="lost-baggage-airlines-sometim">
                								<b class="lost-baggage">Flight Delays:</b>
                								<span class="lost-baggage"> Travel disruptions like flight delays can happen. If you miss a connecting flight or incur additional expenses due to delays, travel insurance can help cover the costs. </span>
              							</li>
            						</ol>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="about-hero-background-container">
      			<img class="about-hero-background-icon1" alt="" src="/statics/img/about_hero_background.svg">
      			
      			<div class="group-parent14">
        				<div class="group-wrapper18">
          					<div class="why-choose-parent">
            						<div class="why-choose-parent">
              							<div class="why-choose-parent">
                								<b class="why-choose">Why Choose </b>
                								<div class="we-help-visiting">We help visiting tourists and Canadian individuals  save time and money by providing a convenient and affordable way to buy travel insurance</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="group-parent15">
          					<div class="rectangle-parent12">
            						<div class="group-child13">
            						</div>
            						<img class="icon-100-15" alt="" src="/statics/img/Travel_Insurance/icon_100 3.svg">
            						
            						<div class="partnered-with-top-container">
              							<p class="i-agree-to-terms-of-use-and-pr">Partnered with top tier</p>
              							<p class="i-agree-to-terms-of-use-and-pr">insurance provider</p>
            						</div>
            						<div class="purchase-your-insurance">Purchase your insurance anytime, anywhere, with our easy-to-use online platform.</div>
          					</div>
          					<div class="rectangle-parent13">
            						<div class="group-child13">
            						</div>
            						<img class="icon-100-16" alt="" src="/statics/img/Travel_Insurance/icon_100 4.svg">
            						
            						<div class="benefits-and-scenarios">Benefits and scenarios ensured</div>
            						<div class="compare-rates-across">Compare rates across leading insurance companies to ensure you get the best price on your premium.</div>
          					</div>
          					<div class="rectangle-parent14">
            						<div class="group-child13">
            						</div>
            						<img class="icon-100-16" alt="" src="/statics/img/Travel_Insurance/icon_100 5.svg">
            						
            						<div class="benefits-and-scenarios">Scope covered</div>
            						<div class="compare-rates-across">We use data and analytics to identify the right insurance policies for your needs.</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="travel-insurance-inner">
      			<div class="about-hero-background-parent1">
        				<img class="about-hero-background-parent1" alt="" src="/statics/img/about_hero_background.svg">
        				
        				<div class="group-parent16">
          					<div class="group-wrapper21">
            						<div class="key-benefits-parent">
              							<div class="key-benefits-parent">
                								<div class="key-benefits-parent">
                  									<b class="key-benefits"> Key Benefits</b>
                  									<div class="we-help-canada-container">
                    										<p class="i-agree-to-terms-of-use-and-pr">We help Canada small business owners save time and money by providing</p>
                    										<p class="i-agree-to-terms-of-use-and-pr">a convenient and affordable way to buy business insurance</p>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="group-parent17">
            						<div class="rectangle-parent15">
              							<div class="group-child16">
              							</div>
              							<img class="icon-100-18" alt="" src="/statics/img/Travel_Insurance/icon_100 6.svg">
              							
              							<b class="medical-coverage-for-container">
                								<p class="i-agree-to-terms-of-use-and-pr">Medical coverage for up </p>
                								<p class="i-agree-to-terms-of-use-and-pr">to $5,000,000 </p>
              							</b>
              							<div class="per-person-for">per person, for up to 30 days, as a result of required medical attention during a trip covered outside their province of residence.</div>
            						</div>
            						<div class="rectangle-parent16">
              							<div class="group-child16">
              							</div>
              							<img class="icon-100-19" alt="" src="/statics/img/Travel_Insurance/icon_100 7.svg">
              							
              							<b class="baggage-loss-and-container">
                								<p class="i-agree-to-terms-of-use-and-pr">Baggage loss and</p>
                								<p class="i-agree-to-terms-of-use-and-pr">Damage</p>
              							</b>
              							<div class="if-your-bags">If your bags are damaged, lost or delayed during your trip,  coverage provided, so that you can continue travelling as planned.</div>
            						</div>
            						<div class="rectangle-parent17">
              							<div class="group-child16">
              							</div>
              							<img class="icon-100-19" alt="" src="/statics/img/Travel_Insurance/icon_100 8.svg">
              							
              							<b class="trip-interruptions-or-container">
                								<p class="i-agree-to-terms-of-use-and-pr">Trip Interruptions or</p>
                								<p class="i-agree-to-terms-of-use-and-pr">Cancellations</p>
              							</b>
              							<div class="if-your-trip">If your trip is cancelled due to an insured risk, eligible expenses incurred will be covered. This protection can provide financial protection and coverage for unanticipated expenses.</div>
            						</div>
            						<div class="rectangle-parent18">
              							<div class="group-child16">
              							</div>
              							<img class="icon-100-19" alt="" src="/statics/img/Travel_Insurance/icon_100 9.svg">
              							
              							<b class="additional-services">Additional Services</b>
              							<div class="benefit-from-additional">Benefit from additional services, available 24/7, wherever you are, through the B-Insure assisted channels</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="rectangle-parent19">
      			<div class="group-child20">
      			</div>
      			<div class="group-parent18">
        				<div class="group-parent19">
          					<div class="group-parent20">
            						<div class="i-have-a-different-question-wrapper">
              							<div class="i-have-a">I have a different question</div>
            						</div>
            						<img class="arrow-left-s-line-icon" alt="" src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">
            						
          					</div>
          					<div class="frequently-asked-questions-parent">
            						<b class="add-listing">Frequently asked questions</b>
            						<div class="when-you-need-container">
              							<p class="i-agree-to-terms-of-use-and-pr">When you need help with insurance and claims,</p>
              							<p class="i-agree-to-terms-of-use-and-pr">it’s at the ready 24/7.</p>
            						</div>
          					</div>
        				</div>
						<span class="group-parent21">
							<div class="new-group-parent26">
							  <div class="new-group-parent27">
								<div class="new-what-is-a-life-insurance-wrapper">
								  <b class="new-add-listing">What is travel insurance?</b>
								  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
								</div>
							  </div>
							  <div class="new-rectangle-parent23 new-content">
								<div class="new-group-child29"></div>
								<div class="new-life-insurance-provides1">Travel insurance is coverage designed to protect against risks and financial losses that could happen while traveling. The risks range from minor inconveniences such as delayed or lost bags and trip cancellations, to medical emergencies while outside your province of residence or Canada.</div>
							  </div>
							</div>
							<div class="new-group-parent28">
							  <div class="new-group-parent27">
								<div class="new-group-parent29">
								  <div class="new-how-much-does-life-insurance-c-wrapper">
									<b class="new-add-listing">What is not covered by travel insurance?</b>
								  </div>
								  <img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
								</div>
							  </div>
							  <div class="new-rectangle-parent24 new-content">
								<div class="new-group-child30"></div>
								<div class="new-the-monthly-or"><ul class="some-insurers-does-not-cover-s">
									<li>Some insurers does not cover such expenses as routine health checkups, non-emergency care, and cosmetic surgeries. Certain limitations and exclusions apply depending on where you are travelling or if you have a pre-existing medical condition. Please refer to your policy for a complete description of coverage and exclusions and talk to your broker if you have any questions.</li>
							  </ul></div>
							  </div>
							</div>
							<div class="new-group-parent30">
							  <div class="new-group-parent27">
								<div class="new-how-does-life-insurance-works-wrapper">
								  <b class="new-add-listing">What should I look for in travel insurance?</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent25 new-content">
								<div class="new-group-child31"></div>
								<div class="new-with-b-insure-life"><p class="i-agree-to-terms-of-use-and-pr">When looking into getting travel insurance, consider getting the most comprehensive coverage, including the following:</p>
									<ul class="some-insurers-does-not-cover-s">
										  <li class="lost-baggage-airlines-sometim">Medical coverage</li>
										  <li class="lost-baggage-airlines-sometim">Medical coverage for pre-existing medical conditions</li>
										  <li class="lost-baggage-airlines-sometim">Coverage for delayed, lost or damaged luggage</li>
										  <li class="lost-baggage-airlines-sometim">Travel assistance while abroad</li>
										  <li class="lost-baggage-airlines-sometim">Repatriation in case of death</li>
									</ul>
									<p class="i-agree-to-terms-of-use-and-pr">Reach out to your broker to discuss your needs and to get more details about the coverage provided by your insurer.</p></div>
							  </div>
							</div>
							<div class="new-group-parent32">
							  <div class="new-group-parent27">
								<div class="new-what-type-of-life-insurance-i-wrapper">
								  <b class="new-what-type-of">Is a pickup truck considered a commercial vehicle?</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent26 new-content">
								<div class="new-group-child32"></div>
								<div class="new-with-b-insure-life">In general, most provinces consider pickup trucks to be commercial motor vehicles if they are used for commercial or business purposes. However, check with your provincial transportation ministry to determine if your pickup truck is classified as a commercial vehicle.</div>
							  </div>
							</div>
							<div class="new-group-parent34">
							  <div class="new-group-parent27">
								<div class="new-what-type-of-life-insurance-i-wrapper">
								  <b class="new-what-type-of">Does applying for travel insurance need a medical record check?</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent27 new-content">
								<div class="new-group-child33"></div>
								<div class="new-with-b-insure-life"><p class="i-agree-to-terms-of-use-and-pr">When you apply to get travel insurance, your broker will ask you if you have any pre-existing conditions. Having a pre-existing condition does not mean that you cannot be covered, however, it could limit your coverage for medical emergencies if your condition in not stable. </p>
									<p class="i-agree-to-terms-of-use-and-pr">&nbsp;</p>
									<p class="i-agree-to-terms-of-use-and-pr">In fact, before leaving on a trip, your condition must be stable based on a series of factors defined in a stability clause in order to be covered. If you have a pre-existing condition and if you have any questions, let your broker know.</p></div>
							  </div>
							</div>
		
							<div class="new-group-parent38">
							  <div class="new-group-parent27">
								<div class="new-what-type-of-life-insurance-i-wrapper">
								  <b class="new-what-type-of">How much does Travel Insurance cost for Canada? ?</b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent29 new-content">
								<div class="new-group-child35"></div>
								<div class="new-with-b-insure-life"><p class="i-agree-to-terms-of-use-and-pr">In general, travel insurance to Canada costs about 3 – 10% of your total prepaid and non-refundable trip expenses. The cost of travel insurance depends on two factors for Travel Protection plans: </p>
									<ul class="medical-emergencies-your-heal">
										  <li class="lost-baggage-airlines-sometim">
												<b class="lost-baggage">Total Trip cost: </b>
												<span>The total non-prepaid and non-refundable costs you have already paid for your upcoming trip. This includes prepaid excursions, plane tickets, cruise costs, etc.  </span>
										  </li>
										  <li>
												<b class="lost-baggage">Age:</b>
												<span class="lost-baggage"> Like any other insurance type, the correlation is rooted in increased health risks associated with older individuals. It's important to note that this doesn't make travel insurance unattainable for older individuals. </span>
										  </li>
									</ul></div>
							  </div>
							</div>
							<div class="new-group-parent40">
							  <div class="new-group-parent27">
								<div class="new-what-type-of-life-insurance-i-wrapper">
								  <b class="new-what-type-of">Can you buy travel insurance after booking a flight? </b>
								</div>
								<img class="new-arrow-left-s-line-icon1" alt="" src="/statics/img/Life_Insurance/arrow-left-s-line.svg">
							  </div>
							  <div class="new-rectangle-parent29 new-content">
								<div class="new-group-child35"></div>
								<div class="new-with-b-insure-life"><p class="i-agree-to-terms-of-use-and-pr">Absolutely, travelers have the option to purchase travel insurance for Canada after they've booked their flights.  </p>
									<p class="i-agree-to-terms-of-use-and-pr">It's advisable to purchase travel insurance for your trip as soon as you have made your initial trip deposit (prepaid and non-refundable trip costs.)  </p>
									<p class="i-agree-to-terms-of-use-and-pr">Travel Protection offers coverage as soon as you purchase your protection plan. We can give coverage against unforeseen events before you leave for your trip.  </p>
									<p class="i-agree-to-terms-of-use-and-pr">Additionally, our policies offer coverage for preexisting medical conditions and Cancel for Any Reason if you purchase your protection within 14 days of making your initial trip deposit. </p></div>
							  </div>
							</div>
							
						  </span>
      			</div>
    		</div>
    		<div class="group-parent36">
      			<div class="rectangle-parent27">
        				<div class="group-child28">
        				</div>
        				<div class="group-parent37">
          					<div class="group-wrapper25">
            						<div class="image-35-parent">
              							<div class="image-35-parent">
                								<div class="image-35-parent">
                  									<img class="image-35-icon" alt="" src="/statics/img/home/nav/image 35.svg">
                  									
                  									<div class="group-child29">
                  									</div>
                								</div>
                								<img class="bi-icon1" alt="" src="/statics/img/home/nav/Bi.svg">
                								
              							</div>
            						</div>
          					</div>
          					<div class="po-box-9999-container">
            						<p class="i-agree-to-terms-of-use-and-pr">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
            						<p class="i-agree-to-terms-of-use-and-pr">&nbsp;</p>
            						<p class="i-agree-to-terms-of-use-and-pr">999-888-0000 . </p>
            						<p class="i-agree-to-terms-of-use-and-pr">care@binsure.ca</p>
          					</div>
        				</div>
        				<div class="group-child30">
        				</div>
        				<div class="quick-links-parent">
          					<b class="quick-links">Quick links</b>
          					<div class="sitemap">Sitemap</div>
          					<div class="careers">Careers</div>
          					<div class="contact-us">Contact us</div>
          					<div class="insurance">Insurance</div>
          					<div class="blog">Blog</div>
          					<div class="faqs">Faqs</div>
          					<div class="about">About</div>
        				</div>
        				<div class="terms-of-use-parent">
          					<div class="terms-of-use1">Terms of use</div>
          					<div class="privacy-policy1">Privacy Policy</div>
          					<div class="cookie-policy">Cookie policy</div>
          					<b class="quick-links">Legal</b>
        				</div>
        				<div class="copyright-2024">Copyright © 2024  Inc. All rights reserved.</div>
        				<img class="b-insure-variantsfooter-inner" alt="" src="/statics/img/why/footer/Group 536.svg">
        				
      			</div>
      			<div class="rectangle-parent28">
        				<div class="group-child32">
        				</div>
        				<div class="button-with-icon-group">
          					<div class="button-with-icon2">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Become a partner</b>
            						</div>
          					</div>
          					<div class="button-with-icon3">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Join our team</b>
            						</div>
          					</div>
          					<div class="group-wrapper27">
            						<div class="join-the-team-that-is-making-h-parent">
              							<div class="join-the-team">Join the team that is making health insurance simple, transparent, and human.</div>
              							<b class="change-insurance-for">Change insurance for good</b>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="group-parent39">
      			<div class="rectangle-parent29">
        				<div class="group-child33">
        				</div>
        				<div class="feature-21">
        				</div>
      			</div>
      			<div class="group-wrapper28">
        				<div class="group-parent40">
          					<div class="group-parent41">
            						<div class="group-parent42">
              							<div class="group-parent43">
                								<div class="need-to-cancel-your-trip-due-t-wrapper">
                  									<b class="add-listing">Need to cancel your trip due to an unforeseen event? </b>
                								</div>
                								<img class="arrow-left-s-line-icon8" alt="" src="/statics/img/arrow-left-s-line1.svg">
                								
              							</div>
              							<div class="rectangle-parent30">
                								<div class="group-child34">
                								</div>
                								<div class="get-coverage-for">Get coverage for your trip against illnesses, injuries, and natural disasters. Travel insurance can reimburse you for your prepaid, non-refundable trip costs.</div>
              							</div>
            						</div>
            						<div class="group-parent44">
              							<div class="group-parent43">
                								<div class="was-your-luggage-lost-or-stole-wrapper">
                  									<b class="add-listing">Was your luggage lost or stolen? </b>
                								</div>
                								<img class="arrow-left-s-line-icon8" alt="" src="/statics/img/arrow-left-s-line1.svg">
                								
              							</div>
              							<div class="rectangle-parent31">
                								<div class="group-child35">
                								</div>
                								<div class="get-coverage-for">
                  									<p class="i-agree-to-terms-of-use-and-pr">Our travel plans can offer reimbursement for the value of your belongings, up to the policy limit.</p>
                  									<p class="i-agree-to-terms-of-use-and-pr">This includes coverage for lost or stolen passports, visas, or other important travel documents, as well as any necessary expenses related to replacing these items.</p>
                								</div>
              							</div>
            						</div>
            						<div class="group-parent46">
              							<div class="group-parent43">
                								<div class="stranded-due-to-unexpected-tra-wrapper">
                  									<b class="add-listing">Stranded due to unexpected travel delays?</b>
                								</div>
                								<img class="arrow-left-s-line-icon8" alt="" src="/statics/img/arrow-left-s-line1.svg">
                								
              							</div>
              							<div class="rectangle-parent32">
                								<div class="group-child36">
                								</div>
                								<div class="get-coverage-for">Whether it’s rebooking your flight, finding alternative transportation, or providing a place to stay, our 24/7 travel assistance team is here to help!</div>
              							</div>
            						</div>
            						<div class="why-should-i-purchase-travel-i-parent">
              							<b class="why-should-i">Why should I purchase Travel Insurance? </b>
              							<div class="whether-youre-embarking">Whether you're embarking on a weekend getaway  or a month-long adventure, unexpected events can happen. A  protection plan can help ease your mind and help safeguard your trip, offer reimbursement for covered medical costs, and provide travelers with 24/7 access to assistance services, among other benefits.</div>
            						</div>
          					</div>
          					<div class="button-with-icon4">
            						<div class="add-listing-wrapper">
              							<b class="add-listing">Get a Quote</b>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="why-buy-insurance-1">
        				<div class="group1">
          					<div class="image-35-parent">
            						<img class="group-icon1" alt="" src="/statics/img/Travel_Insurance/Group (1).svg">
            						<!-- <img class="group-icon10" alt="" src="Group.svg"> -->
            						
          					</div>
        				</div>
      			</div>
    		</div>
    		<!-- <img class="group-icon11" alt="" src="Group.svg"> -->
    		
    		<img class="travel-insurance-child" alt="" src="/statics/img/Travel_Insurance/Group 1984.svg">
    		
    		<div class="rectangle-parent33">
      			<div class="group-child37">
      			</div>
      			<div class="group-parent48">
        				<div class="travel-insurance-plans-parent">
          					<b class="add-listing">Travel insurance plans.</b>
          					<div class="get-out-there-container">
            						<p class="i-agree-to-terms-of-use-and-pr">Get out there and enjoy yourself knowing you have the right coverage and 24/7 access to a caring team </p>
            						<p class="i-agree-to-terms-of-use-and-pr">who’s always on call—no matter how big or how small the emergency.</p>
          					</div>
        				</div>
        				<div class="card">
          					<b class="canadian-residents">Canadian Residents</b>
          					<div class="without-sufficient-travel-container">
            						<p class="i-agree-to-terms-of-use-and-pr">
              							<span>
                								<span>Without sufficient travel insurance, you could be out-of-pocket for emergency health care, get customized packages as</span>
              							</span>
            						</p>
            						<p class="blank-line4">
              							<span>
                								<span>&nbsp;</span>
              							</span>
            						</p>
            						<ul class="vacation-package-emergency-med">
              							<li class="lost-baggage-airlines-sometim">
                								<span>
                  									<b>Vacation Package</b>
                								</span>
              							</li>
              							<li class="lost-baggage-airlines-sometim">
                								<span>
                  									<b>Emergency Medical + Trip</b>
                								</span>
              							</li>
              							<li>
                								<span>
                  									<b>Only Emergency Medical</b>
                								</span>
              							</li>
            						</ul>
          					</div>
          					<div class="icon-100-112">
          					</div>
          					<div class="buy-now-parent">
            						<b class="buy-now">Buy now</b>
            						<img class="arrow-left-s-line-icon11" alt="" src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">
            						
          					</div>
          					<img class="card-child" alt="" src="/statics/img/Travel_Insurance/Group 1997.svg">
          					
        				</div>
        				<div class="card1">
          					<b class="canadian-residents">Visitors to Canada</b>
          					<div class="individuals-or-families">Individuals or families visiting Canada can purchase a medical plan with benefits, such as emergency medical and dental, family transportation, medical repatriation and more.</div>
          					<div class="icon-100-113">
          					</div>
          					<div class="buy-now-group">
            						<b class="buy-now">Buy Now</b>
            						<img class="arrow-left-s-line-icon12" alt="" src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">
            						
          					</div>
          					<img class="commercial-1-icon" alt="" src="/statics/img/Travel_Insurance/Group.svg">
          					
        				</div>
        				<div class="card2">
          					<b class="canadian-residents">
            						<p class="i-agree-to-terms-of-use-and-pr">Top-up, Extension </p>
            						<p class="i-agree-to-terms-of-use-and-pr">Plans and Riders</p>
          					</b>
          					<div class="staying-longer-than">Staying longer than expected? Stay protected by adding a Top-up or extension plan to your travel insurance policy. Check out our various riders’ descriptions to see exactly what's included in your plan for additional optional coverage.</div>
          					<img class="icon-100-114" alt="" src="/statics/img/Travel_Insurance/travel-insurance 1.svg">
          					
          					<div class="check-out-offers-parent">
            						<b class="buy-now">Check out offers</b>
            						<img class="arrow-left-s-line-icon13" alt="" src="/statics/img/Travel_Insurance/arrow-left-s-line ll.svg">
            						
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
</div>
  	
  	<script src="statics/js/ff.js"></script>
	</body>
</html>