<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="statics/css/why.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cunia:wght@700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" />
  	
  	
  	
</head>
<body>
  	<div class="why-insu">
  	<div class="why-insurance-and-how-it-works">
    		<img class="close-line-icon" alt="" src="/statics/img/home/nav/close-line.svg">
    		
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<img class="image-2-icon" alt="" src="image 2.png">
    		
    		<div class="infobar">
      			<div class="infobar-child">
      			</div>
      			<img class="close-line-icon1" alt="" src="/statics/img/home/nav/close-line.svg">
      			
      			<div class="heads-up-our">Heads Up! Our site is currently undergoing maintenance. If you receive an error, please try again later. Thanks for your patience."</div>
    		</div>
    		<div class="about-hero-background-parent">
      			<div class="about-hero-background">
      			</div>
      			<div class="about-hero-heading">
        				<b class="why-you-need">Why you need insurance?</b>
        				<div class="your-time-matters">Your time matters, and so does your stuff. Insurance exists to protect you, your family, or your stuff from unexpected losses. The most common forms of insurance are home insurance, car insurance, and health insurance, travel insurance.  Get a personalized  insurance quotes in 5 minutes. That’s less time than it takes to wait in line for coffee. </div>
      			</div>
    		</div>
    		<div class="rectangle-parent">
      			<div class="group-child">
      			</div>
      			<div class="button-with-icon-parent">
        				<div class="button-with-icon">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a free quote</b>
          					</div>
        				</div>
        				<div class="button-with-icon1">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Become a partner</b>
          					</div>
        				</div>
        				<div class="group-wrapper">
          					<div class="group-container">
            						<div class="group-container">
              							<div class="join-the-team">Join the team that is making health insurance simple, transparent, and human.</div>
              							<b class="change-insurance-for">Change insurance for good</b>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="b-insure-variants">
      			<div class="b-insure-variants-child">
      			</div>
      			<div class="b-insure-variants-item">
      			</div>
      			<div class="group-parent">
        				<div class="image-35-parent">
          					<img class="image-35-icon" alt="" src="/statics/img/home/nav/image 35.svg">
          					
          					<div class="group-item">
          					</div>
        				</div>
        				<img class="bi-icon" alt="" src="/statics/img/home/nav/Bi.svg">
        				
      			</div>
      			<div class="frame-parent">
					<div class="home-wrapper" id="frameContainer">
						<b class="home">Home</b>
				  </div>
				  <div class="individual-wrapper" id="frameContainer1">
						<div class="home">Individual </div>
						<div id="individualDropdown" class="dropdown">
							  <div class="dropdown-option" value="option1" id="individualOption1">
									<div class="line1"><b>Life</b></div>
									<div class="line2">Protect your loved ones</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="individualOption2">
									<div class="line1"><b>Automobile</b></div>
									<div class="line2">Protect your vehicle</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="individualOption3">
									<div class="line1"><b>Home</b></div>
									<div class="line2">Protect your dream home</div>
							  </div>
						</div>
				  </div>
				  <div class="commercial-wrapper" id="frameContainer3">
						<div class="home">Commercial</div>
						<div id="commercialDropdown", class="dropdown">
							  <div class="dropdown-option" value="option1" id="commercialOption1">
									<div class="line1"><b>Auto</b></div>
									<div class="line2">For your fleet</div>
							  </div>
							  <div class="dropdown-option" value="option2" id="commercialOption2">
									<div class="line1"><b>General Liability</b></div>
									<div class="line2">Travel around the world care free</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption3">
									<div class="line1"><b>Warehouse</b></div>
									<div class="line2">Protect your warehouse</div>
							  </div>
							  <div class="dropdown-option" value="option3" id="commercialOption4">
									<div class="line1"><b>Restaurants</b></div>
									<div class="line2">Protect your food business</div>
							  </div>
						</div>
				  </div>
				  <div class="travel-wrapper" id="frameContainer3">
						<div class="home">Travel</div>
				  </div>
				  <div class="support-wrapper" id="frameContainer4">
						<div class="home">Support</div>
						<div id="support-Dropdown", class="dropdown">
						<div class="dropdown-option" value="option1" id="supportOption1">
							  <div class="line1"><b>Contact us</b></div>
							  <div class="line2">We’ve got your back</div>
						</div>
						<div class="dropdown-option" value="option2" id="supportOption2">
							  <div class="line1"><b>About us</b></div>
							  <div class="line2">Why you matter</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption3">
							  <div class="line1"><b>How it works</b></div>
							  <div class="line2">How we do things</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption4">
							  <div class="line1"><b>FAQs</b></div>
							  <div class="line2">General topics</div>
						</div>
						<div class="dropdown-option" value="option3" id="supportOption5">
							  <div class="line1"><b>Blog</b></div>
							  <div class="line2">Insurance Knowledge Resource</div>
						</div>
				  </div>
				  </div>
        				<div class="button-with-icon2">
          					<div class="add-listing-wrapper">
            						<b class="add-listing">Get a Quote</b>
          					</div>
        				</div>
        				<div class="group-inner">
        				</div>
        				<img class="search-line-icon" alt="" src="/statics/img/home/nav/search-line.svg">
        				
      			</div>
      			<b class="binsure">BINSURE</b>
    		</div>
    		<div class="rectangle-group">
      			<div class="rectangle-div">
      			</div>
      			<div class="but-why-should-you-invest-in-a-parent">
        				<b class="but-why-should">But why should you invest in an insurance when state of claims is so unsure?</b>
        				<div class="group-div">
          					<div class="group-parent1">
            						<div class="rectangle-container">
              							<div class="group-child1">
              							</div>
              							<div class="schedule-a-free-consultation-wrapper">
                								<b class="schedule-a-free">Schedule a Free Consultation</b>
              							</div>
            						</div>
            						<div class="the-insurance-industry-container" id="first-para">
              							<p class="the-insurance-industry">The insurance industry doesn’t have the greatest reputation when it comes to claims. Many people fear their insurer will go to any length possible to avoid paying claims. At , we’re different. We’re there when you need us most.</p>
              							<p class="the-insurance-industry">&nbsp;</p>
              							<p class="the-insurance-industry">We’re committed to changing how you think of insurance. We’ll make sure your claim is handled quickly and fairly. </p>
              							<p class="the-insurance-industry">&nbsp;</p>
              							<p class="the-insurance-industry">We are trying to empower community to be aware of insurance</p>
              							<p class="the-insurance-industry">knowledge you can help us in that by always looking for these items.</p>
            						</div>
          					</div>
          					<div class="group-parent2">
            						<div class="rectangle-parent1">
              							<div class="group-child2">
              							</div>
              							<img class="icon-100-1" alt="" src="/statics/img/why/Price 1.svg">
              							
              							<b class="price">Price.</b>
              							<div class="pricing-depends-on">Pricing depends on factors sometimes undermined</div>
            						</div>
            						<div class="rectangle-parent2">
              							<div class="group-child3">
              							</div>
              							<img class="icon-100-11" alt="" src="/statics/img/why/deduction 1.svg">
              							
              							<b class="deductibles">Deductibles.</b>
              							<div class="deductibles-hidden-and">Deductibles Hidden and based on your actions, selections and type of usage and policy clauses.</div>
            						</div>
            						<div class="rectangle-parent3">
              							<div class="group-child2">
              							</div>
              							<img class="icon-100-1" alt="" src="/statics/img/why/coverage-2 1.svg">
              							
              							<div class="coverage-parent">
                								<b class="add-listing">Coverage.</b>
                								<div class="coverage-depends-on">Coverage depends on type of claim factors, risks, conditions, cover</div>
              							</div>
            						</div>
            						<div class="rectangle-parent4">
              							<div class="group-child3">
              							</div>
              							<img class="icon-100-11" alt="" src="/statics/img/why/Cancellation 1.svg">
              							
              							<b class="deductibles">The cancellation policy</b>
              							<div class="deductibles-hidden-and">How difficult the cancellation can be and how to do it correctly is often not transparent.</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<img class="why-insurance-and-how-it-works-child" alt="" src="/statics/img/why/Group 744.svg">
    		
    		<img class="background-simple-icon" alt="" src="/statics/img/why/Background_Complete.svg">
    		
    		<img class="shadow-1-icon" alt="" src="/statics/img/why/Shadow_1_.svg">
    		
    		<img class="trash-bin-icon" alt="" src="/statics/img/why/Trash_bin.svg">
    		
    		<img class="character-icon" alt="" src="/statics/img/why/Character.svg">
    		
    		<img class="thought-bubble-icon" alt="" src="/statics/img/why/Thought_Bubble.svg">
    		
    		<img class="plant-icon" alt="" src="/statics/img/why/Plant.svg">
    		
    		<img class="group-icon1" alt="" src="/statics/img/why/Group (1).svg">
    		
    		
    		<div class="b-insure-variantsfooter">
      			<div class="b-insure-variantsfooter-child">
      			</div>
      			<div class="group-parent3">
        				<div class="group-frame">
          					<div class="image-35-parent">
            						<div class="image-35-parent">
              							<div class="image-35-parent">
                								<img class="image-35-icon" alt="" src="/statics/img/home/nav/image 35.svg">
                								
                								<div class="group-child6">
                								</div>
              							</div>
              							<img class="bi-icon1" alt="" src="/statics/img/home/nav/Bi.svg">
              							
            						</div>
          					</div>
        				</div>
        				<div class="po-box-9999-container">
          					<p class="the-insurance-industry">P.O. Box 9999, Station BMontreal, OM M5M 3R4</p>
          					<p class="the-insurance-industry">&nbsp;</p>
          					<p class="the-insurance-industry">999-888-0000 . </p>
          					<p class="the-insurance-industry">care@binsure.ca</p>
        				</div>
      			</div>
      			<div class="b-insure-variantsfooter-item">
      			</div>
      			<div class="quick-links-parent">
        				<b class="quick-links">Quick links</b>
        				<div class="sitemap" id="sitemapText">Sitemap</div>
        				<div class="careers" id="careersText">Careers</div>
        				<div class="contact-us" id="contactUsText">Contact us</div>
        				<div class="blog">Blog</div>
        				<div class="faqs">FAQs</div>
        				<div class="about">About</div>
      			</div>
      			<div class="terms-of-use-parent">
        				<div class="terms-of-use" id="termsOfUse">Terms of use</div>
        				<div class="privacy-policy" id="privacyPolicyText">Privacy Policy</div>
        				<div class="cookie-policy" id="cookiePolicyText">Cookie policy</div>
        				<b class="quick-links">Legal</b>
      			</div>
      			<div class="copyright-2024">Copyright © 2024  Inc. All rights reserved.</div>
      			<img class="b-insure-variantsfooter-inner" alt="" src="/statics/img/why/footer/Group 536.svg">
      			
    		</div>
    		<div class="about-hero-background-group">
      			<div class="about-hero-background1">
      			</div>
      			<div class="group-parent5">
        				<div class="group-parent6">
          					<div class="how-saves-your-time-and-money-parent">
            						<b class="how-saves-your">How  saves your time and money</b>
            						<div class="how-it-works">HOW IT WORKS</div>
          					</div>
          					<div class="its-simple-just-container">
            						<p class="the-insurance-industry"> It’s simple! Just answer a few questions and </p>
            						<p class="the-insurance-industry">customize your insurance coverage. Then, buy directly online.</p>
          					</div>
        				</div>
        				<div class="group-parent7">
          					<div class="group-parent8">
            						<div class="group-wrapper2">
              							<div class="purchase-wrapper">
                								<b class="add-listing">Purchase</b>
              							</div>
            						</div>
            						<div class="our-process-is-container">
              							<p class="the-insurance-industry">Our process is easy and our customer-friendly system walks the client through the process from start to finish.</p>
              							<ol class="request-a-quote-online-or-by-p">
                								<li class="request-a-quote">Request a quote online or by phone</li>
                								<li class="request-a-quote">Choose the right quote from our participating insurance carriers</li>
                								<li>Fill out the online application and print out the policy confirmation</li>
              							</ol>
            						</div>
          					</div>
          					<div class="icon-100-1-parent">
            						<div class="icon-100-1-parent">
              							<div class="icon-100-14">
              							</div>
              							<img class="image-41-icon" alt="" src="/statics/img/why/image 41 (1).svg">
              							
            						</div>
          					</div>
        				</div>
        				<div class="group-parent9">
          					<div class="group-wrapper4">
            						<div class="group-parent10">
              							<div class="group-wrapper5">
                								<div class="manage-wrapper">
                  									<b class="add-listing">Manage</b>
                								</div>
              							</div>
              							<div class="our-process-is-container">
                								<p class="the-insurance-industry">Customer service is our top priority. The convenience of insuring online doesn't stop with the purchasing process. With B-Insure, clients can:</p>
                								<ul class="view-update-and-change-polici">
                  									<li class="request-a-quote">
                    										<span>View, update and change policies online anytime</span>
                  									</li>
                  									<li class="request-a-quote">
                    										<span>Contact our experienced broker support staff via email or phone</span>
                  									</li>
                  									<li class="request-a-quote">
                    										<span>Report a claim online* or call a toll-free number for each individual insurer</span>
                  									</li>
                								</ul>
                								<p class="the-insurance-industry">
                  									<i>*Claims reporting is not available online for all product lines.</i>
                								</p>
              							</div>
            						</div>
          					</div>
          					<div class="group-wrapper6">
            						<div class="icon-100-1-parent">
              							<div class="icon-100-14">
              							</div>
              							<img class="image-41-icon" alt="" src="/statics/img/why/image 41 (2).svg">
              							
            						</div>
          					</div>
        				</div>
        				<div class="group-parent11">
          					<div class="group-wrapper7">
            						<div class="group-parent10">
              							<div class="compare-wrapper">
                								<div class="compare-wrapper">
                  									<b class="add-listing">Compare</b>
                								</div>
              							</div>
              							<div class="our-process-is-container">
                								<p class="the-insurance-industry">We do the insurance shopping. Through extensive research, we pick only quality insurance companies to provide quotes. Based on an individual’s needs, we review the market and show multiple quotes. This enables the client to compare and choose the right coverage at the right price.</p>
                								<p class="the-insurance-industry">&nbsp;</p>
                								<p class="the-insurance-industry">Our main goal is to provide consumers with as much information as possible, whether online or by speaking with one of our knowledgeable insurance brokers.</p>
              							</div>
            						</div>
          					</div>
          					<div class="group-wrapper9">
            						<div class="icon-100-1-container">
              							<div class="icon-100-16">
              							</div>
              							<img class="image-41-icon2" alt="" src="/statics/img/why/image 41.svg">
              							
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<img class="why-insurance-and-how-it-works-item" alt="" src="Group 2029.png">
    		
    		<img class="why-insurance-and-how-it-works-inner" alt="" src="Group 2033.png">
    		
    		<img class="insurance-icon" alt="" src="INSURANCE.svg">
    		
  	</div>
  	
</div>
  	
  	
  	<script src="statics/js/ff.js"></script></body>
</html>